[2014-06-16 22:55] pixelzoom opened #46 "change 'Custom' screen name?"
See https://github.com/phetsims/acid-base-solutions/issues/122

The 'Custom Solutions' screen in Acid-Base Solutions was renamed 'My Solution'.  pH Scale has a similar screen, currently named 'Custom'.  Is any change required for pH Scale?

[2015-02-25 00:25] pixelzoom opened #55 "problematic bounds mutation"
In GraphNode, line 137:

[code]

This will be a problem when scenery bounds are mutable. Replace `dilate` with `dilated`.

[2015-02-25 00:26] #55 closed

[2015-05-22 20:42] pixelzoom opened #56 "i18n layout issues"
This sim has some i18n layout issues that are apparent with ?stringTest=double, see screenshot.

![screenshot_527](https://cloud.githubusercontent.com/assets/3046552/7779331/c0e0fed8-0090-11e5-9f8e-a8a7cf46a6f5.png)

[2015-05-26 16:58] pixelzoom commented on #46
@ycarpenterphet We'll be redeploying this sim sometime soon, specially for translations. If you want to make this change, now would be the time, before it gets translated. Your decision?...

[2015-05-26 17:03] pixelzoom commented on #56
Work on this after https://github.com/phetsims/scenery/issues/428 is completed.

[2015-05-29 19:53] ycarpenterphet commented on #46
Let's go ahead and rename the screen 'My Solution.'

It will make things a bit more consistent across sims, and have the bonus that it is less ambiguous in the series of screen names (with Custom following on the heels of 'Macro' and 'Micro', it could easily imply to teachers that you're customizing the scale at which you're observing, rather than the solution itself, even though this isn't the ca

[2015-05-29 20:10] pixelzoom commented on #46
@ycarpenterphet:

Screen has been renamed "My Solution".  GitHub directory structure and JavaScript file names have been modified accordingly.

Here's the dev version requested:
http://www.colorado.edu/physics/phet/dev/html/ph-scale/1.2.0-dev.1/ph-scale_en.html

I have no idea when this sim is likely to be redeployed. I suggest that you communicate with @ariel-phet if there are scheduling dependen

[2015-05-29 21:14] ycarpenterphet commented on #46
Dev version looks great, thanks! I'll touch base with @ariel-phet about the deployment.

Closing this issue.

[2015-05-29 21:14] #46 closed

[2015-06-02 23:23] ycarpenterphet opened #57 "Once sim is redeployed, publish primer video to website"
The teacher primer video has been recorded using the updated dev version (http://www.colorado.edu/physics/phet/dev/html/ph-scale/1.2.0-dev.1/ph-scale_en.html) with the new title for the last screen (My Solution).

Since we want the primer and sim to match, we will wait until the sim is redeployed to post the video to vimeo/the sim page.

@schasteen Will be doing the final production and upload of

[2015-06-09 18:09] ycarpenterphet opened #58 "Once sim is redeployed, publish Teacher Tips to website"
The Teacher Tips document for pH scale was created using the updated screenshots and screen title for the third screen, 'My Solution' (similar to #57).

Again, we want the documentation to match the published sim, so we'll hold off uploading the Teacher Tips PDF until the sim is redeployed.

Assigning @pixelzoom for now - please reassign this issue to @amanda-phet once the updated sim has been pub

[2015-07-07 22:01] pixelzoom commented on #56
Tested with stringTest=double and stringTest=X, no layout issues noted. Closing.

[2015-07-07 22:01] #56 closed

[2015-07-23 19:24] ycarpenterphet commented on #58
Decided to go ahead and upload this file in advance of the redeploy, even though we'll save the primer until after redeploy.

Closing.

[2015-07-23 19:24] #58 closed

[2015-08-31 15:31] pixelzoom opened #59 "RC patches for 1.2 branch"
This issue tracks common-code changes that occurred after the 1.2 branch was created, and must be patched in for "Summer 2015 redeploy".

[2015-08-31 15:32] pixelzoom commented on #59
1.2.0-dev.1 needs these patches:

https://github.com/phetsims/joist/issues/296 (Add additional Google Analytics tracker)
https://github.com/phetsims/phet-edmodo/issues/2 (https://github.com/phetsims/phet-edmodo/issues/2)

[2015-08-31 19:18] pixelzoom opened #60 "add visibility annotations"
Add @public, @protected or @private annotations to anything that's publicly visible.
See https://github.com/phetsims/tasks/issues/307.

[2015-08-31 23:17] #60 closed

[2015-09-08 20:26] pixelzoom commented on #59
The above patches are now irrelevant. RC testing has been put on hold pending Rosetta beta testing, and I'll be generating a new 1.2.0-rc.1 when testing resumes.  I'll leave this issue open in case additional issues surface after we resume RC testing.

[2015-09-08 20:29] pixelzoom commented on #59
Unassigning until we resume RC testing.

[2015-09-23 16:43] pixelzoom commented on #59
Starting over on RC testing for 1.2 branch, so the above patches can be ignored.

[2015-09-23 18:35] pixelzoom commented on #59
Closing this issue. I'm going to keep track of any patches in the test task for the release candidate. If any release candidate needs patches, another test cycle will be required.

[2015-09-23 18:35] #59 closed

[2015-10-27 18:53] pixelzoom opened #61 "use ProbeNode for pH probe"
Replace pH-meter-probe.png with scenery-phet.ProbeNode, similar to the work that was done in phetsims/beers-law-lab#111.

[2015-10-27 18:55] pixelzoom commented on #61
Should be able to copy what was done in beers-law-lab.ConcentrationMeterNode.ConcentrationProbeNode (line 159), and change color, lightAngle and rotation options.

[2015-10-27 19:48] pixelzoom commented on #61
ProbeNode is integrated. But in the orientation required by ph-scale, ProbeNode has problems, see https://github.com/phetsims/ph-scale/issues/61.  This issue will remain open until ProbeNode is fixed.

[2015-10-29 19:44] pixelzoom commented on #61
This is a blocking issue for republication of ph-scale and ph-scale-basics, so raising the priority.

[2015-10-30 17:41] pixelzoom opened #62 "add QA credits"
@ariel-phet This sim currently has no QA credits. Please specify the QA credits, ordered alphabetically by last name.  The same credits will be used for ph-scale-basics.

[2015-10-30 19:16] ariel-phet commented on #62
Steele Dalton, Bryce Griebenow, Elise Morgan, Oliver Orejola, Benjamin Roberts, Bryan Yoelin

[2015-10-30 21:09] #62 closed

[2015-11-09 21:34] pixelzoom commented on #61
While phetsims/scenery-phet#196 is not resolved, the probe now looks OK in the specific orientation needed by ph-scale.  So closing this issue.

[2015-11-09 21:34] #61 closed

[2015-11-11 00:25] pixelzoom opened #63 "add namespace"
See https://github.com/phetsims/tasks/issues/378

[2015-11-11 23:06] pixelzoom commented on #63
Sim is currently in RC test, do this after 1.2.0 is published.

[2015-11-12 22:43] BryceAG opened #64 "Bug with H30+/OH- ratio showing when not checked"
Test device: Schrodinger

Operating System: Windows 8, recreated on windows 7 and OS X 10.9.5

Browser: Chrome, firefox, internet explorer, safari

Problem description:
The  H30+/OH- ratio can show when not checked

Steps to reproduce:
Go to the micro section, check and uncheck the ratio box. Empty the beaker of all fluid. Upon refilling it will show the colored dots. It will show the same pattern

[2015-11-13 00:05] brroberts1231 opened #65 "Bug where ph sensor gives a value outside of liquid"
Test device: Personal, Chadwick, Schrodinger

Operating System: Win 7, recreated on Chromebook, Win 8

Browser: Chrome, Firefox, Internet Explorer

Problem description: In the Macro tab of the sim, when the probe is in the very top-left corner, it will display the pH as if it were inside the liquid. Also, if you start draining the liquid, the sensor will display a pH of 7 (no matter what pH the li

[2015-11-13 19:00] pixelzoom commented on #64
Reproduced in 1.2.0-rc.1.  This was not a problem in published on the PhET website (1.1.1, Nov 18, 2014).  This representation (the "colored dots") is implemented in `ph-scale.RatioNode`, and it uses `scenery.CanvasNode`.  Adding debug output to `RatioNode.setVisible` shows that `this.visible === false`, but it is for some reason visible.

@jonathanolson This smells a lot like https://github.com/p

[2015-11-13 19:01] jonathanolson commented on #64
Looking into it.

[2015-11-13 19:03] pixelzoom commented on #65
Reproduced in 1.2.0-rc.1 and in 1.1.1 on PhET website, so not a new problem.

[2015-11-13 19:11] jonathanolson commented on #64
Tracking Scenery changes in the above-marked Scenery issue. I've verified it's a Scenery bug in the same general system that caused https://github.com/phetsims/beers-law-lab/issues/116, but they are both independent.

[2015-11-13 19:22] pixelzoom commented on #65
Problem is specific to when the probe's location is (0,0).  At this line in MacroPHMeterNode, `probeNode.isInDrainFluid()` is erroneously returning true:

`435 if ( probeNode.isInSolution() || probeNode.isInDrainFluid() ) {`

So at (0,0), the probe thinks it's in fluid coming out of the drain faucet.

[2015-11-13 19:33] pixelzoom commented on #65
In MacroPHMeterNode.ProbeNode.isInDrainFluid`, the bounds of `drainFluidNode` are reported to be `[x:(-0.5,0.5),y:(-0.5,0.5)]`, which is clearly incorrect.  Looking at `FaucetFluidNode` (the type of `drainFluidNode`), it uses an empty rectangle positioned at (0,0) when there is no fluid:

`42 thisNode.setRect( 0, 0, 0, 0 ); // empty rectangle`

So the position of this rectangle is the problem. Cha

[2015-11-13 19:36] pixelzoom commented on #65
One-line fix (as shown above) in master and 1.2 branch. No need to do another RC for this specific issue.

Closing.

[2015-11-13 19:36] #65 closed

[2015-11-13 19:42] jonathanolson commented on #64
Fix applied in Scenery master, can you confirm?

[2015-11-16 02:15] pixelzoom commented on #64
Fix confirmed.  Nice that it was a one-line fix in scenery. Unfortunate that we'll need to update to master and do another full RC test cycle. This is yet another example of how PhET's SCM process does not address our real needs. See https://github.com/phetsims/chipper/issues/395#issuecomment-156889888.

Closing.

[2015-11-16 02:15] #64 closed

[2015-11-16 04:13] pixelzoom commented on #65
Related to RC test https://github.com/phetsims/tasks/issues/420.

[2015-11-16 04:13] pixelzoom commented on #64
Related to RC test https://github.com/phetsims/tasks/issues/420.

[2015-11-17 18:03] pixelzoom commented on #64
Fix was applied in https://github.com/phetsims/scenery/commit/c0c08ec5a6e97f467025d60a97274ffec57e2098.

[2015-11-17 18:49] pixelzoom opened #66 "remaining 1.2.0 redeploy items"
**Design/Admin**

- [x] Rosetta test (Opening sim to trusted translators for beta)
- [x] Check teacher tips are up to date
- [x] Republish primer video, https://github.com/phetsims/ph-scale/issues/57

[2015-11-17 18:50] pixelzoom commented on #57
@ariel-phet and @phetsims/schasteen ph Scale 1.2.0 has been deployed, so the primer video can be republished.  Assigning to @schasteen.

[2015-11-17 18:51] pixelzoom commented on #57
Guess I can't assign to @schasteen because she's not in the contributor list for this repo. Assigning to @ariel-phet.

[2015-11-17 19:06] ariel-phet commented on #57
@amanda-phet it seems like the primer stuff is best assigned to you for the moment.

[2015-11-17 19:57] amanda-phet commented on #57
Thanks. This is now uploaded.

[2015-11-17 19:57] #57 closed

[2015-11-17 20:05] #63 closed

[2015-11-17 20:05] pixelzoom commented on #63
1.2.0 is published. Namespace has been added. Closed.

[2015-11-18 16:17] ariel-phet commented on #66
All items complete, closing

[2015-11-18 16:17] #66 closed

[2016-08-18 22:49] pixelzoom opened #67 "Use reproducible random number generators"
Related to phetsims/phet-io#551.

For this sim:

- [x] replace Math.random with phet.joist.random.nextDouble

[2016-08-18 23:28] pixelzoom commented on #67
Done, tested, no problems noted. Closing.

[2016-08-18 23:28] #67 closed

[2016-08-25 23:36] pixelzoom opened #68 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:35] pixelzoom commented on #68
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:35] #68 closed

[2016-12-12 19:48] oliver-phet opened #69 "remove pH values from combo box"

[2016-12-12 20:01] pixelzoom commented on #69
Gotta say that I agree with this one - I've always found it odd that we display the pH values in the combo box.   (The combo box is also ordered by descending pH value.)

On the first screen, all you have to do is put the pH probe in the solution, like this:

![screenshot_94](https://cloud.githubusercontent.com/assets/3046552/21114639/f59e3ece-c06a-11e6-9957-b788c3430799.png)

On the second screen

[2016-12-12 20:04] ariel-phet commented on #69
My guess is this was done so that you could see how adding water or starting out with water and adding different known pH substances affected the solution.

Definitely a question for @amyh-phet and @emily-phet (we could also reach out to YY since this was her sim). I imagine this is documented in the design doc, YY was pretty thorough.

[2016-12-12 20:04] pixelzoom commented on #69
Whoops, accidentally deleted my comment.

[2016-12-12 20:07] pixelzoom commented on #69
Attempt to reproduce my comment....

Gotta say that I agree with this one. I've always found it odd that we display the pH values in the combo boxes. (And the combo boxes are ordered by descending pH, another potential give away.)

On the first screen, you can put the pH probe in the solution to measure the pH.  Simply leave it there if you want to switch between solutions for comparison.

![scree

[2016-12-12 20:11] pixelzoom commented on #69
@ariel-phet said:

I guess that's a reasonable reason. But (as this teacher points out) it sabotages the more introductory task of experimenting with (and comparing) various known solutions.

[2016-12-12 20:19] emily-phet commented on #69
@pixelzoom I would suggest reaching out to YY. I agree she will likely have something about this decision documented. Off the top of my head it seems needlessly redundant as you suggest, but I'd be surprised if there wasn't some reasoning behind it. We might disagree with the reasoning, but it would be nice to know what it was.

[2016-12-12 20:20] amyh-phet commented on #69
@oliver-phet  @ariel-phet @pixelzoom   I agree that having the pH in the combo box does provide redundant information and gives away a lot of information to the user.  I can look at the design docs to see if we can figure out why this was done.  My impression is that YY likely had a good reason for doing this, so it would be helpful to know her thinking before making changes.

[2016-12-12 20:28] ariel-phet commented on #69
@amyh-phet when you get a chance please peruse the design doc...if nothing is obvious, let me know and I will reach out to YY

[2016-12-12 21:18] amyh-phet commented on #69
@ariel-phet   I looked through the HTML 5 design doc and did not find any reason for labeling the solutions in the combo box with their pH. It looks like this behavior was carried over from the Java version. The only mention of the label for the solutions in the combo box was a justification for labeling solutions as Spit (pH 7.4) instead of Spit (7.4).  Thinking we'll need to reach out to YY to f

[2016-12-12 22:03] pixelzoom commented on #69
I looked through the design doc for the Java version - it's checked in to Unfuddle at https://phet.unfuddle.com/a#/projects/9404/repositories/23262/file?path=%2Ftrunk%2Fsimulations-java%2Fsimulations%2Fph-scale%2Fdoc%2Fph-scale-design.pdf&commit=74659. The mockups in that document don't show the pH value in the combo box.  So I'm not sure when or why it was introduced.

You might also consider ask

[2016-12-12 22:27] amyh-phet commented on #69
@pixelzoom   Thanks for checking the Java design doc.  I'll get in touch with Trish to see if she knows why this might have been included.

[2016-12-13 19:42] amyh-phet commented on #69
@oliver-phet  @pixelzoom @ariel-phet   I checked with Trish and she does not recall why this was included in the design.  Let me know if you need me to reach out to YY.

[2016-12-13 19:52] ariel-phet commented on #69
I will reach out to YY

[2016-12-13 19:52] oliver-phet commented on #69
Yes, let's reach out to YY. If she doesn't have a reason, I think we should consider removing.

[2016-12-13 19:58] ariel-phet commented on #69
YY says:

[2016-12-13 19:58] pixelzoom commented on #69
Presumably, if we decide to remove it from ph-scale, then we'll also want to remove it from ph-scale-basics.

Note to self:  This will be relatively easy to patch into a maintenance release. The change is in SoluteComboBox, from this:

[code]

to this:

[code]

[2017-01-05 19:17] pixelzoom commented on #69
Hi @ycarpenterphet. Nice to see your smiling face on GitHub. And happy new year!

@amyh-phet @ariel-phet If you'd like me to proceed with this change, assign to me.

[2017-01-06 13:48] ariel-phet commented on #69
@pixelzoom marking low priority - basically I would say make this change when you need a mental break from unit rates.

[2017-01-06 17:33] pixelzoom commented on #69
Code changes are done (master & 1.2 branches) and tested in requirejs mode.

I was unable to publish because the recent requirejs update (https://github.com/phetsims/chipper/issues/538) broke the sim deployment instructions. Discussing on Skype, there are now additional "npm update" instructions that are needed. Putting deployment on hold until instructions are fixed.

[2017-01-06 17:42] pixelzoom commented on #69
Note to self:  After https://github.com/phetsims/phet-info/issues/39 is addressed, need to deploy ph-scale 1.2.8 and ph-scale-basics 1.2.8.

[2017-01-10 17:54] pixelzoom commented on #69
@ariel-phet Do you want the screenshots updated for ph-scale and ph-scale-basics? The screenshots show the pH values in the combo box, but you'd really need to be looking for them to notice. Updating screenshots is not something that I'm equipped to do (no retina iPad).

[2017-01-10 17:55] pixelzoom commented on #69
Current thumbnail and screenshot:

![screenshot_112](https://cloud.githubusercontent.com/assets/3046552/21817981/53bd61aa-d723-11e6-8c59-9dae3056af1e.png)

![screenshot_113](https://cloud.githubusercontent.com/assets/3046552/21817984/561d8222-d723-11e6-9296-e3df1eaab2b1.png)

[2017-01-10 17:56] pixelzoom commented on #69
Actually, @ariel-phet never mind. I'll take the pH value out of the current screenshots in Photoshop.

[2017-01-10 18:55] pixelzoom commented on #69
ph-scale 1.2.8 and ph-scale-basics 1.2.8 have been deployed to the PhET website.   English versions of both sims were tested, several translations were spot tested.

This took about twice as long as it should have, because I spent considerable time dealing with faulty "sim deployment" instructions (see https://github.com/phetsims/phet-info/issues/39).

Closing.

[2017-01-10 18:57] pixelzoom commented on #69
Reopening. @oliver-phet please notify the user who requested this change. Then you can close this issue.

[2017-01-10 19:02] oliver-phet commented on #69
Email to user sent. Re-closing.

[2017-01-10 19:02] #69 closed

[2017-01-11 16:53] oliver-phet commented on #69
From user:

[2017-01-11 16:57] pixelzoom commented on #69
@oliver-phet Thanks for posting the user's reaction - nice to hear.

[2017-08-09 22:11] pixelzoom opened #70 "layout of panel is messed up"
Should look like this, as in published version 1.2.10:

![screenshot_341](https://user-images.githubusercontent.com/3046552/29146171-1be34c18-7d1d-11e7-812a-d96a4b9cf4ee.png)

Looks like this in master:

![screenshot_342](https://user-images.githubusercontent.com/3046552/29146179-283a7c70-7d1d-11e7-9a69-1a519f52a44e.png)

Zooming in on the messed up panel:

![screenshot_343](https://user-images.gi

[2017-08-09 22:13] pixelzoom commented on #70
Relevant code in BeakerControls.js:

[code]

[2017-08-09 22:18] pixelzoom commented on #70
This was probably broken when SubSupText was replaced with RichText in https://github.com/phetsims/ph-scale/commit/00fc1f90462d0e859e3685bfd6f9405354eb7b8b.

[2017-08-09 22:32] jonathanolson commented on #70
Investigating.

[2017-08-09 22:33] pixelzoom commented on #70
I'm guessing there was something specific about where SubSupText had its origin.

[2017-08-09 22:35] jonathanolson commented on #70
Likely broken when I added in multi-line support (VBox now holds lines, and that places the origin of the RichText in a different location).

I'll replace the VBox with custom layout in RichText, which should fix this.

[2017-08-09 22:55] jonathanolson commented on #70
Should be fixed with the above commit, can you verify?

[2017-08-09 23:07] pixelzoom commented on #70
👍 Closing.

[2017-08-09 23:07] #70 closed

[2018-03-05 19:13] jonathanolson opened #71 "CT failure with PressListener integration into RoundButtonView"
Noted in https://github.com/phetsims/sun/issues/336:
[code]

[2018-03-05 19:21] jonathanolson commented on #71
The easiest way to add a workaround to this failure would cause a slight difference in sim behavior: the dropper button would not appear to be pressed while the dropper is dispensing the initial liquid.

See https://www.colorado.edu/physics/phet/dev/html/ph-scale/1.3.0-dev.3/phet/ph-scale_en_phet.html for the behavior with the workaround, and https://www.colorado.edu/physics/phet/dev/html/ph-scale

[2018-03-05 19:22] jonathanolson commented on #71
Internally, having a PressListener start as "pressed" leaves it in an invalid state, since any call to things like interrupt/release would try to remove its listener from a pointer (which would be a null reference).

[2018-03-05 19:22] pixelzoom commented on #71
I don't think this issue belongs in ph-scale.  It's a general issue with the implementation of PressListener.

Autofill on startup is a required feature of the “Macro” screen in ph-scale.  A further requirement is that the momentary button on the eyedropper must be pressed while the dropper is dispensing fluid.   See MacroModel `startAutoFill`, which sets `this.dropper.dispensingProperty.set( true

[2018-03-05 19:24] pixelzoom commented on #71
@jonathanolson proposed:

No - this is not an acceptable change.  It affects not only this sim, but the ability of all sims to have buttons (or anything use that uses PressListener) that reflect the state of the model.   The state of buttons should reflect the state of the model, not the state of user interaction.

[2018-03-05 19:28] jonathanolson commented on #71
I'll be looking into it, but I disagree about the concept of the PressListener being a view. It allows you to pass in a Property to be used as a model, but it was meant to be fully in-charge of that model state.

If a more general change is required, it should probably be a separation of the "view" property from the press state of the PressListener.

I will look into the ability to have synthetic

[2018-03-05 19:31] pixelzoom commented on #71
Requiring PressListener to be the only controller of `isPressedProperty` violates the entire spirit of MVC.   No one has exclusive control of the model in MVC.  And I seriously doubt that this is necessary in PressListener of sun buttons.

[2018-03-05 19:40] jonathanolson commented on #71
If this is true, presumably we shouldn't allow passing in properties to be used. PressListener can just always create isPressedProperty, can mark it read-only (so clients shouldn't use it), and you can link to it? Same for things like DragListener, where instead of the convenience of being able to pass in your isUserControlled property, we should instead have multiple properties and link one of th

[2018-03-05 19:42] pixelzoom commented on #71
Why is `PressListener` even involved in this case, when there is no user interaction? An InputListener should be responsible for handling user interaction.  It should not be responsible for the look of the button, and should certainly have no knowledge of the model.

[2018-03-05 19:44] jonathanolson commented on #71
Are you available to join a zoom call about this? It's taking up a lot of time back-and-forth to write down explanations.

ph-scale is passing in a model property to be used as the "tracking whether it is pressed" by the input listener.

[2018-03-05 19:46] pixelzoom commented on #71
PressListener also seems to be responsible for a lot more than "pressing" .  I see several things that have nothing to do with pressing: isOverProperty, isHoveringProperty, isHighlightedProperty.

[2018-03-05 19:47] pixelzoom commented on #71
I might be available for a Zoom call later today. Depends on where I'm at with EqEx.

[2018-03-05 19:54] jonathanolson commented on #71
I'm happy to discuss other names.

[2018-03-05 21:35] ariel-phet commented on #71
I am going to tag this for dev-meeting currently, since it seems like there are some things worth discussing. Feel free to untag if a resolution is reached before then.

[2018-03-05 21:42] ariel-phet commented on #71
@pixelzoom - I think pH scale predates me being on every design team...but I am a bit surprised by the autofill honestly -- not suggesting we change it necessarily, but one of our conventions has been to in general never begin sim with an animation. I believe this paradigm started with Energy Skate Park, when in the original the skater was already on the track and moving. Every other sim I can thi

[2018-03-05 22:02] pixelzoom commented on #71
To clarify why I said "this is not an acceptable change" in https://github.com/phetsims/ph-scale/issues/71#issuecomment-370533582 ...

First, this change would need to be run past the design team.  The current behavior is present in both the Java and HTML5 versions.  It was arrived at after discussion, and I recall deciding to keep it during the HTML5 redesign.  I personally don't care whether the

[2018-03-05 22:11] pixelzoom commented on #71
Relevant bits from [pH Scale HTML](https://docs.google.com/document/d/1N2PZJvzs-zmyjJLS87L3O06M1XBXB-ZinmzCVvIfcpI/edit) design document are shown below. Whenever you change solutions in this sim, the beaker auto-fills to 0.50L. So the idea was that it should also auto-fill with the initial solution on startup.

"P" in the "Reason" column stands for "Pedagogical": _Changes made to meet the learnin

[2018-03-05 22:17] pixelzoom commented on #71
Also note... The beaker auto-fills every time the solution is changed, not just at startup.  And the proposal in https://github.com/phetsims/ph-scale/issues/71#issuecomment-370532395 prevents the dropper button from looking "pressed" in all cases, not just at startup.

[2018-03-05 22:17] pixelzoom commented on #71
Also note... The beaker auto-fills every time the solution is changed, not just at startup.  And the proposal in https://github.com/phetsims/ph-scale/issues/71#issuecomment-370532395 prevents the dropper button from looking "pressed" in all cases, not just at startup.   So this has very little to do with whether it's appropriate to auto-fill the beaker with the initial solution.

[2018-03-05 22:45] ariel-phet commented on #71
@pixelzoom thanks much for clarifications. I did not realize about he autofill when changing solutions. That behavior makes sense. So even if we did not autofill on startup, this autofill behavior would still be required, good to know. Then I definitely agree that this constraint is not desirable and we should not limit our UX with this constraint if possible.

[2018-03-05 22:46] ariel-phet commented on #71
@jonathanolson kicking back to you. Feel free to punt until dev meeting if you feel that is appropriate and more discussion is warranted.

[2018-03-06 06:10] jonathanolson commented on #71
Keeping the behavior sounds best. I was curious if no one would care about the change.

It sounds like we'll need to decouple the sun buttons' "button model is pressed" (`downProperty`) from PressListener's "is the user actually pressing" (currently `isPressedProperty`).

I'd have a few questions about how flexible would this need to be (possibly relevant for the design team):

- If you set downPr

[2018-03-06 16:46] samreid commented on #71
Yes, the model should be able to programmatically trigger the release of the button.  I can imagine this happening when certain conditions in the model are met (such as the solution being saturated, etc).  I suspect that should change the mouse cursor back to normal (though I'm not sure how important that is).

I'm not sure, I think we could construct cases either way (sometimes the mouse should b

[2018-03-08 19:40] jessegreenberg commented on #71
@jonathanolson questioned if we need to synthetically modify whether the press listener is pressed.

@pixelzoom asked if PressListener is only to  be usable by buttons. @jonathanolson said it is meant to be used by everything. @samreid said it is the parent type for DragListener.

@jonathanolson's suggestion is to have an adapter Property for sun buttons that allows control over the  Property in P

[2018-03-26 18:22] pixelzoom commented on #71
@jonathanolson What is the priority for addressing this? I'd prefer not to have the workaround in master that changes the behavior of this sim.

[2018-06-14 23:18] pixelzoom commented on #71
@jonathanolson why is the status of this?  Was it address by some more general issue?

[2018-06-28 18:42] jessegreenberg commented on #71
Discussed 6/28/18: This is blocking publication of ph-scale, and @jonathanolson will work on this when he begins to work more broadly on PressListener.

[2018-07-16 17:15] pixelzoom commented on #71
This issue also block publication of ph-scale-basics. Noted in https://github.com/phetsims/ph-scale-basics/issues/42.

[2018-09-03 20:44] pixelzoom opened #72 "eliminate reentrant Property"
Related to https://github.com/phetsims/axon/issues/179.

Determine whether `pHValueProperty` (EDIT: renamed to `spinnerProperty`) in PHMeterNode really needs to be `reentrant: true`.  If so, document why.

[2018-09-03 20:47] pixelzoom commented on #72
The reentry here occurs in the "My Solution" screen, when you change the pH value with the spinner.  It's almost certainly due to floating-point error.  E.g.:

`Assertion failed: reentry detected, value=7.03, oldValue=7.029999999999999`

[2018-09-03 20:54] pixelzoom commented on #72
As I recall, the model in this sim attempts to constrain pH to 2 decimal places.  In Solution.js:

[code]

Whatever that was intended to fix, it's probably causing other problems.

[2018-09-03 20:58] pixelzoom commented on #72
So... `pHValueProperty` may not need to be reentrant.  But we'd probably need to revisit the constraint of values in the model (#4), and that's going to be nontrivial.  So marking this as deferred until this sim gets instrumented for PhET-iO.  Then we can make a decision about whether it's worth the effort to remove intermediate values from the data stream.

[2018-09-10 15:45] KatieWoe opened #73 "title case"
For phetsims/tasks/issues/953
Should the "Molecule count" checkbox be in title case?  The "H3O/OH ratio" checkbox is less clear but bringing attention here.

[2018-10-03 09:31] jonathanolson commented on #71
Applied the necessary changes so that the PressListener doesn't share those boolean Properties, however the current `valueProperty` in MomentaryButtonModel (that is mutated to "force" the press appearance) is now ever listened to in MomentaryButtonModel (so the ph-scale behavior is broken right now).

Looks like https://github.com/phetsims/sun/commit/02a5bff5366732ba6559ef37fb500e2adf13d2e8#diff-8

[2018-10-03 18:49] jessegreenberg commented on #71
That almost works, except that ButtonModel.createListener immediately sets downProperty to false in
[code]

could these be linked lazily or could we set the initial value for isPressedProperty somehow?

[2018-10-25 03:07] pixelzoom commented on #71
Looks like we had progress on this, and it stalled out 21 days ago.  What's left to do here?

[2018-10-25 16:38] jessegreenberg commented on #71
Ill continue with https://github.com/phetsims/ph-scale/issues/71#issuecomment-426754236 and https://github.com/phetsims/ph-scale/issues/71#issuecomment-426571289 today.

[2018-10-25 23:50] jessegreenberg commented on #71
Done with the above commit, with some consultation from @zepumph (thanks!) and the button on the dropper in ph-scale looks correctly pressed when dropping on startup and reset.

@jonathanolson can you please review? Is there anything else to do for this issue?

[2018-10-26 17:53] jessegreenberg commented on #71
Hmm, not ready for review. This change caused problems with CT, ill investigate.

[2018-10-26 22:01] jessegreenberg commented on #71
Same change added back, the issue was with disposing Multilink and moved to https://github.com/phetsims/axon/issues/192.

[2018-11-02 00:45] arouinfar commented on #73
Thanks @KatieWoe.  For consistency, I would capitalize both "count" and "ratio", but that can wait until this sim is worked on again.

[2018-11-02 00:51] pixelzoom commented on #73
Changed to title case in master, see screenshot below.  Labeling as "fixed-awaiting-deploy".

![screenshot_822](https://user-images.githubusercontent.com/3046552/47887843-1d268080-de07-11e8-9fb7-9cd9b8bad515.png)

[2018-11-02 00:55] arouinfar commented on #73
Looks good, thanks @pixelzoom!

[2018-11-02 05:33] pixelzoom opened #74 "use BooleanProperty, NumberProperty, StringProperty"
Related to phetsims/axon#196.

[2018-11-02 06:13] pixelzoom commented on #74
Done, closing.

[2018-11-02 06:13] #74 closed

[2018-11-07 20:14] pixelzoom commented on #71
What's the status of this issue?  Labeling for developer meeting.

[2018-11-08 17:06] jonathanolson commented on #71
I'm reviewing now.

[2018-11-08 17:34] jonathanolson commented on #71
So it appears there were cases where createListener() was called multiple times on a single button model, but do we need to handle the case where we need to remove any? (Hopefully don't need to handle it)

Changes look good to me.

[2018-11-08 17:35] jonathanolson commented on #71
Also had an above commit that did a bit of cleanup, can you do a brief review?

[2018-11-08 18:05] jessegreenberg commented on #71
Refactoring in https://github.com/phetsims/sun/commit/b0cbd639f6eed4be346c5cd2590a6b2a780fbd23 looks nice, thanks.

No, the problem in https://github.com/phetsims/axon/issues/192 was that listeners on dependencies of a multilink could still be called after the multilink had been disposed. Not that createListener was called multiple times on a button model. Since that is the case, can this be close

[2018-11-08 19:30] pixelzoom commented on #71
Assigning back to myself to test ph-scale.

[2018-11-12 17:47] pixelzoom commented on #71
ph-scale tested, look good, closing.

[2018-11-12 17:47] #71 closed

[2019-03-12 20:52] arouinfar opened #75 "Add option for water to the combobox"
Suggestion from Argenta, who has been using this sim in a study (emphasis added):

@kathy-phet and I think Argenta provides a pretty compelling case to include water as an option in the combobox. While it's true that students can empty the beaker and then fill it with water from the FaucetNode, it appears that few take this path. I see no real disadvantage to including water in the combobox.

For

[2019-03-12 21:27] pixelzoom commented on #75
It's trivial to add Water to the combo box. Just add `Solute.WATER` to Solute.js, then add `Solute.WATER` to the list in MacroModel.js.  Here's the code:

[code]

A few things to consider:

* All of the things in the combo box are solutes, and water is the solvent. Having water as both the solvent and solution doesn't seem to break anything, but there are some quirks.  Like...

* In the Macro scre

[2019-03-12 21:43] pixelzoom commented on #75
Note to self about this issue:

This is easily fixed.  In NeutralIndicator.js, change this:

[code]

...to this:

[code]

[2019-03-14 16:01] arouinfar commented on #75
Thanks @pixelzoom.

Seems like you've figured out a solution to this, so let's try it out.

I don't think so. Argenta found that several students explicitly looked for it in the combobox. It could also bring up a broader solute vs. solvent conversation in a classroom, which could be valuable. While water is often the solvent in a solution, it can be the solute, which is the case in high-proof alco

[2019-03-14 16:02] arouinfar commented on #75
Can you push these changes to master so I can test it out?

[2019-03-14 21:30] pixelzoom commented on #75
@arouinfar Changes have been pushed to master and published in [1.3.0-dev.4](https://phet-dev.colorado.edu/html/ph-scale/1.3.0-dev.4/phet/ph-scale_en_phet.html).

[2019-03-15 19:13] arouinfar commented on #75
@pixelzoom the behavior is looking good to me!

I can't speak to what the timeline should be for this change to get published, other than I'm fairly certain it would be somewhat low priority. When time allows, it might be nice to send this sim through QA to pick up LoL support. @kathy-phet @ariel-phet thoughts?

[2019-03-15 19:29] pixelzoom commented on #75
It's up to @ariel-phet to decide when to put ph-scale and ph-scale-basics into the QA pipeline. They should be done together.

They are ready to start RC testing at any time.  See https://github.com/phetsims/ph-scale/issues and https://github.com/phetsims/ph-scale-basics/issues.

The 1.2.x release branch was first published on 11/17/2015, so it's been a long time (pre chipper 2.0?) and there are u

[2019-03-15 20:48] kathy-phet commented on #75
And will also pick up LoL support.

[2019-03-19 01:13] ariel-phet commented on #75
I think probably when I get back from Japan, a fair number of things in QA right now. Tentatively plan 1st week of April @pixelzoom

[2019-03-21 16:18] pixelzoom opened #76 "start with Water selected in combo box"
In https://github.com/phetsims/ph-scale/issues/75, we added Water to the solutes combo box. At 3/21/19 status meeting, @emily-phet suggested that maybe Water should be the initial section when the sim starts up. (It's currently Chicken Soup in all screens.)

Assigning to @arouinfar to evaluate. Please get input from Argenta.

Please consider this for pH Scale and pH Scale: Basics, and whether it a

[2019-03-21 16:26] pixelzoom commented on #76
The [pH Scale HTML5](https://docs.google.com/document/d/1N2PZJvzs-zmyjJLS87L3O06M1XBXB-ZinmzCVvIfcpI/edit) design document contains information about why Chicken Soup was chosen as the initial solute:

| Feature | Reason | Detailed changes & Rationale |
| :--- | :--- | :--- |
| Startup Solution | L (Layout and Look/Feel) | With the new white background, milk is no longer a good choice of starting

[2019-03-21 16:32] pixelzoom commented on #76
Reading through interview and meeting notes in the [pH Scale HTML5](https://docs.google.com/document/d/1N2PZJvzs-zmyjJLS87L3O06M1XBXB-ZinmzCVvIfcpI/edit) design document, it looks like there was some confusion when the initial solution color was too similar to water, and the goal was to pick an initial solute that resulted in a solution that is has a color that is very different from water.  Searc

[2019-03-21 16:36] pixelzoom commented on #76
The [pH Scale Java](https://phet.unfuddle.com/a#/projects/9404/repositories/23262/file?path=%2Ftrunk%2Fsimulations-java%2Fsimulations%2Fph-scale%2Fdoc%2Fph-scale-design.pdf&commit=74956) design documented doesn't provide any information about why Milk was chosen as the initial solute.

[2019-04-12 22:30] KatieWoe opened #77 "bogus touchArea for eyedropper (ProbeNode bug)"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* Red pointer area that can control the pointer node (may be connected to https://github.com/phetsims/scenery-phet/issues/488)

Screenshots:

[2019-04-18 18:29] KatieWoe opened #78 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* See https://github.com/phetsims/scenery-phet/issues/488#issuecomment-484628604

Screenshots:
![Image from iOS (1)](https://user-images.git

[2019-04-18 18:34] arouinfar commented on #78
This appears to be a duplicate of #77, closing.

[2019-04-18 18:34] #78 closed

[2019-04-22 04:20] kathy-phet commented on #76
@arouinfar - What do you think here? I am thinking starting with Water might be good for both sims - and not have the downfalls that starting with "Spit" had in that it is indeed water with a 7 pH.

[2019-04-24 17:20] pixelzoom commented on #76
Raising the priority of this issue, since I've been instructed to being RC testing.  @arouinfar do you want this issue addressed before RC testing?

[2019-04-25 15:47] arouinfar commented on #76
@pixelzoom thank you for reviewing the design doc and interview notes!

I think the confusion likely stemmed from the solution looking like water, but not being water. However, I do like the idea of having water as the initial solute for both sims, so I'd like to give it a try.

@pixelzoom please go ahead and make water the default solute.

@kathy-phet I could add this sim to the end of the upcomi

[2019-04-25 16:29] pixelzoom commented on #76
Done, water is now the default solute.

@arouinfar Here are dev versions for verification/interviews:

[ph-scale 1.3.0-dev.5](https://phet-dev.colorado.edu/html/ph-scale/1.3.0-dev.5/phet/ph-scale_en_phet.html)
[ph-scale-basics 1.3.0-dev.1](https://phet-dev.colorado.edu/html/ph-scale-basics/1.3.0-dev.1/phet/ph-scale-basics_en_phet.html)

[2019-04-25 17:15] arouinfar commented on #76
Looks good @pixelzoom, thanks.

[2019-04-25 19:08] pixelzoom commented on #77
The bogus touchArea (red rectangle) shown in https://github.com/phetsims/ph-scale/issues/77#issue-433955384 was a sim-specific bug, fixed in the above commit.

The incorrect mouseArea (blue shape) is still a problem.  At 4/25/19 dev meeting, @ariel-phet said that the root issue phetsims/scenery-phet#488 is not a priority so it (and this issue) is deferred.

[2019-05-02 19:25] pixelzoom opened #79 "publish 1.3.0"
Would like to start RC testing in "early April".

[2019-05-24 13:31] pixelzoom commented on #79
[1.3.0-rc.1](https://phet-dev.colorado.edu/html/ph-scale/1.3.0-rc.1/phet/ph-scale_en_phet.html) built Fri May 24 07:31:03 MDT 2019.

[2019-05-24 15:08] arouinfar opened #80 "LoL icons/descriptions"
For https://github.com/phetsims/QA/issues/323

[2019-05-24 16:15] pixelzoom commented on #80
I've added this issue to the list in phetsims/QA#323.

@arouinfar Does this also apply to ph-scale-basics, for phetsims/QA#326?

[2019-05-24 16:18] pixelzoom commented on #80
Three other questions, I'm confused about the state of this issue.

(1) Why is this issue assigned to @arouinfar?
(2) Should this issue be labeled “status:ready-for-qa”?
(3) Does this also apply to ph-scale-basics, for phetsims/QA#326?

[2019-05-24 17:09] arouinfar commented on #80
The responsible designer needs to create icons, descriptions, keywords, and a few other things to deliver to LoL when a sim is published (part of master checklist) or when an older sim redeploys adding LoL support. For this sim, that'd be me.

No. There is nothing for QA to test related to this issue. In the rc issue under "What to test" there is an item for checking whether or not a sim has alrea

[2019-05-24 17:10] arouinfar commented on #80
QA doesn't need to test anything, so it should be removed. I'll go ahead and do that.

[2019-05-24 17:21] pixelzoom commented on #80
Thanks for clarification.

[2019-05-28 18:40] KatieWoe commented on #73
Looks good in 1.3.0-rc.1

[2019-05-28 18:40] #73 closed

[2019-05-29 18:01] etwa4650 opened #81 "Draining solution leaves graphics artifacts"
CM edit: For phetsims/QA#323 and phetsims/QA#326.

<b>Test Device</b>

DIRAC

  <b>Operating System</b>

10.11.6

  <b>Browser</b>

Firefox 67.0

  <b>Problem Description</b>
In the Legends of Learning environment,
When draining out a substance of the "Macro" screen, some lines of the substance color remain displayed even after the substance has drained past that point.

I could only replicate thi

[2019-05-29 21:10] pixelzoom commented on #81
I don't see this with Firefox 67.0 on macOS 11.14.5 (latest).  So it's probably platform specific.

@etwa4650 please identify the supported platforms that this occurs on.

[2019-05-29 22:04] lmulhall-phet opened #82 "Checking "H3O+/OH- Ratio" checkbox takes ~1 second"
**Test Device**

Hopper, Leibniz

**Operating System**

iOS 12.3.1

**Browser**

Mobile Safari 12

**Problem Description**

For https://github.com/phetsims/QA/issues/323. In the "Micro" and "My Solutions" screens, if you have lots of ions of either kind, i.e. the solution is either highly acidic or highly basic, and you check the hydronium / hydroxide ratio checkbox, it takes about one second for

[2019-05-29 22:24] lmulhall-phet opened #83 "performance of "H3O+/OH- Ratio" has degraded"
**Test Device**

Hopper, Leibniz

**Operating System**

iOS 12.3.1

**Browser**

Mobile Safari 12

**Problem Description**

For https://github.com/phetsims/QA/issues/323. In the "My Solutions" screen, if you change the pH of the solution with the hydronium / hydroxide ratio checkbox checked, the sim lags quite a bit.

**Visuals**

This video was taken on Hopper. Hopper is our best iOS 12 device in

[2019-05-30 00:10] pixelzoom commented on #83
Drawing hundreds of molecules doesn't come for free, so it's expected that the will be some difference in responsiveness between having H<sub>3</sub>O<sup>+</sup> on vs off.    And the implementation (and performance) in this RC is identical to the published version.  That said...

I tested on both ends of the iPad spectrum (iPad6 + iOS12, iPad2 + iOS9) and performance seems more than acceptable.

[2019-05-30 05:42] pixelzoom commented on #82
Thanks for reporting.

The time it takes to display the image depends on the number of molecules; more molecules requires more time.  And the implementation is unchanged from the published version.  That said...

I tested on both ends of the iPad spectrum (iPad6 + iOS12, iPad2 + iOS9) and performance seems acceptable. @arouinfar please confirm. If it's not acceptable, I'll investigate whether ther

[2019-05-30 15:46] etwa4650 commented on #81
@pixelzoom

I was able to replicate on:

Mac 10.10.5 & Firefox 67.0
Mac 10.11.6 & Firefox 67.0
Mac 10.12.6 & Firefox 67.0
Windows 7 & Firefox 67.0
Windows 10  v1809 & Firefox 67.0 (effect is much less noticeable)

Unable to reproduce on any other browser
Unable to reproduce on IOS or Mac OS 10.13 and up

[2019-05-30 16:04] pixelzoom commented on #81
Thanks @etwa4650.

[2019-05-30 16:14] KatieWoe opened #84 "Hand cursor when faucet shooter is disabled"
**Test device:**
Dell
**Operating System:**
Win 10 (or other)
**Browser:**
Chrome (or other)
**Problem description:**
For https://github.com/phetsims/QA/issues/323 and https://github.com/phetsims/QA/issues/326.
Likely very minor.  Appears in published version as well.  When clicking down on the plunger that empties the bucket when it is grayed out, the mouse becomes a hand.
**Steps to reproduce:**

[2019-05-30 16:21] KatieWoe opened #85 "Clicking on listbox may activate dropper"
**Test device:**
Dell
**Operating System:**
Win 10 (or other)
**Browser:**
Chrome (or other)
**Problem description:**
For https://github.com/phetsims/QA/issues/323 and https://github.com/phetsims/QA/issues/326.
Likely minor.  Not in published version.  It is possible to activate the dropper button when you are actually clicking on part of the dropdown menu that selects chemicals.
**Steps to reprod

[2019-05-30 17:10] etwa4650 commented on #81
@pixelzoom

I just was able to replicate this on the JORDAN device which runs Mac 10.13.6 and on Firefox 67.0

When I first tested Mac OS 10.13.6 it was on my personal computer.

They both have the same OS and have Firefox 67.0 so maybe this is a hardware issue.

[2019-05-30 17:44] pixelzoom commented on #81
Thanks @etwa4650. Excellent sleuthing.

[2019-05-30 18:06] pixelzoom commented on #84
This part of the faucet is known as the "shooter".  The shooter's `enabledProperty` was not setting `pickable:false` when the shooter is disabled.   Fixed in the above commit.   @KatieWoe could you please verify in master?

[2019-05-30 18:11] KatieWoe commented on #84
Looks good.

[2019-05-30 18:15] pixelzoom commented on #84
Thank @KatieWoe.

Note to self: I still need to create branch "ph-scale-1.3" for scenery-phet and apply this fix there.

[2019-05-30 18:38] pixelzoom commented on #85
I add a no-op listener to the listbox to prevent event from going through it.  @KatieWoe please verify in master.  Assign back to me so that I can create branch "ph-scale-1.3" for sun and patch it there.

[2019-05-30 18:40] pixelzoom commented on #81
This is yet-another Firefox-specific redraw problem.  @jonathanolson could you please suggest how to best address this?

[2019-05-30 18:45] KatieWoe commented on #85
Still seems to happen on master

[2019-05-30 19:04] pixelzoom commented on #85
Hmnmm, sorry about that @KatieWoe, I must've been hallucinating.  Previous commit reverted.

[2019-05-30 22:45] KatieWoe opened #86 "Can't drag dropper while it dispenses"
**Test device:**
Dell
**Operating System:**
Win 10 (or any)
**Browser:**
chrome (or any)
**Problem description:**
For https://github.com/phetsims/QA/issues/323 and https://github.com/phetsims/QA/issues/326.
In the published version of the sim you can activate the dropper and drag it around at the same time.  You can do this with both the mouse and touch.  In the rc, you can't drag the dropper whil

[2019-05-31 01:18] pixelzoom commented on #81
@etwa4650 I just noticed that the title and description both say "in LoL".   Is LoL required to reproduce this, or do you also see it when running without LoL?

[2019-05-31 02:10] etwa4650 commented on #81
@pixelzoom It only happens in LoL, sorry if that wasn't clear

[2019-06-01 19:33] pixelzoom commented on #81
@etwa4650 you were plenty clear, I just read your report too quickly.  Thanks for the clarification.

[2019-06-01 19:36] pixelzoom commented on #77
@KatieWoe since this issue is liable to be open for awhile, I took the liberty of changing the title to remind me specifically what the problem is.

[2019-06-01 19:38] pixelzoom commented on #81
For phetsims/QA#323 and phetsims/QA#326.

[2019-06-03 14:32] KatieWoe commented on #77
It seems to have been fixed in the rcs in progress now.  I'm not sure what issue it was recorded/committed in if not this one though.

[2019-06-03 15:48] pixelzoom commented on #86
Reproduced with macOS 10.14.5 + Chrome latest, and it doesn't seem to be platform specific.

The implementation of PHDropperNode has not changed.   My guess is the the toggle button on EyeDropperNode has new-style input listener that is behaving differently and causing the drag listener not to get events.  I'll need @jonathanolson's help on this.

[2019-06-03 15:58] pixelzoom commented on #85
This is a problem in the RC (and master) but not in the published version.  Similar to #86, this may be due to the new `PressListener` being used for the dropper's toggle button.  Or it may be due to the ComboBox rewrite that occurred recently.  As with #86, I'll need @jonathanolson's assistance.

[2019-06-03 16:04] pixelzoom commented on #85
The input listener that dismisses the listbox is in `ComboBox`, line 184:

[code]

[2019-06-03 16:10] jonathanolson commented on #86
If the combo box background should block clicks, presumably it should have `pickable:true`?

[2019-06-03 16:24] jonathanolson commented on #85
If the combo box background should block clicks, presumably it should have pickable:true?

[2019-06-03 16:31] pixelzoom commented on #85
@jonathanolson do you mean the listbox should have `pickable:true`?  ComboBoxListBox extends Panel. I've tried passing `pickable: true` to the supertype, and I've tried adding a no-op listener like `this.addInputListener( new PressListener() )`.

[2019-06-03 20:27] arouinfar commented on #82
@lmulhall-phet observed this issue on some of our newest iPads, Hopper (iPad 6, iOS 12) and Leibniz (iPad Air 2, iOS 12). Testing myself, I would say that the lag is borderline acceptable. The lag is long enough that some users may end up tapping the checkbox a 2nd time while waiting for the particles to appear, thereby unchecking the checkbox. While annoying, this issue isn't particularly harmful

[2019-06-03 20:32] arouinfar commented on #83
I disagree @pixelzoom.  I compared the latest published version (1.2.18) to the rc (1.3.0-rc.1) on both Hopper (iPad 6, iOS 12) and Leibniz (iPad Air 2, iOS 12). Latest has staggeringly better performance, and I did not observe any lag at all.

Similar to #82, I think it would be worthwhile to investigate why the performance has tanked in the 1.3 branch.

[2019-06-03 20:56] jonathanolson commented on #85
Ahh interesting, it looks like Panel has an option `backgroundPickable` for the background.

Adding `backgroundPickable: true` to ComboBoxListBox seems to fix the issue. Is that something we can add in by default? (It seems good to me)

[2019-06-03 21:16] jonathanolson commented on #86
The problem is that most drag/button listeners are set up so that they "attach" to the pointer, locking out other drag/button listeners from starting the interaction. This looks like a case where we want to enable that (e.g. to press `attach:false` to the button's PressListener).

There was no supported way to pass listeners to the created PressListener for buttons, so I added `listenerOptions`, a

[2019-06-03 21:18] jonathanolson commented on #81
Probably best addressed by a transparent rectangle floating at the top of the "liquid", so that it hopefully forces a repaint during draining.

[2019-06-04 15:44] pixelzoom commented on #81
@jonathanolson thoughts on why this is happening only in the LoL harness?

[2019-06-04 17:31] jonathanolson commented on #81
Very likely to just be the size of the sim being slightly smaller. Resizing the window would likely have the same effect (although the iframe may contribute).

[2019-06-04 21:21] pixelzoom commented on #81
@etwa4650 the hypothesis in https://github.com/phetsims/ph-scale/issues/81#issuecomment-498768177 is that this isn't dependent on the LoL harness, but is dependent on browser window size.  Would you have some time to try to reproduce this outside of the LoL harness, by resizing the browser window?

[2019-06-05 17:23] etwa4650 commented on #81
@pixelzoom
I was unable to reproduce the issue outside of LoL even with a very small browser window.

Additionally, the issue still exists in LoL with the browser window in full screen.

[2019-06-05 22:09] pixelzoom opened #87 "update credits for 1.3.0 release"
For phetsims/QA#323 and phetsims/QA#326.

@KatieWoe requested that I add the following to QA credits:

Liam Mulhall, Ethan Ward, and Kathryn Woessner

Looks like I should also factor out `PHScaleConstants.CREDITS` and use in both ph-scale-main.js and ph-scale-basics-main.js.   Credits are currently duplicated, and that's certainly going to be the case going forward, since ph-scale-basics is derive

[2019-06-05 22:35] KatieWoe commented on #76
Looks good in both rcs

[2019-06-05 22:35] #76 closed

[2019-06-05 22:37] KatieWoe commented on #75
Looks good in both rcs

[2019-06-05 22:37] #75 closed

[2019-06-06 15:13] KatieWoe opened #88 "LoL Faucet shooter doesn't activate when clicked"
For https://github.com/phetsims/QA/issues/323
I noticed that when ph scale or ph scale basics is in the legends of learning harness the faucet shooter doesn't activate when briefly clicking on it.
In the normal versions of the sims, iframe, and xhtml, when you click (but don't hold) the shooter the faucet opens for a short time then closes.  When in the LoL harness this does not happen.  Most ofte

[2019-06-06 18:49] pixelzoom commented on #88
@arouinfar  This seems like a bug that doesn't need to involve you, so feel free to self-unassign if you agree.

[2019-06-06 18:56] arouinfar commented on #88
@pixelzoom in the first .gif it looks like the volume of water increased by 0.01 L on the first click, but not on subsequent clicks.

[2019-06-10 23:04] arouinfar commented on #80
Assets are ready for delivery to LoL when the sim redeploys.

[2019-06-10 23:04] #80 closed

[2019-06-15 20:46] pixelzoom commented on #87
Done, to be reviewed in the next RC.

[2019-06-15 20:49] pixelzoom commented on #87
@arouinfar I don't see you list in the credits, and you've had a hand in the design changes that will appear in this release (e.g. adding 'Water' to solutes).   Would you like me to add you? And if so, should I add you to "Lead Design" or "Team"?

[2019-06-15 20:52] pixelzoom commented on #86
Looks like this is working in master. @KatieWoe please verify, change to "fixed-awaiting-deploy" if it looks OK.

[2019-06-15 20:57] pixelzoom commented on #85
Seems like ComboBoxListBox should have `backgroundPickable: true` set by default, so I've added it. And this fixes the issue.

@KatieWoe please verify, then assign back to me.

Note to self: I'll need to pick up this change in a "ph-scale-1.3" branch of sun.

[2019-06-15 20:57] pixelzoom commented on #87
Note to self: These changes need to be pushed to the 1.3 branch.

[2019-06-15 21:12] pixelzoom commented on #82
Rendering is performed in `RatioNode`.   Looking through changes since the 1.2 release branch was created on 11/17/2015...    The most likely suspect is https://github.com/phetsims/ph-scale/commit/8b1ee98ac174a74521937741bae80ccaa5bf8068, where `toImage` was replaced by `toCanvas` for  phetsims/scenery#250.

[2019-06-15 21:44] pixelzoom commented on #83
Rendering of H<sub>3</sub>O<sup>+</sup>/OH<sup>-</sup> Ratio is performed in `RatioNode`.

This issue and https://github.com/phetsims/ph-scale/issues/82#issuecomment-498413510 are identical, because `RatioNode` is not updated until it becomes visible.  So checking the checkbox is equivalent to selecting a new solute.

In https://github.com/phetsims/ph-scale/issues/82#issuecomment-498413510, @aroui

[2019-06-15 21:45] pixelzoom commented on #82
Rendering of H<sub>3</sub>O<sup>+</sup>/OH<sup>-</sup> Ratio is performed in `RatioNode`.
This issue and https://github.com/phetsims/ph-scale/issues/83 are identical, because `RatioNode` is not updated until it becomes visible.  So checking the checkbox is equivalent to selecting a new solute.   So I'm going to close this issue as "duplicate", and continue work in https://github.com/phetsims/ph-sc

[2019-06-15 21:45] #82 closed

[2019-06-15 22:00] pixelzoom commented on #88
I reproduced the problem as described. But have no idea why this is a problem only in the LoL Harness.

@ariel-phet I will need some of @jonathanolson's time to investigate.  Please prioritize and assign.

[2019-06-15 22:09] pixelzoom commented on #83
Changing from `Math.round` to `Utils.roundSymmetric` in https://github.com/phetsims/ph-scale/commit/932f2afa335833c815259cbaabe1b55970639575 for https://github.com/phetsims/chipper/issues/736 is also a change that has occurred since 1.2, but unlikely to have resulted in degraded performance.  Here's the implementation of `roundSymmetric`:

[code]

[2019-06-15 23:32] pixelzoom commented on #83
The commits above are mostly internal cleanup in RatioNode -- bring doc up to standards and renaming some internal API functions and parameters.  https://github.com/phetsims/ph-scale/commit/9d15a5d985e72a71df236feffa0e26bc1ab35986 is the only significant change, a simplification of `createRandomX` and `createRandomY`.

[2019-06-16 00:56] pixelzoom commented on #83
I've been through `RatioNode` with a fine-toothed comb, and I can find nothing sim-specific that would explain this.  It's using what has proven to be the most efficient approach for drawing large numbers of similar objects (Canvas drawImage).  And the same approach is used in Gas Properties, Acid-Base Solutions, Plinko Probability, ...

I also cannot reproduce this on my test machines.

@arouinfa

[2019-06-16 03:37] pixelzoom commented on #81
I was able to reproduce this on macOS 10.14.5 (latest) with Firefox 67.0.2 (latest).  I loaded pH Scale into the LoL harness, then resizes the browser window until I saw the problem.  See screenshot below.  As soon as I released the mouse, the screen redrew and the lines disappeared.  So I think this is specific to Firefox and independent of macOS version.

<img width="1440" alt="screenshot_1251"

[2019-06-16 03:51] pixelzoom commented on #81
@jonathanolson said:

@jonathanolson do you think a transparent rectangle that fills the beaker, placed behind the solution in the beaker, would also force a repaint?

[2019-06-17 01:26] pixelzoom commented on #88
In case this had something to do with running in an iframe, I tried [1.3.0-rc.1 ph-scale_en_iframe_phet.html ](https://bayes.colorado.edu/dev/html/ph-scale/1.3.0-rc.1/phet/ph-scale_en_iframe_phet.html).  It works fine, no problem.  So these seems specific to LoL.

[2019-06-17 01:34] pixelzoom commented on #81
I asked:

I answered the question myself by trying this. The answer is no.

[2019-06-17 01:47] pixelzoom commented on #81
@jonathanolson suggested:

I tried this approach in the patch below.  It also did not work.   Even if it did work, this seems like a workaround that we'd potentially need to apply wherever anything is moving.  So it doesn't seem wise to be working around it like this, we should be investigating a general solution in scenery.

@ariel-phet We'll need some of @jonathanolson's time to address this.  P

[2019-06-17 01:51] pixelzoom commented on #81
So to summarize:
* This is not specific to LoL, it's reproducible with certain browser window sizes.
* None of the recommended workarounds has worked.
* This seems like a general problem that should be addressed in scenery.

[2019-06-17 14:12] arouinfar commented on #87
@pixelzoom please add me to the Team.

[2019-06-17 14:55] KatieWoe commented on #86
This looks good on master

[2019-06-17 15:04] KatieWoe commented on #85
Looks good on master

[2019-06-17 15:08] pixelzoom commented on #85
Next step is to pick up this change in a "ph-scale-1.3" branch of sun.

[2019-06-17 15:09] pixelzoom commented on #86
Next step is to pick up this change in a "ph-scale-1.3" branch of scenery-phet.

[2019-06-17 15:11] pixelzoom commented on #87
@arouinfar has been added to the Team credits.

[2019-06-17 15:46] pixelzoom commented on #87
Changes have been cherry-picked to the 1.3 branches of ph-scale and ph-scale-basics.  Labeling as "fixed-awaiting-deploy", to be verified in 1.3.0-rc.2.

[2019-06-17 16:05] pixelzoom commented on #84
Branch patches completed.  Ready for testing in upcoming 1.3.0-rc.2.

[2019-06-17 16:06] jonathanolson commented on #81
Things like this keep coming up, so it does sound like a general Scenery workaround (enabled based on the browser/OS/sim combination, since it might reduce performance) would be good.

[2019-06-17 16:15] pixelzoom commented on #85
Patched for 1.3 branches, ready to test in upcoming 1.3.0-rc.2.

[2019-06-17 16:41] pixelzoom commented on #86
Patched for 1.3 branches, ready to test in upcoming 1.3.0-rc.2.

[2019-06-17 17:12] arouinfar commented on #83
Version 12.3.1

It's also on version 12.3.1. The QA Simplified Inventory tab (which maps devices to locations in the device cart) had it listed as iOS 12. I've updated Hopper and Leibniz in the spreadsheet.

In https://github.com/phetsims/gas-properties/issues/98#issuecomment-500497481 I tested Gas Props with Leibniz and Pauling, and there were no performance issues. Testing dev.38 on Hopper showe

[2019-06-17 17:23] pixelzoom commented on #83
@arouinfar said:

Did the lag occur every time that you turned the checkbox 'on', or only the first time?  (Can't tell from the videos because there are no cursors.  Do you know about the `?showPointers` query parameter to show where the cursor is in videos?)

[2019-06-17 17:45] arouinfar commented on #83
Happens every time.

I had absolutely no idea that this existed! This will be a game changer for iPad interviews.

Leibniz is currently unavailable, but I can check again this afternoon and re-record with `?showPointers` if you'd like @pixelzoom.

[2019-06-17 17:56] pixelzoom commented on #83
Thanks for the offer to re-record, but not necessary (I believe you :)  I'll plan to borrow one of these devices when I get back to working on this.

[2019-06-18 02:02] pixelzoom commented on #83
@arouinfar said:

This is also very confusing to me. As noted in https://github.com/phetsims/ph-scale/issues/83#issuecomment-502401616, checking the checkbox is the same code path as changing the solute or changing the pH -- it calls `RatioNode.update`.

[2019-06-18 02:09] pixelzoom commented on #83
There have been a number of CanvasNode changes since 11/17/2015, maybe something that affects performance on these platforms. Although that doesn't explain why my iPad6 and Hopper (supposedly identical models with identical iOS) have such different performance.

[2019-06-18 17:34] ariel-phet commented on #88
@pixelzoom @KatieWoe the "working on tap" was added to give feedback to users that the faucet shooter is interactive in case they do not pull it out. Since this is only happening in the LoL harness and not a huge deal, I don't think it is worth fixing. Marking as `wontfix`

[2019-06-18 17:35] #88 closed

[2019-06-19 16:16] ariel-phet commented on #81
FF on Mac is 0.3% of website traffic, I think we might want to just drop FF support on Mac. Will bring up at dev meeting.

[2019-06-21 13:22] pixelzoom commented on #81
@ariel-phet We should also identify whether this is a problem with FF on Windows. I don't think that's been done yet.

[2019-06-23 23:47] ariel-phet commented on #81
@etwa4650 @KatieWoe can you see if you can reproduce this problem on FF windows?

[2019-06-24 14:37] KatieWoe commented on #81
It does.  I checked.  Seen in this issue: https://github.com/phetsims/QA/issues/352#issuecomment-504529605

[2019-06-26 02:26] pixelzoom commented on #81
Thanks @KatieWoe.  This issue occurs with FF on both macOS and Windows, so dropping FF support on macOS doesn't help us.   Back to @ariel-phet.

[2019-07-01 17:58] ariel-phet commented on #81
@KatieWoe can you make me a video of this happening on Windows + FF and assign back to me?

[2019-07-01 18:09] KatieWoe commented on #81
![SVGfirefoxbug](https://user-images.githubusercontent.com/41024075/60457337-008e5280-9bf9-11e9-85c9-db4cf323b67c.gif)

[2019-07-01 21:13] ariel-phet commented on #81
Thanks @KatieWoe. This is minor enough to ignore on Windows FF. Certainly keep an eye out for things like this in the future. Hopefully firefox will fix things before we need to investigate a general scenery workaround, but I am not willing to invest the resources in that sort of work currently.

Marking as `wontfix` and closings

[2019-07-01 21:14] #81 closed

[2019-07-11 17:52] pixelzoom commented on #83
@arouinfar helped me reproduce this on both Hopper and Leibniz.  The key is to set a pH value at the extremes of the range (15 or -1), so that we're drawing the maximum number of particles.   Knowing that, I will try again to reproduce on my iPad6.

[2019-07-13 21:37] pixelzoom commented on #83
I followed the steps above on my iPad6 + iOS 12.3.1, and reproduced the problem.  When comparing 1.2.18 to 1.3.0-rc.1, there is a noticeable delay when checking the checkbox, and dragging the indicators does feel more sluggish.

@ariel-phet Since the only changes that I've been able to identify are in CanvasNode, @jonathanolson will need to investigate.  Please assign and prioritize.

[2019-07-17 05:57] samreid opened #89 "fix for query-string-machine localStorage issue"
As part of https://github.com/phetsims/query-string-machine/issues/34 @chrisklus and I applied a query-string-machine fix to many sims, but not to ph-scale or ph-scale-basics, which already have RC SHAs.  In short, we need a try/catch around the local storage.

buggy sha
570fe1febbd045d44b9d6d88433a7f8a9d84a1d6

fixed sha
1f64976a20ac1cf35c91c560f5e33df474eceec5

See discussion in https://github.c

[2019-07-17 15:04] pixelzoom commented on #89
ph-scale and ph-scale-basics were excluded because it's in the middle of QA testing, and we didn't want to generate a bogus RC.  Apparently that would not happen with the maintenance release process, but that wasn't known until after the maintenance release had been done.   So @samreid and/or @chrisklus are going to apply the patch to ph-scale and ph-scale-basics.

<details>
<summary>Slack discuss

[2019-07-17 15:06] pixelzoom commented on #89
Please label this issue as "fixed-awaiting-deploy" after the patch has been applied, so that I can include it in the list of issues to test for 1.3.0-rc.2.

[2019-07-17 20:19] ariel-phet commented on #83
@jonathanolson has some time to investigate, I recommended starting with about 2'ish hours, and then we can reevaluate how much time to spend.

[2019-07-17 23:08] jonathanolson commented on #83
Investigating. It appears that master's performance is dominated by drawImage combined with the clipping (disabling the clipArea dramatically improves performance). 1.2 branch seems to use the same general approach. I'll look at scenery's changes to see if I can identify this up-front, but I'll likely fall back to bisecting, as it's fairly quick to identify whether it has fast or slow behavior.

[2019-07-18 04:38] samreid commented on #89
Here are the commands I used to apply query-string-machine patches for these sims:

[code]

[2019-07-18 04:45] samreid commented on #89
To test the changes, I opened the built versions in the browser and saw they launched correctly.  I also manually inspected the debug versions to make sure the localStorage access was wrapped with try/catch.  I also ran `grunt checkout-shas` for each of the sims and made sure the fix was in the query-string-machine repo SHA.  Labeling as prescribed in https://github.com/phetsims/ph-scale/issues/89

[2019-07-18 04:51] jonathanolson commented on #83
So this has been an interesting one! Turns out the offending commit is https://github.com/phetsims/kite/commit/91e2ccf15423927ec6b21136c27f89570294168c (Oct 12, 2017).

It turns out that when the clip area is specified with the final closing segment AND THEN a "closePath" command, it is significantly slower than if that closing segment is omitted.

To see the Canvas commands issued both before and

[2019-07-18 05:07] jonathanolson commented on #83
I ran a snapshot comparison on an assortment of sims using Canvas, and this does not seem to be affecting rendering. It does have the potential to uncover different browser bugs/implementations.

@pixelzoom, can you confirm that this commit fixes the problem?

[2019-07-18 18:15] pixelzoom commented on #83
This does appear to be fixed, thanks @jonathanolson.

I tested on Hopper and Leibniz (test iPads) in Safari.  Here are links to the relevant versions:

[1.2.18](https://bayes.colorado.edu/dev/html/ph-scale/1.2.18/ph-scale_en.html) - current published  version
[1.3.0-rc.1](https://bayes.colorado.edu/dev/html/ph-scale/1.3.0-rc.1/phet/ph-scale_en_phet.html) - RC version that has the performance probl

[2019-07-18 19:36] KatieWoe commented on #83
Much better.

[2019-07-22 18:07] pixelzoom commented on #86
Talked with @jonathanolson.  I should also create and patch "ph-scale-basics-1.3" branches for scenery-phet and sun.

[2019-07-22 18:08] pixelzoom commented on #83
I will need to create and patch "ph-scale-1.3" and "ph-scale-basics-1.3" branches for kite.

[2019-07-22 18:11] pixelzoom commented on #83
I guess @arouinfar didn't have time to review this before AAPT.  So I'm going to proceed based on @KatieWoe's evaluation.

[2019-07-22 18:11] pixelzoom commented on #85
Talked with @jonathanolson. I should also create and patch "ph-scale-basics-1.3" branch for sun.

[2019-07-22 18:12] pixelzoom commented on #84
Talked with @jonathanolson. I should also create and patch "ph-scale-basics-1.3" branch for scenery-phet.

[2019-07-22 18:15] arouinfar commented on #83
Sorry @pixelzoom! I was planning to test on the iPad Air 2 we brought with us to the conference, but I haven't gotten the chance yet. I'll happily defer to your and @KatieWoe's assessment of the improved performance.

[2019-07-23 15:36] pixelzoom commented on #83
Patched in "ph-scale-1.3" and "ph-scale-basics-1.3" branches of kite.

[2019-07-23 16:12] pixelzoom commented on #84
Patched in "ph-scale-basics-1.3" branch of scenery-phet.

[2019-07-23 16:20] pixelzoom commented on #85
Patched in "ph-scale-basics-1.3" branch of sun.

[2019-07-23 16:41] pixelzoom commented on #86
Manually patched in "ph-scale-basics-1.3" branches for scenery-phet and sun.

[2019-07-23 16:59] pixelzoom commented on #89
@KatieWoe I'm not familiar with this issue - it was a general patch that was applied to many sims.  If you have question about how to test, please ask @samreid.

[2019-07-23 17:14] pixelzoom commented on #79
[1.3.0-rc.2](https://bayes.colorado.edu/dev/html/ph-scale/1.3.0-rc.2/phet/ph-scale_all_phet.html) built 7/23/19.
RC test issue https://github.com/phetsims/QA/issues/374.

[2019-07-23 17:16] samreid commented on #89
For the batch maintenance release, @chrisklus and I tested by (a) manually inspecting the code to make sure it had the fix and (b) having @ariel-phet confirm the sims opened properly in the Android app.  I do not know of a way to test unpublished sims or RCs in the Android app (I know this is not yet possible for the iOS app).  So for pH scale and pH scale basics, steps (a) and (b) may again be su

[2019-07-23 17:34] pixelzoom opened #90 "verify patch for phet-ios-app#484 ?"
In https://github.com/phetsims/QA/issues/323#issuecomment-509418037 and https://github.com/phetsims/QA/issues/326#issuecomment-509417975, @chrisklus said:

Accordding to @KatieWoe, QA testing was done in https://github.com/phetsims/QA/issues/360, and that issue is closed.  But https://github.com/phetsims/phet-ios-app/issues/484 is still open.

I have been unable to determine if this patch involved

[2019-07-23 17:37] KatieWoe commented on #90
I don't know if its in the sim or not, but I can't really test as part of https://github.com/phetsims/QA/issues/374 because it involves looking at how the sim behaves in the app.  Since there is currently no way to test a sim in the app before it is published.

[2019-07-23 17:38] pixelzoom commented on #90
According to @chrisklus via Slack, the changes were in phetcommon and phet-ios-app.   I see ph-scale-1.3 and ph-scale-basics-1.3 branches for phetcommon, but not for phet-ios-app (which may have different branching rules?)

[2019-07-23 17:43] chrisklus commented on #90
I think I was mistaken and changes were just in phetcommon, my apologies. @jonathanolson knows the answer to these questions.

[2019-07-23 22:44] KatieWoe commented on #87
Jaspe Arias should be added.

[2019-07-23 22:52] KatieWoe commented on #88
Since this is marked as won't fix, there isn't really anything for QA to check

[2019-07-23 23:46] ariel-phet commented on #89
@pixelzoo @KatieWoe, yes @samreid is correct, there is currently no way except post-publication to test the sim in the app to make sure this bug is not present. This patch was pretty minor and low risk as it only affected a small amount of code, and given the sims that already work with the patch, I have a high confidence it is fine.

We will be looking into how to test RC versions within both app

[2019-07-23 23:46] #89 closed

[2019-07-23 23:55] ariel-phet commented on #90
@KatieWoe @pixelzoom for now I think just go ahead and publish if everything looks good and we can check in the app after published. I know that is pretty unideal, however, since this patch has been verified, we just need to make sure the sim opens, and it should be pretty low risk.

[2019-07-25 18:10] KatieWoe opened #91 "Interrupting initial filling of bucket"
For https://github.com/phetsims/QA/issues/374 (and basics).
If you click the dropper while the bucket is automatically filling up, it will stop at the .5 level, but the button will still look depressed.  Letting go and clicking again will stop the issue, and it is rather hard to pull off without slowing animation speed.
![veryedgecase](https://user-images.githubusercontent.com/41024075/61897821-23

[2019-07-25 18:17] pixelzoom commented on #91
@KatieWoe I don't see any Troubleshooting info for this issue. What platform?

Also... Does this problem appear in the previous RC, 1.3.0-rc.1?   I'm wondering if the changes made for #86 might have introduced this problem.

[2019-07-25 18:24] KatieWoe commented on #91
I got it to happen on Win 10 chrome, but that is probably because I move faster on this device.  Might also be easier to achieve without slowing on a touch screen like an iPad.  I'll have to go back and check.  This is such an edge case that it would be very easy to miss.

[2019-07-25 18:32] KatieWoe commented on #91
Published Behavior: Liquid stops, but dropper does not look depressed
![publishedbehavior](https://user-images.githubusercontent.com/41024075/61899154-16312800-aed8-11e9-8d5d-4b31cb74c24d.gif)
First RC:  Same as current RC
![firstrcbehavior](https://user-images.githubusercontent.com/41024075/61899220-395bd780-aed8-11e9-95b8-980fe75b5be9.gif)

[2019-07-25 18:49] pixelzoom commented on #91
So this problem was not in the published version (1.2 branch) and is in the 1.3 branch.  So it was probably present in master when 1.3 branch was created.  I don't see any obvious differences in EyeDropperNode, so I'm guessing this is due to a change in something related to input event handling for buttons.   @jonathanolson Any ideas?

[2019-07-27 16:27] lmulhall-phet commented on #83
Performance better on Hopper in https://github.com/phetsims/QA/issues/374.

[2019-07-29 15:53] pixelzoom commented on #91
Forgot to mention... My recommendation is option (a).  Disabling interaction with the eyedropper seems unnecessary and potentially disconcerting to the user in some situations.

[2019-07-29 15:58] arouinfar commented on #91
@pixelzoom I'm perfectly happy to do nothing, given that this takes quite a few steps to reproduce (including the use of non-public-facing query parameters) and doesn't create a pedagogically problematic situation.

[2019-07-29 16:01] pixelzoom commented on #91
I found an easy way to address this that took 5 minutes and shouldn't present any problems for the user.  When auto-fill begins or ends, interaction with the eyedropper is cancelled.  That's implemented in the above commit.  @arouinfar @KatieWoe please verify in master.

[2019-07-29 16:02] pixelzoom commented on #91
If the above change is acceptable, please assign back to me after reviewing, so that I can cherry-pick into the 1.3 release branch.

[2019-07-29 16:23] pixelzoom commented on #87
Jaspe Arias has been added to QA credits in master and 1.3 branches.

[2019-07-29 16:29] pixelzoom commented on #90
@ariel-phet said:

@ariel-phet Please clarify -- check after the app is published, or after pH Scale 1.3.0 is published?

[2019-07-29 16:40] pixelzoom commented on #83
Verified in https://github.com/phetsims/QA/issues/374, closing.

[2019-07-29 16:40] #83 closed

[2019-07-29 16:41] pixelzoom commented on #84
Verified in https://github.com/phetsims/QA/issues/374 and https://github.com/phetsims/QA/issues/375, closing.

[2019-07-29 16:41] #84 closed

[2019-07-29 16:41] pixelzoom commented on #85
Verified by QA in https://github.com/phetsims/QA/issues/374 and https://github.com/phetsims/QA/issues/374. Closing.

[2019-07-29 16:41] #85 closed

[2019-07-29 16:41] ariel-phet commented on #90
@pixelzoom check ph Scale 1.3.0 in the Android app after pH Scale 1.3.0 is published.

[2019-07-29 16:42] pixelzoom commented on #86
Verified by QA in https://github.com/phetsims/QA/issues/374 and https://github.com/phetsims/QA/issues/375, closing.

[2019-07-29 16:42] #86 closed

[2019-07-29 16:44] pixelzoom commented on #90
Self assigning.  After pH Scale 1.3.0 is published, I will assign to QA for verification.

[2019-07-29 17:02] KatieWoe commented on #91
Didn't see any problems in master.  For documentation, behavior is now as follows:
1. Quick press and let go while filling will interrupt and stop the flow (this always seems to have been the case.)
2. Pressing and holding down will cause the stream to continue until the .5 mark and then stop.  At that point the button is no longer depressed and you loose the ability to drag the dropper around.  W

[2019-07-29 17:23] pixelzoom commented on #91
Thanks @KatieWoe.   If this is cool with @arouinfar, then it will appear in 1.3.0-rc.3.

[2019-07-29 17:41] arouinfar commented on #91
The behavior described in https://github.com/phetsims/ph-scale/issues/91#issuecomment-516075560 is fine with me.

[2019-07-29 18:58] pixelzoom commented on #91
Cherry-picked into the 1.3 branch via the above commit.

[2019-07-29 19:17] pixelzoom commented on #79
[1.3.0-rc.3](https://bayes.colorado.edu/dev/html/ph-scale/1.3.0-rc.3/phet/ph-scale_all_phet.html) built 7/29/19.
RC test issue

[2019-08-07 22:45] KatieWoe commented on #87
Looks good rc.3

[2019-08-07 22:45] #87 closed

[2019-08-07 22:46] KatieWoe commented on #91
Looks good rc.3

[2019-08-07 22:46] #91 closed

[2019-08-08 00:01] pixelzoom commented on #79
1.3.0 published 8/7/19.

[2019-08-08 00:01] #79 closed

[2019-08-08 00:02] pixelzoom commented on #90
pH Scale and pH Scale: Basics 1.3.0 have been published, so this issue can now be verified.  Assigning to @KatieWoe to prioritize and assign.

[2019-08-09 15:20] KatieWoe commented on #90
Patch on published version of the app looks good

[2019-08-09 15:20] #90 closed

[2019-10-17 00:08] pixelzoom opened #92 "PhET-iO instrumentation"
_pH Scale: Basics_ is on the desired list of sims for a client. That sim is a derivative (subset), so this will actually involve instrumenting _pH Scale_.

The current status (according to @kathy-phet) is: not high on the client's list, so not high priority. Probably something we need to start thinking about in the beginning of 2020.

[2019-11-15 18:53] pixelzoom opened #93 "setting maxWidth for listboxParent causes scale/position problem"
See phetsims/sun#542.

[2019-11-15 18:54] pixelzoom commented on #93
Fixed in the above commit.

[2020-01-29 20:47] pixelzoom opened #94 "convert to ES6"
Prior to PhET-iO instrumentation, PhET would like this sim converted to ES6.   Estimate: 1-2 hours

[2020-01-29 21:11] pixelzoom commented on #94
Before beginning this conversion, I published these baseline dev versions:

[ph-scale 1.4.0-dev.3](https://phet-dev.colorado.edu/html/ph-scale/1.4.0-dev.3/phet/ph-scale_en_phet.html)
[ph-scale-basics 1.4.0-dev.1](https://phet-dev.colorado.edu/html/ph-scale-basics/1.4.0-dev.1/phet/ph-scale-basics_en_phet.html).

[2020-01-29 23:06] pixelzoom commented on #94
Conversion completed. I also converted old-style enums to Enumeration.

Baseline dev versions after conversion:

[ph-scale 1.4.0-dev.4](https://phet-dev.colorado.edu/html/ph-scale/1.4.0-dev.4/phet/ph-scale_en_phet.html)
[ph-scale-basics 1.4.0-dev.2](https://phet-dev.colorado.edu/html/ph-scale-basics/1.4.0-dev.2/phet/ph-scale-basics_en_phet.html)

Closing.

[2020-01-29 23:06] #94 closed

[2020-01-29 23:25] pixelzoom commented on #92
This now has a milestone - "around end of March or mid April".

[2020-01-29 23:31] pixelzoom commented on #92
I'm added phet-io to supportedBrands in package.json, and added top-level (Screen, ScreenView, Model) tandems.  So this is ready to start basic instrumentation.

[2020-01-30 05:32] pixelzoom commented on #92
I did an instrumentation sprint to see what issues I'd run into.  Most of the basic instrumentation is done.   Look for "TODO #92" comments in the code to identify things that need to be be discussed, addressed, etc.

[2020-02-03 20:14] pixelzoom opened #95 "use SUN/NumberSpinner"
The pH meter in MySolutions (`PHMeterNode`) should be using `NumberSpinner`.  It predates `NumberSpinner`, so is currently rolling its own value display and `ArrowButton` instances.  This is important for phet-io and a11y.

[2020-02-03 20:15] pixelzoom opened #96 "use SCENERY_PHET/NumberDisplay"
Related to #92...

The pH meters in Macro and Micro screens should be using `NumberDisplay`.   Ditto for the displays on the graph. They predate `NumberDisplay`, so have their own implementation to display the value.  This is important for phet-io and a11y.

[2020-02-03 20:51] pixelzoom opened #97 "is ZoomButton over-instrumented?"
Related to https://github.com/phetsims/ph-scale/issues (ph-scale instrumentation).

Here's what `ZoomButton` looks like in ph-scale. There are 2 of them below the linear graph in the _Macro_ screen:

<img width="407" alt="screenshot_86" src="https://user-images.githubusercontent.com/3046552/73689357-4ded0980-468b-11ea-971f-b92d1151216f.png">

Here's the Studio tree structure for one of those ZoomB

[2020-02-03 22:11] pixelzoom opened #98 "restructure GraphNode"
Related to #92 (phet-io instrumentation).

`GraphNode` is responsible for the part of the UI shown below.  It needs some restructuring and reorganization to get it ready for PhET-iO instrumentation.

<img width="409" alt="screenshot_91" src="https://user-images.githubusercontent.com/3046552/73695403-43d10800-4697-11ea-9432-7fd7fac05f57.png">

[2020-02-04 01:01] pixelzoom opened #99 "odd pattern for setting touchArea"
ph-scale uses a very odd pattern for setting touchArea, e.g.:

`ratioCheckbox.touchArea = Shape.bounds( ratioCheckbox.localBounds.dilatedXY( 10, 8 ) );`

There's no need for `Shape.bounds`, this is sufficient:

`ratioCheckbox.touchArea = ratioCheckbox.localBounds.dilatedXY( 10, 8 );`

[2020-02-04 01:31] pixelzoom commented on #99
Done, closing.

[2020-02-04 01:31] #99 closed

[2020-02-04 01:32] pixelzoom opened #100 "use SUN/AccordionBox"
The pH meter in _Micro_ and _My Solutions_ screens should be using AccordionBox. For phet-io and a11y instrumentation.

[2020-02-04 01:39] pixelzoom commented on #98
Restructuring is done.  This is now in good shape for PhET-iO.  Closing.

[2020-02-04 01:39] #98 closed

[2020-02-04 02:13] pixelzoom commented on #92
@arouinfar @kathy-phet @ariel-phet:

Basic instrumentation is done, all required tandems are present, and the sim is passing validation. You can test drive in Studio at [1.4.0-dev.5](https://phet-dev.colorado.edu/html/ph-scale/1.4.0-dev.5/phet-io/) (password protected).

Some issues to discuss at design meeting:

- [ ]  This is an older sim, and predates some common-code components. Should parts o

[2020-02-04 17:55] pixelzoom commented on #92
The design doc, including client requirements, can be found at [pH Scale: PhET-iO Design](https://docs.google.com/document/d/1RrILoln3Jdo1hSA1eOtTJN-j8015Q9clqP1caORVYCE/edit?ts=5e39ad31#heading=h.6y75prk97rmc)

[2020-02-06 17:59] pixelzoom commented on #100
This would also address this odd structure for `phScale.microScreen.view.pHMeterNode`, where `expandCollapseButton` is currently a child of `valueNode`.

<img width="257" alt="screenshot_97" src="https://user-images.githubusercontent.com/3046552/73964545-9c8ae580-48cf-11ea-84de-f161b799182d.png">

[2020-02-06 19:40] pixelzoom commented on #100
This is done. PHMeterNode has been converted to use AccordionBox.

It is not (nor can it be) pixel-identical to the published version, but it looks fine to me.  @arouinfar please compare [1.4.0-dev.7]( https://phet-dev.colorado.edu/html/ph-scale/1.4.0-dev.7/phet/ph-scale_en_phet.html) to published version [1.3.4](https://phet.colorado.edu/sims/html/ph-scale/latest/ph-scale_en.html).  If this looks

[2020-02-06 20:07] pixelzoom commented on #96
I changed PHMeterNode to use NumberDisplay, that went smoothly.

Changing GraphIndicatorNode is not as easy.  It displays values in scientific notation (e.g. "1 x 10<sup>-7</sup>"), and that's not supported by NumberDisplay.   So I'm going to put that on hold until we see what phet-io instrumentation (if any) is needed for GraphIndicatorNode.

[2020-02-06 21:01] pixelzoom commented on #72
Un-deferring this as part of PhET-iO design.

If we need to create a CustomSolute for iO, then this intermediate `pHValueProperty` will go away, and we'll be observing/manipulating CustomSolute's `pHValueProperty`.

[2020-02-06 22:11] pixelzoom opened #101 "order solutes alphabetically in combo box"
Discussion at 2/6/20 design meeting:

Customer request: Ability to reorder the liquids in the drop-down menu so they’re not listed by decreasing pH.
CM: “Drop-down menu” presumably means “combo box listbox”. This is not currently possible. There is no ability to reorder items for ComboBox (PhET-iO or otherwise). I recently did a lengthy rewrite of ComboBox, and I don’t know how we’d make this poss

[2020-02-06 22:13] pixelzoom commented on #101
Done. @arouinfar please verify in master.

[2020-02-06 22:14] pixelzoom opened #102 "make it possible to permanently turn off the "Neutral" indicator"
2/6/20 design meeting discussion:

Client request: Ability to remove the word “neutral” that appears in the beaker when the probe detects a pH of 7.
CM: This is not entirely straightforward because visibility of “Neutral” is controlled by the sim, depending on pH.  If the client sets its visibleProperty to false, the sim will eventually set it to true. Options:
Wrap this neutralIndicatorNode insid

[2020-02-06 22:20] pixelzoom commented on #102
Done.  @arouinfar please verify in master.   To test:

1. Run in Studio
2. Navigate to phScale.macroScreen.view.neutralIndicatorNode.visibleProperty
3. Switch between 'Water' and other solutes with visibleProperty true and false

[2020-02-06 22:23] pixelzoom opened #103 "instrument Solute"
From #92:

2/6/20 design meeting decision: phetioID, nameProperty, pH

[2020-02-06 22:26] pixelzoom opened #104 "add support for disabling auto-fill feature"
2/6/20 design meeting.  From #92:

Decision: Yes. Add `autoFillEnabledProperty`

[2020-02-06 22:29] pixelzoom opened #105 "instrument values shown on graph indicators"
2/6/20 design meeting:
Instrument the values shown on the graph indicators. Values to be displayed as decimal numbers, no in scientific notation.

[2020-02-06 22:32] pixelzoom opened #106 "set visibleProperty to read-only for some Nodes"
2/6/20 design meeting. From #92:

Yes, do this.

[2020-02-06 22:33] pixelzoom opened #107 "restructure faucet + fluid"
2/6/20 design meeting. From #92:

Decision: Make fluid child of faucet, don't instrument fluid.

[2020-02-06 22:35] pixelzoom opened #108 "changes to beakerNode and solutionNode"
2/6/20 design meeting. From #92:

Decision: Don't instrument solutionNode. Make beakerNode.visibleProperty read-only.

[2020-02-06 22:36] pixelzoom opened #109 "instrumentation of mySolution.model"
2/6/20 design meeting. From #92:

Decision: Hide soluteVolumeProperty and waterVolumeProperty.

[2020-02-06 22:45] arouinfar commented on #101
Looks good @pixelzoom.

[2020-02-06 22:50] arouinfar commented on #101
I could not find a reason in the design doc for ordering the the solutes by pH. In design meeting we speculated the reason was likely historical (solutes used to list pH values) rather than pedagogical.

This observation from interviews suggests that ordering by pH could be problematic.

[2020-02-06 22:51] arouinfar commented on #102
Looks good in master @pixelzoom

[2020-02-06 22:51] #102 closed

[2020-02-06 22:52] pixelzoom commented on #107
I removed instrumentation of FaucetFluidNode, and added code to hide them when their associated FaucetNode is hidden.  I did not make FaucetFluidNode a child of FaucetNode.   That was too big a change, since other things need a reference to the FaucetFluidNode.

Closing.

[2020-02-06 22:52] #107 closed

[2020-02-06 22:54] pixelzoom opened #110 "add ability to change solute name"
From 2/6/20 design meeting notes:

Client request: Ability to change the text property value of liquids listed in the drop-down menu.
CM: This is a “change string” type request. Did we decide that strings should generally be changed through query parameter? If not... this is problematic. Each solute is static, shared by all screens, and names are not intended to be mutable (name is not a Property)

[2020-02-06 22:55] pixelzoom commented on #110
@samreid FYI.... I'm not planning to instrument the TextNodes in the ComboBox.  I'm going to add Solute `{Property.<string>} nameProperty`, and a listener for `nameProperty` in `SoluteComboBox.createItem`.

[2020-02-06 23:03] arouinfar commented on #100
@pixelzoom visually the new PHMeterProbe is looking good and the tree structure seems reasonable.

[2020-02-06 23:03] #100 closed

[2020-02-06 23:12] pixelzoom commented on #110
Assigning to @samreid to review before I pass this on to @arouinfar.

I have implemented as described in https://github.com/phetsims/ph-scale/issues/110#issuecomment-583151600.   An additional complication is that ComboBox is a fixed size, and not capable of growing if one of its items becomes longer.  So if a solute's name is changed, it's maxWidth is constrained to whatever the widest item was a

[2020-02-06 23:12] arouinfar commented on #92
I do not see any issues opened prior to the PhET-iO work that would need to be addressed before publication.

It would be best if the TODOs in https://github.com/phetsims/ph-scale/issues/92#issuecomment-581709192 could be addressed before @kathy-phet and I review the sim in studio. @pixelzoom can you re-assign us when it's ready for review?

[2020-02-07 00:09] pixelzoom commented on #103
I instrumented SoluteIO as requested, and tested in Studio and State Wrapper.

Inspecting the Solute instances shows none of the desired information.  E.g.:

<img width="443" alt="screenshot_101" src="https://user-images.githubusercontent.com/3046552/73989485-27d19e80-4903-11ea-858e-c01e0a7a4f4c.png">

Inspecting `soluteProperty` _does_ show the desired info:

<img width="759" alt="screenshot_102"

[2020-02-07 00:17] pixelzoom commented on #108
Done, closing.

[2020-02-07 00:17] #108 closed

[2020-02-07 00:18] pixelzoom commented on #106
To make `visibleProperty`, pass this via options:

[code]

[2020-02-07 01:09] pixelzoom commented on #106
I made the `visibleProperty` of the following elements read-only:

[code]

[2020-02-07 01:09] #106 closed

[2020-02-07 01:10] pixelzoom opened #111 "instrument values shown by Molecule Counts"
Instrument values shown by Molecule Counts, display as decimals (not scientific notation).

[2020-02-07 01:11] pixelzoom opened #112 "instrument values shown by H3O+/OH- Ratio view"
I'm not sure what to instrument here. Perhaps display the number of red (H30+) particles, number of blue (OH-) particles, and ratio?  But there are no Properties currently for these.   And this node is highly optimized to draw a lot of particles using Canvas, so I'm hesitant to add more overhead.

[2020-02-07 01:43] pixelzoom opened #113 "add phetioDocumention"
phetioDocumention is currently a little sparse.  Do a phetioDocumention pass before turning over to designers for review.

[2020-02-07 01:55] pixelzoom commented on #104
Added:

[code]

To test:

1. Start sim in Studio
2. Select a solute from the combo box, note that the beaker automatically fills to 0.5L
3. Change autoFillEnabledProperty to false
4. Select a solute from the combo box, note that the beaker remains empty
5. Press Reset All button, note that the beaker remains empty
6. Change autoFillEnabledProperty to true
7. Select a solute from the combo box, not

[2020-02-07 02:43] pixelzoom commented on #111
This was not trivial.  The count Properties were of type NumberProperty, and they should have been DerivedProperty.  So that was also fixed in the above commits.

The elements added are:

phScale.microScreen.view.moleculeCountNode.countH3OProperty
phScale.microScreen.view.moleculeCountNode.countOHProperty
phScale.microScreen.view.moleculeCountNode.countH2OProperty

Closing.

[2020-02-07 02:43] #111 closed

[2020-02-07 02:50] pixelzoom commented on #105
Done. Elements added:

[code]

Closing.

[2020-02-07 02:50] #105 closed

[2020-02-07 03:00] pixelzoom commented on #109
Done.

Here's the solution instrumentation in the _Macro_ and _Micro_ screens:

<img width="245" alt="screenshot_103" src="https://user-images.githubusercontent.com/3046552/73997303-4c397500-491b-11ea-8ba1-28f02c83eec4.png">

Here's the instrumentation in the _My Solution_ screen:

<img width="174" alt="screenshot_104" src="https://user-images.githubusercontent.com/3046552/73997317-552a4680-491b-1

[2020-02-07 03:00] #109 closed

[2020-02-07 03:05] pixelzoom commented on #96
GraphIndicatorNode's display is not necessary to instrument. Over in #105, the Properties that contain the values were instrumented.  So I'm not going to attempt to use NumberDisplay there.

[2020-02-07 03:51] pixelzoom commented on #96
MacroPHMeterNode has been changed to use NumberDisplay, and refactored to have this structure:

<img width="288" alt="screenshot_105" src="https://user-images.githubusercontent.com/3046552/73999569-67f44980-4922-11ea-9602-5e84f6edb060.png">

Closing.

[2020-02-07 03:51] #96 closed

[2020-02-07 03:55] pixelzoom commented on #112
... and if I did add Properties, then they would be set 1 at a time, and there would be invalid intermediate states until all 3 Properties had been set.

[2020-02-07 04:03] pixelzoom opened #114 "call interruptSubtreeInput in ResetAllButton listeners"
... to cancel any interactions that are in progress when the sim is reset.

[2020-02-07 04:12] pixelzoom opened #115 "structural problems with ABSwitch"
GraphScaleSwitch and GraphUnitsSwitch are both subclasses of ABSwitch, and therefore have the structural problem noted in https://github.com/phetsims/sun/issues/559.  That should be addressed before publishing a PhET-iO version of this sim.

[2020-02-07 04:16] pixelzoom commented on #104
QA will need to know about this issue, so when it's verified, please change label to "status:fixed-awaiting-deploy".

[2020-02-07 04:35] samreid commented on #110
This seems reasonable, and is an improvement.  The main disadvantage is that there is no obvious connection between the listBox items like `phScaleBasics.macroScreen.view.soluteComboBox.listBox.batteryAcid` and the corresponding solutes like: `phScaleBasics.global.model.solutes.batteryAcid`

I investigated a hack for rectifying this:

<details>

[code]

</details>

This links up the element like s

[2020-02-07 04:50] pixelzoom commented on #110
I don't think we need linked elements connection every listbox item back to its model element.   So let's proceed with what I've done so far.

@arouinfar would you please review in master? To verify:

1. Run sim in Studio
2. Go to Macro screen
3. Choose a solute in combo box
4. Go to `global.model.solutes`, find the solute you selected in the combo box, edit its nameProperty.
5. Verify that the so

[2020-02-07 04:53] pixelzoom commented on #95
The pH meter in _My Solutions_ screen is now using NumberSpinner.  Again, it is not (and cannot be) pixel identical to the previous implementation.

@arouinfar please compare master to the published version.  If this looks reasonable, you can close.

[2020-02-07 04:54] pixelzoom commented on #112
@arouinfar I'm not sure what to do here.  Do you think we need instrumentation for this view? If so, what would you expect?

[2020-02-07 05:23] pixelzoom commented on #113
I added a bit more phetioDocumention in the above commit. Most of the element names are pretty obvious, so I didn't (for example) add "the beaker" for `beaker`.

We'll start with this, and fold in any phetioDocumention that gets added via Studio.

[2020-02-07 05:23] #113 closed

[2020-02-07 05:24] pixelzoom commented on #72
We will not be adding anything like CustomSolute.  So deferring this issue.

[2020-02-11 20:13] pixelzoom commented on #72
Over in https://github.com/phetsims/ph-scale/issues/92#issuecomment-583156907, @arouinfar said:

@arouinfar I'm OK with continuing to defer this.  But I wanted to make sure that you realized that this issue does have implications for PhET-iO.

See https://github.com/phetsims/ph-scale/issues/72#issuecomment-418192071 specifically -- there may still be intermediate states in the data stream.  I'm no

[2020-02-12 20:39] arouinfar commented on #112
@pixelzoom I do not think we need to instrument the particles or the number of particles. A `ratioProperty` could potentially be useful, but I think we would want it to be calculated as `moleculeCountNode.countH3OProperty / moleculeCountNode.countOHProperty` rather than calculating the ratio from the number of red/blue particles.

[2020-02-12 20:48] arouinfar commented on #110
Agreed.

Master is behaving as expected @pixelzoom. Not sure if there is more that needs to be done in this issue, so back to you.

[2020-02-12 20:50] arouinfar commented on #104
Looks good in master @pixelzoom.

[2020-02-12 20:52] arouinfar commented on #95
Looks good in master @pixelzoom.

[2020-02-12 20:52] #95 closed

[2020-02-12 21:03] pixelzoom commented on #112
OK, I'll add `ratioProperty` as you've described in the previous comment.

[2020-02-12 21:03] #110 closed

[2020-02-12 21:03] #104 closed

[2020-02-12 21:25] arouinfar commented on #72
@pixelzoom I could not find a `spinnerProperty` in the tree and searching studio yielded 0 results. The closest thing I could find was `pHProperty` which behaves as I would expect when changing the pH (NumberSpinner or graph controls). Looking at the data stream in the console, I'm also not seeing any errant messages about the `pHProperty`. I think we can probably continue to defer this issue.

I

[2020-02-12 23:08] pixelzoom commented on #112
I added `ratioProperty` to `RatioNode`.  It can be moved elsewhere if you prefer, but this seems like the logical place for it, since the ratio is used only in the view, and only in `RatioNode`.

Here's how it appears in the _Micro_ screen (_My Solution_  screen is similar):

<img width="646" alt="screenshot_121" src="https://user-images.githubusercontent.com/3046552/74385552-0b28e100-4db1-11ea-90

[2020-02-12 23:14] pixelzoom commented on #101
Note to whoever regression tests this... The order of the solutes is hard-coded, see code from MacroModel.js below.   We don't attempt to alphabetize programmatically, since the solute names are translated, and we want this order to be fixed regardless of locale.

[code]

[2020-02-14 21:45] arouinfar commented on #112
@pixelzoom `ratioProperty` looks great in the tree!

Understood, thanks.

[2020-02-14 21:45] #112 closed

[2020-02-18 00:41] zepumph commented on #72
@arouinfar currently this isn't PhET-iO instrumented. That is why you don't see it.

I don't know why we are assigned to this particular issue. To me the steps for this are as follows (note that I'm not involved in the design of this phet-io instrumentation process at all):

* Decide whether this should be instrumented (if not do not continue)
* Instrument the Property
* Have a design team look at

[2020-02-18 01:31] pixelzoom commented on #72
@zepumph said:

Sorry, let me clarify.  If this Property were to be instrumented and is reentrant, will there we intermediate states in the data stream?  I seem to recall mention of some work that was done to eliminate intermediate states from the data stream, but I don't recall details, or it could be a wishful hallucination.  I was hoping that someone from the PhET-iO team could clarify.

[2020-02-18 17:48] zepumph commented on #72
Oh I see. Thanks. Yeah as far as I remember there will still be intermittent states. @samreid can you confirm?

[2020-02-18 21:32] samreid commented on #72
Yes.

[2020-02-19 22:19] pixelzoom commented on #115
phetsims/sun#559 is pending review, but the structural problems have been addressed.  So I'm closing this issue.

[2020-02-19 22:19] #115 closed

[2020-02-19 22:25] pixelzoom commented on #72
I've confirmed that there is no need to instrument `spinnerProperty`.   And I confirmed that there are no intermediate message message in the data stream from `solution.pHProperty`.   I've added a comment in the code, noting that  `spinnerProperty` must not be instrumented, and referencing this issue.

So there is nothing left to do here, closing.

[2020-02-19 22:25] #72 closed

[2020-02-19 22:30] pixelzoom commented on #72
Notes about how I confirmed.... I added this line to PHMeterNode:

`solution.pHProperty.link( pH => console.log( `pH=${pH}` ) );`

Then followed these steps:

1. Start the sim
2. Got to _My Solution_ screen
3. Use the spinner on the pH meter to change pH value.
4. Note that there is exactly 1 console message for each press of the spinner value.

[2020-02-19 22:39] pixelzoom opened #116 "set PhET-iO milestones"
Milestones in the [design document](https://docs.google.com/document/d/1RrILoln3Jdo1hSA1eOtTJN-j8015Q9clqP1caORVYCE/edit?ts=5e39ad31#heading=h.6y75prk97rmc) need to be fleshed out.  They are currently:

[2020-02-19 22:58] arouinfar commented on #116
I do not know any more than you do @pixelzoom, so I'll leave it to @kathy-phet.

[2020-02-19 23:10] pixelzoom commented on #103
@samreid pointed out that `Solute` was `phetioState: false`.  Changing that to `true` shows the state information, see below.

@arouinfar please test drive in master, inspect solutes under `phScale.global.model.solutes`.  If this looks sufficient, feel free to close.

<img width="639" alt="screenshot_135" src="https://user-images.githubusercontent.com/3046552/74885244-4fc4f700-5332-11ea-9f6d-6d28f

[2020-02-19 23:42] pixelzoom opened #117 "feedback on initial PhET-iO instrumentation"
Related to https://github.com/phetsims/ph-scale/issues/92 (PhET-iO instrumentation).

The initial pass at PhET-iO instrumention has been completed, and can be test-driven at https://phet-dev.colorado.edu/html/ph-scale/1.4.0-dev.11/phet-io/.

Since I don't know what the deadline is, I don't know how to prioritize this issue.  The minimum that I'll need is 2 weeks to make changes, and 2 weeks to get

[2020-02-19 23:46] arouinfar commented on #103
Looks good in master @pixelzoom, closing.

[2020-02-19 23:46] #103 closed

[2020-02-20 23:31] pixelzoom commented on #92
Feedback on initial instrumentation has been requested in #117.

[2020-02-20 23:32] pixelzoom commented on #77
This will not be addressed for the PhET-iO release.

[2020-02-26 18:40] pixelzoom commented on #93
Looks like this problem (https://github.com/phetsims/sun/issues/542) is reoccurring.  @arouinfar reported on Slack:

![image](https://user-images.githubusercontent.com/3046552/75376158-c7dc7100-588c-11ea-8771-6d404c5c20d7.png)

[2020-02-27 00:06] arouinfar opened #118 "Should dropper be movable?"
During #117, @kathy-phet and I noticed that the dropper is movable. We don't see any pedagogical value in allowing users to move the dropper, and I couldn't find a reason for it in the design doc. Since the dropper didn't appear in the Java sim, the behavior isn't simply a holdover.

@pixelzoom @ariel-phet do you remember an explicit decision around making the dropper movable? How would you feel a

[2020-02-27 00:08] arouinfar commented on #118
Note that we would need to get rid of `view.dropperNode.dragHandler` if the dropper isn't movable. (Not sure if that would come for free or not.)

[2020-02-27 00:25] arouinfar opened #119 "Creating solution with specific pH"
In #117 @kathy-phet and I thought about how a client might set up a solution with a specific pH. It is hard to set precise values for the solute and solvent amounts using the sim UI, and we can imagine that a client may want more precise control over this (or could potentially want to ask students to create a solution with a specific pH in a wrapper).

We think the user could do this by specifying

[2020-02-27 00:29] ariel-phet commented on #118
I see no pedagogical reason, it is fairly constrained right now. My guess is people thought it was somewhat more playful. If you or @kathy-phet wants to remove that ability, seems fine by me.

[2020-02-27 01:00] pixelzoom commented on #118
My recollection was that the dropper was made horizontally draggable to make the sim more interactive and fun.

If you want its location to be fixed, its more involved than simply removing its DragListener.  The model will also need to be changed.  Dropper currently extends Movable, which is where it gets its `positionProperty`.

If you the fixed position to be something other than the current def

[2020-02-27 01:18] pixelzoom commented on #119
The problem with making `model.solution.waterVolumeProperty` and `model.solution.soluteVolumeProperty` `phetioReadOnly: false` is that their range is dynamic. Together `waterVolumeProperty + soluteVolumeProperty` must be <= 1.2L, which is the capacity of the beaker.

If we simply make them each Property have a range of [0,1.2] L, then that makes it possible to overflow the beaker.  Example:

By de

[2020-02-27 01:21] pixelzoom commented on #119
Note that this also does not address setting a specific pH in the _My Solutions_ screen.  That would involve making `phScale.mySolutionsScreen.model.solution.pHProperty` have `phetioReadOnly: false` -- which is impossible because it's a DerivedProperty.    The way to set a specific pH in the _My Solutions_ screen is to use the pH Meter spinners.

[2020-02-27 02:18] kathy-phet commented on #119
I suggest we do a mini-PhET-iO meeting around pHscale - perhaps at next week's design meeting - and discuss there. Thanks for explaining the options.

[2020-02-27 02:24] kathy-phet commented on #118
Then perhaps we just leave it as is. It's not hurting anything. I will note it is not currently possible to make it unmoveable/unpickable without also making the add liquid button unpickable/not working. Let's discuss at an upcoming mini-design meeting.

[2020-02-27 02:27] kathy-phet commented on #116
Done.

[2020-02-27 02:27] #116 closed

[2020-02-27 02:31] pixelzoom commented on #118
Also note that the dropper is movable in Beer's Law Lab and Concentration.

Perhaps there should be a general solution for disabling a Node's drag listener?

[2020-02-27 02:31] kathy-phet commented on #117
Update - @arouinfar and I spent ~2 hours on this and completed review of Micro and Macro screens. We will do another session next week. Overall, looking really nice @pixelzoom. Amy will make a few issues.

[2020-02-28 16:29] pixelzoom opened #120 "fix SoluteIO validator"
In SoluteIO.js:

[code]

This can presumably be addressed now that we are using ES6 modules, where cyclic dependencies are not an issue.

[2020-02-28 20:36] arouinfar commented on #117
@pixelzoom here are our comments/questions from the review of the Macro and Micro screens.

- [ ] We would like `macroScreen.model.autoFillEnabledProperty` and `microScreen.model.autoFillEnabledProperty` hooked up to a common query parameter to allow phet-brand users to access this feature. A flag called `autoFill` seems appropriate.

- [ ] Is `model.dropper.emptyProperty` ever false? Under what c

[2020-02-28 22:17] pixelzoom opened #121 "autoFill query parameter"
From #117:

- [ ] We would like `macroScreen.model.autoFillEnabledProperty` and `microScreen.model.autoFillEnabledProperty` hooked up to a common query parameter to allow phet-brand users to access this feature. A flag called `autoFill` seems appropriate.

[2020-02-28 22:18] pixelzoom opened #122 "delete model.dropper.emptyProperty"
From #117:

- [ ] Is `model.dropper.emptyProperty` ever false? Under what circumstance would the dropper ever be empty?

[2020-02-28 22:19] pixelzoom opened #123 "add linked element to drainFaucetNode and waterFaucetNode"
From #117:

- [ ] `view.drainFaucetNode` and `view.waterFaucetNode` should probably both have a linked property that points back to the appropriate `model.x.flowRateProperty`. However, the flowRateProperty is read only, so we are not sure if adding *property is appropriate here. Does there need to be some property in the view that sets the flowRateProperty in the model?

[2020-02-28 22:19] pixelzoom opened #124 "make enabledProperty read-only for zoom buttons"
From #117:

- [ ] These properties should be read only, since the sim should control when these buttons are disabled rather than the client.
`microScreen.view.graphNode.linearGraphNode.zoomButtonGroup.zoomInButton.enabledProperty`
`microScreen.view.graphNode.linearGraphNode.zoomButtonGroup.zoomOutButton.enabledProperty`

[2020-02-28 22:20] pixelzoom opened #125 "restructure graph Properties"
From #117:

- [ ] Would it be possible to factor out all of the graph values into something like `microScreen.view.graphNode.values`? Currently, the same value appears in both the linearGraphNode and the logarithmicGraphNode (e.g. `microScreen.view.graphNode.linearGraphNode.valueH2OProperty` and `microScreen.view.graphNode.logarithmicGraphNode.valueH2OProperty`). To further complicate things, thes

[2020-02-28 22:22] pixelzoom commented on #117
Thanks @arouinfar.  Each of the items in https://github.com/phetsims/ph-scale/issues/117#issuecomment-592716865 is worthy of its own GitHub issue, which I've created and linked to this issue.

[2020-02-28 22:23] pixelzoom commented on #117
Thanks @arouinfar.  Each of the checklist items in https://github.com/phetsims/ph-scale/issues/117#issuecomment-592716865 is worthy of its own GitHub issue, which I've created and linked to this issue.

[2020-02-28 22:26] pixelzoom commented on #121
Assuming that you want the sims to continue to behave as they do now without this query parameter...  A flag (i.e. `?autoFill`) is not appropriate. It needs to be a boolean (e.g. `autoFill=false`), default `true` for "pH Scale" and `false` for "pH Scale: Basics".

@arouinfar is that acceptable.

[2020-02-28 22:29] pixelzoom commented on #122
I investigated, and the dropper is never empty in this sim, so it's not needed in the model.  My guess is that it was added because SCENERY_PHET/DropperNode has an optional `emptyProperty`.

Would you like me to remove it from the model?

[2020-02-28 22:43] pixelzoom commented on #124
Done in the above commit.  @arouinfar please review in master.

[2020-02-28 22:57] pixelzoom commented on #123
The dropper has a fixed flow rate; it's either on or off. `flowRateProperty` there should be replaced with a boolean on/off Property.

The 2 faucets have a variable flow rate, modeled in `FaucetNode` as `flowRateProperty`.  This Property is controlled by the faucet handle in the view.  (So no, there does not need to be some Property in the view that sets the flowRateProperty in the model.)

Adding

[2020-02-28 23:02] arouinfar commented on #121
Thanks for the clarification @pixelzoom. Let's proceed with the boolean query parameter.

[2020-02-28 23:04] arouinfar commented on #122
Thanks @pixelzoom. Let's remove it from the model.

[2020-02-28 23:07] arouinfar commented on #124
Looks good in master @pixelzoom!

[2020-02-28 23:07] #124 closed

[2020-02-28 23:14] arouinfar commented on #123
Thanks the for the explanation @pixelzoom.

Great!

Until now, we haven't seen read only linked properties, so we weren't sure if we could link directly to the `flowRateProperty` or not. I can't see a reason for it to be phetioReadyOnly: false, but thanks for the investigation.

[2020-02-29 02:14] pixelzoom commented on #121
Implemented in the above commits. @arouinfar please verify in master. Be sure to test both ph-scale and ph-scale-basics.

[2020-02-29 02:20] pixelzoom commented on #122
`model.dropper.emptyProperty` was removed in the above commits. @arouinfar please verify in master.

[2020-02-29 02:22] pixelzoom commented on #123
Next question.... `FaucetNode` is a common-code UI component.  Do you want this linked element to be added in `FaucetNode` (for all sims), or in sim-specific code (only for ph-scale and ph-scale-basics)?

[2020-02-29 02:26] pixelzoom commented on #123
I said:

This isn't true.  The `flowRateProperty` is important for the dropper.  It allows us to autoFill more quickly that manually filling.   So no change here, and `dropper.flowRateProperty` will remain `phetioReadOnly: true`.

[2020-02-29 02:58] pixelzoom commented on #125
This is going to be a significant change.    It's going to require big changes to `LinearGraphNode` , `LogarithmicGraphNode`, and `GraphIndicatorNode`.   Estimate is 2-4 hours.

I think the right way to do this is to add a `Graph` model element, like this:

[code]

... where all of these Properties are `phetioReadOnly: true`.

Then I'll link the graph view to the model, like this:

[code]

@arouin

[2020-02-29 03:01] pixelzoom commented on #120
I tried importing `Solute` in `SoluteIO`, like this:

[code]

It fails `grunt update` with:

[code]

I'm guessing that this is because I'm creating a static instance of `Solute` at line 139.

[2020-02-29 03:09] pixelzoom commented on #125
FYI... This was intentional in the original implementation, so that we are efficient with our use of resources and only compute what we're displaying. By changing this to have separate Properties for concentration vs quantity, half of the information we're computing will not be displayed.  This shouldn't be a performance problem in this specific case, but it's not recommend as a general approach.

[2020-02-29 03:12] pixelzoom commented on #125
FYI... This was intentional in the original implementation, so that we are efficient with our use of resources and only compute what we're displaying. By changing this to have separate Properties for concentration vs quantity, half of the information we're computing will not be displayed.  This shouldn't be a performance problem in this specific case, but it's not recommend as a general approach.

[2020-02-29 04:57] pixelzoom commented on #125
I went ahead and did this.   It took 1.75 hours.

Here's `model.graph` in Studio:

<img width="279" alt="screenshot_159" src="https://user-images.githubusercontent.com/3046552/75601093-0cc2fc00-5a75-11ea-9320-4db828de459d.png">

Here's `model.graphNode` in Studio:

<img width="260" alt="screenshot_160" src="https://user-images.githubusercontent.com/3046552/75601098-23695300-5a75-11ea-8a8b-846c3a80

[2020-03-02 16:40] arouinfar commented on #125
Thanks @pixelzoom! @kathy-phet and I reviewed this in studio and it is looking really good. We think `graph` could be a bit more descriptive though, perhaps `model.graphData` or `model.graphValues`? We don't have a strong preference between these, so we'll leave it up to @pixelzoom.

[2020-03-02 16:44] arouinfar commented on #123
Great question @pixelzoom. Is `flowRateProperty` part of the common `FaucetNode`? If so, then it seems appropriate to add the linked property in common code.

I remember a similar discussion around `isPlayingProperty` and `PlayPauseButton`, and we decided to handle it sim-by-sim since `isPlayingProperty` was specified in the sim. Not sure if this example is parallel or not.

[2020-03-02 16:46] arouinfar commented on #122
👍

[2020-03-02 16:46] #122 closed

[2020-03-02 16:48] arouinfar commented on #121
Looks good in ph-scale and ph-scale-basics on master. Thanks @pixelzoom!

[2020-03-02 16:48] #121 closed

[2020-03-02 16:48] pixelzoom commented on #125
The convention for mode/view naming is (by example) `Ball` and `BallNode`; `Particle` and `ParticleNode`, etc.   The model and view class names match, with `Node` appended to the model class name. That's why I went with `Graph` and `GraphNode`.

Options:

(a) Violate the convention and do something like `GraphData` and `GraphNode`.  This will require additional internal documentation and would lik

[2020-03-02 16:52] arouinfar commented on #118
@kathy-phet and I think this is likely to come up in other sims like Bending Light. A client may want to fix the position of the LaserNode, but leave the button on it interactive. We're going to mark this issue for further discussion at PhET-iO meeting.

[2020-03-02 16:58] pixelzoom commented on #123
`flowRateProperty` is a required parameter for all FacuetNode instances:

[code]

It would be up to the client whether and how to instrument `flowRateProperty`. Then FaucetNode could add the link it `flowRateProperty` is instrumented.

Let me know how you'd like to proceed.

[2020-03-02 17:07] arouinfar commented on #123
@pixelzoom let's proceed with adding the linked property to `FaucetNode` itself.

[2020-03-02 17:09] arouinfar commented on #125
@pixelzoom thanks for the clarification. We didn't realize we would be breaking naming conventions. Let's stick with `Graph` and `GraphNode`.

[2020-03-02 21:22] pixelzoom commented on #120
I'll need to do what I did in phetsims/beers-law-lab#246.  That is, move static instances to their own .js file.

[2020-03-02 21:43] pixelzoom commented on #120
Done in the above commit. Closing.

[2020-03-02 21:43] #120 closed

[2020-03-02 23:19] arouinfar opened #126 "Hide ArrowNode if GraphIndicatorNode is not pickable"
For #117

On the My Solution Screen, the GraphIndicatorNode for H3O+ and OH- are interactive. They are decorated with a green arrow to cue the interactivity.

![image](https://user-images.githubusercontent.com/8419308/75726282-48410e80-5c9f-11ea-9ab4-9796b512285c.png)

PhET-iO clients may choose to set the pickableProperty of `indicatorH3ONode` and/or `indicatorOHNode` to false to prevent users fr

[2020-03-02 23:42] arouinfar opened #127 "State of solution is not being properly saved"
Discovered in #117.

When launching the sim from studio, the state of the solution is not correctly saved. The sim loads with the correct solute, but all other values in `model.solution` revert to the sim defaults.

There is an additional quirk with the auto fill feature. If `autoFillEnabledProperty` is true when launched, the dropper will slowly fill the beaker to 0.50 L (as opposed to usual auto

[2020-03-02 23:51] arouinfar opened #128 "pHMeterNode.expandCollapseButton.pickableProperty not hooked up properly"
Discovered in #117

The `view.pHMeterNode.expandCollapseButton.pickableProperty` is not behaving as expected. The button remains interactive when the pickableProperty is set to false.

Steps to reproduce:
1. Open the sim in studio
2. Navigate to `phScale.microScreen.view.pHMeterNode.expandCollapseButton.pickableProperty` or `phScale.mySolutionsScreen.view.pHMeterNode.expandCollapseButton.pickableP

[2020-03-03 00:02] pixelzoom commented on #123
Done in the above commit.  This affects all sims that have a FaucetNode, and their API files have been updated.

@arouinfar please verify in master.

[2020-03-03 00:11] arouinfar commented on #123
This is looking good in master @pixelzoom. I don't know the full subset of sims that have both a FaucetNode and have been instrumented, but I did take a peek at beers-law-lab and things are looking good there too.

[2020-03-03 00:11] #123 closed

[2020-03-03 00:18] pixelzoom commented on #126
Done in the above commit.  Reminder that pickableProperty is not boolean -- it can be true, false, or null.   If it's true or null, then the arrows are visible; if it's false then the arrows are invisible.

@arouinfar please review in master.

[2020-03-03 00:18] arouinfar commented on #119
Thanks for the explanation @pixelzoom. I will be requesting design meeting time for ph-scale, so we can continue the discussion then.

Extra notes from the design review of the My Solution screen:

Theoretically, it seems like a client should be able to use `mySolutionsScreen.model.solution.pHProperty` to set the pH of a solution through an API. However, the property is read only. What implication

[2020-03-03 00:26] arouinfar opened #129 "My Solution screen tandem should be mySolutionScreen"
Discovered during #117

The 3rd screen is called `My Solution` (singular).
![image](https://user-images.githubusercontent.com/8419308/75730488-4cbef480-5caa-11ea-8296-219858984950.png)

However, the tandem name is currently `mySolutionsScreen` (plural).
![image](https://user-images.githubusercontent.com/8419308/75730707-dbcc0c80-5caa-11ea-9f73-895ef050b62b.png)

[2020-03-03 00:36] pixelzoom commented on #128
This is not specific to pH Scale. I can reproduce it in any sim that has an AccordionBox with a title (e.g. the "Particles" accordion box in Gas Properties).   It's not the ExpandCollapseButton that remaining interactive. It's the title bar that is expanding/collapsing the accordion box.  (I verified this by removing the input listeners from `collapsedTitleBar` and `expandedTitleBar` in AccordionB

[2020-03-03 00:40] arouinfar commented on #117
@kathy-phet and I reviewed the My Solution screen in studio, concluding our design review. I've opened the above issues (and I have two more to open tomorrow).

These items seem a bit smaller, so I'll ask them here rather than in their own issues.

- [ ] `mySolutionsScreen.view.graphNode.graphScaleProperty` is technically irrelevant on this screen since graph scale is always logarithmic. We don't

[2020-03-03 00:41] pixelzoom commented on #129
Fixed in the above commit. @arouinfar please verify in master.

[2020-03-03 00:49] pixelzoom commented on #119
It's not possible to make `mySolutionsScreen.model.solution.pHProperty` `phetioReadOnly: false`.  It's currently a DerivedProperty, and those cannot be set directly -- either programmatically or otherwise -- because they are derived from other Property values.

It is a DerivedProperty because that is the case in the first 2 screens. And the _My Solutions_ screen uses the same model as the other sc

[2020-03-03 00:53] pixelzoom opened #130 "graphScaleProperty is irrelevant for My Solution screen"
From https://github.com/phetsims/ph-scale/issues/117#issuecomment-593706368:

- [ ] `mySolutionsScreen.view.graphNode.graphScaleProperty` is technically irrelevant on this screen since graph scale is always logarithmic. We don't see any particular harm in leaving it around since it labels the scale, but it should be `phetioReadOnly: true`.

[2020-03-03 00:54] pixelzoom opened #131 "make drag handler appear as a child of GraphIndicatorNode"
From https://github.com/phetsims/ph-scale/issues/117#issuecomment-593706368:

- [ ] In the tree, the drag handlers of the GraphIndicatorNodes are siblings of the GraphIndicatorNode. For example:
`mySolutionsScreen.view.graphNode.logarithmicGraphNode.indicatorH3ODragHandler` and
`mySolutionsScreen.view.graphNode.logarithmicGraphNode.indicatorH3ONode`
We think it would be more intuitive for clients

[2020-03-03 00:55] pixelzoom commented on #117
There is no issue too small for a GitHub issue :). So I've moved these to their own issue.

[2020-03-03 00:59] pixelzoom commented on #117
@arouinfar There are 2 items unchecked in  https://github.com/phetsims/ph-scale/issues/117#issue-567926072.  It sounds like you've reviewed phetioID names. Have you reviewed the data stream using one of the wrappers?

[2020-03-03 01:13] pixelzoom commented on #131
Done in the above commit. @arouinfar please review in master.

Here's how `phScale.mySolutionScreen.view.graphNode.logarithmicGraphNode ` looks in Studio:

<img width="219" alt="screenshot_162" src="https://user-images.githubusercontent.com/3046552/75733051-74fe2180-5cb1-11ea-87d0-3b7a3ca3a747.png">

[2020-03-03 01:40] pixelzoom commented on #130
`graphScaleProperty` is now created only when we have both scales.  So it does not exist in the _My Solutions_ screen.

@arouinfar please review in master.

[2020-03-03 01:42] pixelzoom commented on #127
I thought that perhaps the autoFill was blowing away the saved state of the solution. But running with `?autoFill=false` I see that's not the case.   It looks like the solute and water volumes are not being restored.

Disabling `autoFillEnabledProperty` when state is restored is a separate (and complicated) problem.

[2020-03-03 01:46] pixelzoom opened #132 "disable "auto fill" while state is being restored"
From #127:

[2020-03-03 01:47] pixelzoom commented on #132
It really doesn't matter how fast the autoFill is.  When state is restored, there should be no autoFill.  Otherwise it would clear the solution and fill the beaker with 0.5L of solute.

@arouinfar do you agree?

[2020-03-03 02:38] pixelzoom commented on #127
Solution state is actually being saved correct.  But when it's restored, this bit of code in Solution.js is executed, and empties the beaker:

[code]

This is another case of "don't do that while PhetioEngine is restoring state".   And after working with @samreid on this same type of problem in https://github.com/phetsims/beers-law-lab/issues/247 today, my understanding is that we don't have a gen

[2020-03-03 02:51] pixelzoom commented on #127
I created https://github.com/phetsims/phet-io/issues/1624 to come up with a general solution, assigned to the PhET-iO team.  This issue is blocked until that is addressed.

[2020-03-03 02:51] pixelzoom commented on #132
This issue requires knowing when state is being restored, then skipping the autofill.

I created phetsims/phet-io#1624 to come up with a general solution, assigned to the PhET-iO team. This issue is blocked until that is addressed.

[2020-03-03 02:58] pixelzoom commented on #127
Changing the above code to this does the job. But we need something clearer for general use.

[code]

[2020-03-03 03:01] pixelzoom commented on #132
I verified that adding this `settingState` flag in MacroModel does the job.  But we need something cleaner for general use.

[code]

[2020-03-03 17:59] pixelzoom commented on #118
Thinking out loud... How about adding `enabledProperty` to all listeners (`SimpleDragHandler`, `DragListener`, `PressListener`,...)  Then you would disable interactivity by setting the listener's `enabledProperty:false`, rather than changing `pickableProperty:false` on the Node that the listener is attached to.

[2020-03-03 18:06] pixelzoom commented on #118
`pickableProperty` (like `visibleProperty` and `opacityProperty`) applies to a Node and all of its children.  So it makes sense that setting `pickableProperty: false` for the `dropperNode` would disable interactivity for all parts of dropperNode, including its push button. And  I don't think we want to change that behavior.

How about adding the ability to disable listeners? We could add `enabledP

[2020-03-03 18:09] pixelzoom opened #133 "how to disable a Node's listener"
Over in https://github.com/phetsims/ph-scale/issues/118#issuecomment-591745256 @kathy-phet noted about the dropper in ph-scale:

I said:

@arouinfar said:

[2020-03-03 18:09] pixelzoom commented on #133
`pickableProperty` (like `visibleProperty` and `opacityProperty`) applies to a Node and all of its children.  So it makes sense that setting `pickableProperty: false` for the `dropperNode` would disable interactivity for all parts of dropperNode, including its push button. And  I don't think we want to change that behavior.

How about adding the ability to disable listeners? We could add `enabledP

[2020-03-03 18:10] pixelzoom commented on #118
I've moved the general discussion about how to disable listeners to https://github.com/phetsims/ph-scale/issues/133.

[2020-03-03 18:13] pixelzoom commented on #118
I've moved the general discussion about how to disable listeners to https://github.com/phetsims/ph-scale/issues/133.

So our remaining decisions here are:

(1) Whether the dropper should be draggable. If not, then (2) is moot.

(2) Whether what we come up with in https://github.com/phetsims/scenery/issues/1041 should be applied here to allow the client to disable dragging of the dropper.

[2020-03-03 18:25] pixelzoom commented on #119
If you really want to support setting a specific pH, here's my recommendation:

For _Micro_ and _Macro_ screens, investigate using the dynamic range feature of `NumberProperty` to set ranges for `waterVolumeProperty` and `soluteVolumeProperty`, such that their total is always <= 1.2L.  Then make both of those Properties `phetioReadOnly: false` so that they can be edited in Studio.  Estimate: 2-4 h

[2020-03-03 19:15] pixelzoom commented on #93
@arouinfarI I could not reproduce this in master, so I re-read your description above.  You said " the latest published version".  And that's a fact -- it's broken in the latest published version, which is on the 1.3 branch.   This issue was marked "status:fixed-awaiting-deploy" because it had been fixed in master, and needs to be tested the next time we create a release branch.  There is no plan

[2020-03-03 19:16] pixelzoom commented on #93
@arouinfar If for some reason you can re-produce this in master, please let me know.

[2020-03-04 21:54] arouinfar commented on #132
Agreed @pixelzoom.

[2020-03-04 21:55] arouinfar commented on #131
Looks great, thanks @pixelzoom!

[2020-03-04 21:55] #131 closed

[2020-03-04 21:57] arouinfar commented on #130
👍

[2020-03-04 21:57] #130 closed

[2020-03-04 21:57] arouinfar commented on #129
👍

[2020-03-04 21:57] #129 closed

[2020-03-04 21:59] arouinfar commented on #126
Understood, thanks @pixelzoom. The behavior is looking good in master.

[2020-03-04 21:59] #126 closed

[2020-03-04 22:02] arouinfar commented on #93
I never saw the problem on master, only in versions 1.3.0-1.3.4.

[2020-03-04 22:25] pixelzoom commented on #132
Over in phetsims/phet-io#1624,  `phet.joist.sim.isSettingPhetioStateProperty` was added to determine whether PhetioEngine is setting state. I'll proceed with that.

[2020-03-04 22:26] pixelzoom commented on #127
Over in phetsims/phet-io#1624,  `phet.joist.sim.isSettingPhetioStateProperty` was added to determine whether PhetioEngine is setting state. I'll proceed with that.

[2020-03-04 22:40] pixelzoom commented on #132
Fixed in the above commit. @arouinfar please verify in master.  Run the sim with `?autoFill=true` (the default for ph-scale), make some changes in Studio, press "Launch", and verify that the beaker is not autoFilled when the sim launches.

[2020-03-04 22:41] pixelzoom commented on #127
Fixed in the above commit. @arouinfar please verify in master. Run the sim, make some changes in Studio, press "Launch", and verify that solution matches the changes made in Studio.  Bonus points for testing with `?autoFill=false` and `?autoFill=true`.

[2020-03-04 22:42] pixelzoom commented on #117
Labeling for design meeting to discuss what else needs to be done here.

[2020-03-04 23:29] arouinfar opened #134 "Can GraphIndicatorNode be snappy when dragged?"
During #117, @kathy-phet commented that it is hard to set specific values when dragging the GraphIndicatorNodes on the My Solution Screen. We were wondering if it would be possible to snap the values to the nearest 1.0 when dragging the GraphIndicatorNode. For example, when dragging the H3O+ GraphIndicatorNode up from the default position, the values would snap to:

1.0E-7
2.0E-7
3.0E-7
...
1.0E-6

[2020-03-04 23:36] arouinfar opened #135 "design of pHMeterNode.valueNode"
For #117

When reviewing `mySolutionsScreen.view.pHMeterNode.valueNode` @kathy-phet and I had some questions we thought would be best discussed in design meeting.

* This looks like a NumberSpinner (but isn't), should we be considering general design patterns for this type of UI control?
* Should the increment/decrement buttons be grouped? If grouped, instructional designers could remove them thro

[2020-03-04 23:40] pixelzoom commented on #135
It is definitely a NumberSpinner, and that conversion was done in https://github.com/phetsims/ph-scale/issues/95.   It's phetioID is currently `phScale.mySolutionScreen.view.pHMeterNode.valueNode`. Would you like to renamed it `phScale.mySolutionScreen.view.pHMeterNode.spinner`?

[2020-03-04 23:42] pixelzoom commented on #135
Since this is a NumberSpinner, these are common-code design decisions.  Whatever you decide will apply to all NumberSpinner instances.

Recommended to transfer this issue to sun repo.

[2020-03-04 23:43] arouinfar commented on #135
Glad to know it is indeed a NumberSpinner! We should definitely be thinking about the general PhET-iO design pattern for NumberSpinner. @pixelzoom please transfer this to sun and rename as you see appropriate.

[2020-03-05 00:09] pixelzoom commented on #135
@arouinfar what is the answer to this question?

[2020-03-05 17:12] pixelzoom commented on #135
Slack:

Amy Rouinfar:spiral_calendar_pad:  10:08 AM
I’m not sure that `spinner` would be a well-understood term, so perhaps `valueNode` is preferable. We can check with KP in the design meeting

Chris Malley  10:09 AM
spinner should be as familiar as checkbox, combo box, ...  it's a standard UI component that's in all UI toolkits.

Amy Rouinfar:spiral_calendar_pad:  10:10 AM
I didn’t not know that

[2020-03-05 19:02] pixelzoom commented on #135
I've moved the general NumberSpinner design to https://github.com/phetsims/sun/issues/575.

The remaining question here is whether to rename `mySolutionsScreen.view.pHMeterNode.valueNode` to `mySolutionsScreen.view.pHMeterNode.spinner`.

`phMeterNode` currently looks like this in Studio:

<img width="261" alt="screenshot_169" src="https://user-images.githubusercontent.com/3046552/76015876-1c10d200

[2020-03-05 19:04] pixelzoom commented on #135
I've moved the general NumberSpinner design to https://github.com/phetsims/sun/issues/575.

`mySolutionsScreen.view..phMeterNode` currently looks like this in Studio. The remaining question for this issue is whether to rename `valueNode` to `spinner`.   I recommend yes, because it's a spinner, a spinner is a standard UI component, and it would be consistent with other sims (e.g. gas-properties).

[2020-03-05 20:44] pixelzoom commented on #118
3/5/20 design meeting:

* keep the dropper movable
* we don't want to change the tandem hierarchy for dropperNode
* address disabling input listeners in phetsims/scenery#1041

Closing.

[2020-03-05 20:44] #118 closed

[2020-03-05 20:48] pixelzoom commented on #135
3/5/20 design meeting:

* rename to `spinner`
* address general spinner design in phetsims/sun#575

[2020-03-05 20:58] pixelzoom commented on #134
3/5/20 design meeting:

I'll evaluate.  If it's not easy, report back.  Otherwise do it.

[2020-03-05 21:13] pixelzoom commented on #119
3/5/20 design meeting:

* Investigate dynamic range for waterVolumeProperty and soluteVolumeProperty. If it doesn't work out, still do `phetioReadOnly: false`, and allow them to exceed 1.2L as long as it doesn't crash the sim.  Add phetioDocumentation to those Properties that it's the clients' responsibility not to exceed 1.2L.

* No Studio slider -- `phetioStudioControl: false` for waterVolumePro

[2020-03-05 21:34] pixelzoom commented on #117
3/5/20 design meeting: @arouinfar and @kathy-phet will look at data stream, prioritizing high-frequency.

[2020-03-06 00:33] arouinfar commented on #127
This is working beautifully in master for both `autoFill=true` and `autoFill=false`. Thanks @pixelzoom!

[2020-03-06 00:33] #127 closed

[2020-03-06 00:34] arouinfar commented on #132
Looks good in master @pixelzoom

[2020-03-06 00:34] #132 closed

[2020-03-07 17:58] pixelzoom opened #136 "why do graph indicators look disabled when values are zero?"
This occurred to me while working on another issue. When the beaker is empty in the Macro screen, the graph indicators show '0'. This is correct and makes sense for both mol/L and mol.  But they also look disabled:

<img width="1041" alt="screenshot_172" src="https://user-images.githubusercontent.com/3046552/76149930-172b5a00-6062-11ea-9c72-d6068230a59e.png">

Imo, this looks bad aesthetically.  A

[2020-03-07 18:00] pixelzoom commented on #136
Note to self, relevant code is in GraphIndicatorNode.js:

[code]

[2020-03-07 18:09] pixelzoom opened #137 "instrumentation of microScreen.model.pHMeter"
Something I noticed while working on another issue...

Instrumentation of the pH meter mode in _Macro_ screen looks like this:

[code]

There are a few problems here:

* `valueProperty` is never updated, always `null`
* this meter doesn't have a separate movable probe, so both `probe` and `positionProperty` are irrelevant
* it's created in the model, but not actually used in the view

Like the _My

[2020-03-07 18:11] pixelzoom commented on #125
Reopening.  While working on #119, I realized that these Properties should not be in `model.graph`.  They should be added to `model.solution` in the Micro and My Solution screens, because they are Properties of the solution.   This will also make it easier to accomplish #119.

@arouinfar OK to proceed with this change?

[2020-03-08 22:55] pixelzoom opened #138 "link pHMeterNode to associated pHProperty"
... to make pHProperty easier to locate in Studio.

[2020-03-08 23:17] pixelzoom commented on #119
In the above commit, I made some rather major changes to make pHProperty directly settable in My Solution screen.

Still to do:

- [ ] Create `class MicroSolution extends Solution`, add in the Properties from `Graph` and `MoleculesNode`.
- [ ] Remove `getMolecules*` methods from `Solution`.
- [ ] Add dynamic ranges to `Solution` `waterProperty` and `soluteProperty`.
- [ ] Investigate getting rid o

[2020-03-09 15:50] pixelzoom commented on #137
Sorry, I was wrong here.  The Macro screen does have a movable probe.  The only change I'm going to make is to rename `valueProperty` to `pHProperty`, and that will be done in #138.  So closing.

[2020-03-09 16:15] arouinfar commented on #125
Yes, @pixelzoom please proceed with this change.

[2020-03-09 16:20] arouinfar commented on #136
@pixelzoom I think the reason they look disabled is because the concentration is technically undefined (dividing by zero), though quantity being zero is not problematic.  Would it be possible to display an emdash like we normally do for null/noValue? The position of the indicators could stay at the bottom of the graph.

Either way, I think we could make the GraphIndicatorNodes look enabled when th

[2020-03-09 16:36] kathy-phet opened #139 "Make enabledProperty read only for increment/decrement buttons"
@arouinfar and I noticed that for the MySolutions screen, the enabledProperty of pH increment and decrement buttons are controlled by the sim, so those should be made "read only" and "not featured" in the studio tree.

Can you do one or either of this in the code, or do we need to do that manually overrides? We are thinking overrides, because you would need to reach into button and that is not cle

[2020-03-09 16:41] pixelzoom commented on #139
This is a general issues with NumberSpinner that should be handled as part of its PhET-iO design, in https://github.com/phetsims/sun/issues/575.   If you want to override what is decided in that general design issue, then it would be done in Studio.

Feel free to close this issue if that answers your question.

[2020-03-09 17:28] pixelzoom commented on #138
Over in https://github.com/phetsims/sun/issues/575#issuecomment-596643759, we are discussing adding a Property linked element to NumberSpinner, and @arouinfar said:

<img src="https://user-images.githubusercontent.com/8419308/76236208-f3971980-61f1-11ea-9752-2330b006cf4c.png" width=200>

[2020-03-09 17:28] pixelzoom commented on #138
@arouinfar in the above commit, I've added a link to `pHProperty` only if `pHMeterNode` doesn't have a spinner.   The downside is a lack of consistency -- the `pHMeterNode` in _Macro_ and _Micro_ screens have a link , the one in _My Solutions_ does not.  See Studio trees below.

phScale.mySolutionScreen.view.pHMeterNode:

<img width="208" alt="screenshot_174" src="https://user-images.githubusercon

[2020-03-09 17:31] pixelzoom commented on #138
@arouinfar over to you for review.  The trade-off is consistency vs duplication for `phScale.mySolutionScreen.view.pHMeterNode`.  Let me know your preference, I don't have a strong feeling here.

[2020-03-09 18:06] pixelzoom commented on #139
I've moved this question to https://github.com/phetsims/sun/issues/575. Closing.

[2020-03-09 18:06] #139 closed

[2020-03-09 18:29] pixelzoom opened #140 "rename solution.volumeProperty to solution.totalVolumeProperty?"
This occurred to me while working on #119.

@arouinfar do you think it would be useful to rename `solution.volumeProperty` to `solution.totalVolumeProperty`, since it's waterVolume + soluteVolume?

For example, `phScale.macroScreen.model.solution`:

<img width="239" alt="screenshot_177" src="https://user-images.githubusercontent.com/3046552/76245417-796e9100-6201-11ea-8ba9-605c277176c2.png">

[2020-03-09 20:43] arouinfar commented on #140
Good suggestion @pixelzoom. I think `totalVolumeProperty` would be a bit clearer. Please make this change.

[2020-03-09 21:11] pixelzoom commented on #140
Done in the above commit.  Note that in order to reuse the model throughout the sim, it needs to be `totalVolumeProperty` in _My Solutions_, even though it's the only volume in that screen.

@arouinfar please review in master.

[2020-03-09 21:12] pixelzoom commented on #125
These Properties have been moved to `microScreen.model.solution` and `mySolutionScreen.model.solution` as part of #119.

@arouinfar please review in master.

[2020-03-09 21:14] pixelzoom commented on #125
You'll also see 3 `numberOf*MoleculesProperty` elements under `model.solution`.  These moved here from `view.moleculeCountNode` for these same reason as the graph Properties.

[2020-03-09 21:21] pixelzoom commented on #136
@arouinfar It's not currently possible to display an emdash.  These indicators use SCENERY_PHET/ScientificNotationNode, which requires a number.  I'll investigate what's required to make them support `null`.

I did make the indicators look enabled when the value is zero.

[2020-03-09 21:23] pixelzoom commented on #136
Good news - ScientificNotationNode does support `null`.  The documentation was out of date.

[2020-03-09 21:32] pixelzoom commented on #136
When the beaker is empty, graph indicators now display embash for concentration, 0 for quantity.

@arouinfar please review in master.

[2020-03-09 21:43] arouinfar commented on #138
I think the duplication of having *pHProperty under `view.pHMeterNode` and *property under `view.pHMeterNode.spinner` (both pointing back to `model.solution.pHProperty`) would be confusing to clients.  I prefer the general pattern of including a link to the associated property within the common component, in this case, `NumberSpinner`.

@pixelzoom I think tree in master is looking good, but I want

[2020-03-09 21:48] arouinfar commented on #140
Looks good in master @pixelzoom.

[2020-03-09 21:48] #140 closed

[2020-03-09 21:50] arouinfar commented on #136
Looks great in master, thanks @pixelzoom.

[2020-03-09 21:50] #136 closed

[2020-03-09 22:05] arouinfar commented on #125
@pixelzoom the contents of `model.solution` look good.  However, I'm not seeing linked properties under `view.moleculeCountNode` and `view.graphNode.*GraphNode.indicator*Node` to the associated model properties.

[2020-03-09 22:13] pixelzoom commented on #125
I was under the impression that we were using linked elements judiciously, not adding them in every view component, so I didn't add them to `view.moleculeCountNode`.  But it sounds like you want them, so I've added them.  Looks like this in Studio:

<img width="291" alt="screenshot_178" src="https://user-images.githubusercontent.com/3046552/76261854-8353bc80-6220-11ea-8717-0de0e4c459a8.png">

For

[2020-03-09 22:14] pixelzoom commented on #125
... and if I add links to `concentrationProperty` and `quantityProperty` in `view.graphNode.*GraphNode.indicator*Node`, are you also going to want a link to `view.graphNode.graphUnitsProperty`, so that you know which Property is being displayed?

[2020-03-09 22:25] pixelzoom commented on #137
`microScreen.model.pHMeter` has been removed.  @arouinfar please review in master, let me know if you have any questions about this.

[2020-03-09 23:06] pixelzoom commented on #119
Major changes where required to provide the ability to set a specific pH.

Summary:

* _Macro_ and _Micro_ screens now support setting `model.solution.soluteVolumeProperty` and `model.solution.waterVolumeProperty` via the PhET-iO API -- they are `phetioReadOnly: false`.

* I investigated setting dynamic ranges for `soluteVolumeProperty` and `waterVolumeProperty` But it turned into a big mess, so..

[2020-03-09 23:16] pixelzoom opened #141 "dropper: disable dragging without disabling button"
Reported by @kathy-phet in https://github.com/phetsims/ph-scale/issues/118#issuecomment-591745256:

This is dependent on completion of https://github.com/phetsims/scenery/issues/1041.

[2020-03-10 01:59] pixelzoom commented on #134
Reporting back... A "snap to" drag handler is not going to be easy.  GraphIndicatorNode has no knowledge of what the exponent is, that's handled by scenery-phet.ScientificNotationNode.   So there's currently no way to easily determine the "value to the nearest 1.0".

I'm also skeptical that this will be usable, because integer mantissas are only a few pixels apart, and they get closer together as

[2020-03-10 21:45] pixelzoom opened #142 "instrument pHMeterNode.spinner.numberDisplay"
In _My Solution_ screen, the pH meter's NumberSpinner needs to have its NumberDisplay instrumented.

The desired tandem hierarchy for `phScale.mySolutionScreen.view.pHMeterNode.spinner` is:

[code]

This is problematic because NumberSpinner does not currently use NumberDisplay.  So this issue is dependent on resolution of https://github.com/phetsims/sun/issues/575.

[2020-03-11 15:11] pixelzoom commented on #141
In https://github.com/phetsims/scenery/issues/1041#issuecomment-597689077, @kathy-phet said that this feature is not a prerequisite to delivering a dev version (due 3/30/2020).

[2020-03-12 19:55] pixelzoom commented on #142
According to @arouinfar in 3/12/20 status meeting, this is not a prerequisite for the first PhET-iO release.

[2020-03-13 04:59] arouinfar commented on #134
@pixelzoom I am perfectly happy to proceed without the snappy behavior and close this issue. I can't remember if @kathy-phet commented on this when you mentioned in your status report, so I'll assign her for a final sign off.

[2020-03-13 05:02] arouinfar commented on #137
That all sounds reasonable to me @pixelzoom, and it looks good in master.

[2020-03-13 05:02] #137 closed

[2020-03-16 21:59] arouinfar commented on #138
Reviewed with @kathy-phet, and we decided that this tree structure is fine for now. We may revisit the duplicated `*pHProperty` if it becomes a client request.

[2020-03-16 21:59] #138 closed

[2020-03-16 22:08] arouinfar commented on #119
Reviewed with @kathy-phet and it looks good in master.

[2020-03-16 22:08] #119 closed

[2020-03-16 22:13] arouinfar commented on #125
@pixelzoom I think it's generally nice for view elements to have links to their corresponding model elements. In the case of `moleculeCountNode` it lets clients know where exactly the corresponding data resides. That's all looking good in master currently.

Thinking about this a bit more, I don't think we want to link to `concentration*Property` and `quantity*Property`, in the GraphIndicatorNodes.

[2020-03-16 23:07] pixelzoom commented on #125
Reviewed with @arouinfar and @kathy-phet on Zoom.  They said everything looks good, see screenshot below.  Closing.

<img width="321" alt="screenshot_196" src="https://user-images.githubusercontent.com/3046552/76807015-a219fc00-67a8-11ea-83b5-b05af2c9a126.png">

[2020-03-16 23:07] #125 closed

[2020-03-17 00:12] pixelzoom opened #143 "changes to number of decimals in model.solution.pHProperty"
Related to @arouinfar and @kathy-phet review of the data stream in #117.

New requirements for `model.solution.pHProperty`:

- [x] In the _Macro_ and _Micro_ screens, we do not want pHProperty's value to be round to a multiple of 0.01 increments. We want the full-resolution value.

- [x] In the _My Solution_ screen, changes made to `pHProperty` using the pH Meter spinner should result in its value

[2020-03-17 00:41] arouinfar opened #144 "Elements that should be phetioHighFrequency: true"
For #117

Reviewing the data stream, there are several elements which update frequently and should be marked as phetioHighFrequency: true.

## Macro & Micro Screens
- [x] `model.drainFaucet.flowRateProperty`
- [x] `model.dropper.positionProperty`
- [x] `model.pHMeter.probe.positionProperty` (Macro only)
- [x] `model.solution.pHProperty` (All 3 screens)
- [x] `model.solution.soluteVolumeProperty`
-

[2020-03-17 00:41] arouinfar commented on #117
Data stream has been reviewed, see above issue for phetioHighFrequency recommendations.

[2020-03-17 00:41] #117 closed

[2020-03-17 00:43] pixelzoom commented on #143
_Macro_ and _Micro_ screens have been changed as requested.

_My Solution_ screen is problematic.  NumberSpinner doesn't have an API that allow me to round the value that the spinner sets.  I tried to work around this by using an adapter Property. But I'd have to make bot the adapter Property and `pHProperty` reentrant, and we don't want that.  So looks like I'll have to modify NumberSpinner.

[2020-03-17 01:09] pixelzoom commented on #143
_My Solution_ screen is now working as requested.   @arouinfar please review in master.

Work on NumberSpinner was done in https://github.com/phetsims/sun/issues/576.  No PhET-iO API changes were required.

[2020-03-17 02:23] pixelzoom commented on #144
I was able to address all but one Property in the above commit.

It is currently not possible set `phetioHighFrequency: true` for `view.pHMeterNode.pHIndicatorNode.numberDisplay.valueText.textProperty`.  `numberDisplay` is a `NumberDisplay` (common UI component), and `valueText` may be either `Text` or `RichText` (scenery Nodes).   `NumberDisplay` currently has no API for customizing the metadata

[2020-03-17 02:33] pixelzoom commented on #144
NumberDisplay work was done in https://github.com/phetsims/scenery-phet/issues/588.

`numberDisplay.valueText.textProperty` is now `phetioHighFrequency: true`.

[2020-03-17 02:39] pixelzoom commented on #144
@arouinfar all requested Properties have been instrumented, ready for review in master.

I do want to raise one red flag here -- this is a lot more `phetioHighFrequency: true` than I've ever been asked to add, and definitely more in the model than I've ever seen.  I understand that lots of things in the model change frequently in this sim.  But the majority of the model, including all 13 Propertie

[2020-03-17 17:09] pixelzoom commented on #144
Slack phet-io channel:

Kathy Perkins:spiral_calendar_pad:  10:06 AM
pH Scale is a challenging one for the data stream - and I think will push our thinking about the data stream in general - but it is hard to know which way to go with this setting without having a client who is really agressively using this particular feature. It's mostly been the researchers so far.

We will review it Chris. Amy

[2020-03-17 17:17] pixelzoom commented on #144
I've move the general topic of "best practices for phetioHighFrequency" to https://github.com/phetsims/phet-io/issues/1629.

@arouinfar if you want to review and close this issue, that would probably be fine.

[2020-03-17 17:27] pixelzoom commented on #144
@arouinfar Since you asked that `view.pHMeterNode.pHIndicatorNode.numberDisplay.valueText.textProperty` should be high-frequency, should `phScale.microScreen.view.pHMeterNode.numberDisplay.valueText.textProperty` also be high-frequency?

[2020-03-17 17:29] pixelzoom commented on #144
@arouinfar you requested:

But the micro screen does have:

`phScale.microScreen.view.pHMeterNode.numberDisplay.valueText.textProperty`

... which is another NumberDisplay whose textProperty changes with pH.  Should it also be high-frequency?

[2020-03-17 17:32] pixelzoom commented on #144
And when the `NumberSpinner` in _My Solution_ screen is changed to use `NumberDisplay` (see #142 and  phetsims/sun#575) then we will have:

`phScale.mySolutionScreen.view.pHMeterNode.spinner.numberDisplay.valueText.textProperty`

Should that also be high frequency?

[2020-03-17 19:06] pixelzoom opened #145 "SolutionMixin uses bad pattern of applying a mixin to an instance"
I'm having second thoughts about how I solved https://github.com/phetsims/ph-scale/issues/119 (Creating solution with specific pH).   I factored the Properties for concentration, quantity, and number of molecules out into a mixin, `SolutionMixin`.  But I'm applying that mixin to an _instance_, not a class, and that's not good (for reasons that I won't elaborate on here).  The mixin also has knowle

[2020-03-17 19:28] pixelzoom commented on #145
The commit above changes `SolutionMixin` so that it's mixed into classes, not instances.

[2020-03-17 20:15] pixelzoom commented on #145
This is looking nice now, using proper PhET patterns, and in a much better place for future maintenance.  Closing.

[2020-03-17 20:15] #145 closed

[2020-03-19 23:10] kathy-phet commented on #134
Amy and I reviewed this together, and we are OK with leaving it as is. Thanks for taking a look. Closing.

[2020-03-19 23:10] #134 closed

[2020-03-19 23:17] arouinfar commented on #143
Thanks @pixelzoom. I reviewed this with @kathy-phet and it looks good.

[2020-03-19 23:17] #143 closed

[2020-03-19 23:38] arouinfar commented on #144
Yes, please mark this as high frequency.

Yes, assuming the outcome of https://github.com/phetsims/phet-io/issues/1629 doesn't change our decisions around phetioHighFrequncy.

I reviewed the data stream with @kathy-phet, and these two properties should be marked as high frequency:
- [ ] `phScale.macroScreen.model.pHMeter.pHProperty`
- [ ] `phScale.microScreen.view.pHMeterNode.numberDisplay.valueTe

[2020-03-19 23:51] pixelzoom commented on #142
From https://github.com/phetsims/ph-scale/issues/144#issuecomment-601464949, when NumberSpinner has its NumberDisplay instrumented, this element should be marked as `phetioHighFrequency: true`:

`phScale.mySolutionScreen.view.pHMeterNode.spinner.numberDisplay.valueText.textProperty`

[2020-03-19 23:57] pixelzoom commented on #144
Done, back to @arouinfar for review.

[2020-03-20 21:39] arouinfar commented on #144
Looks good @pixelzoom!

[2020-03-20 21:39] #144 closed

[2020-03-23 00:07] pixelzoom opened #146 "identify featured elements"
Feedback on initial PhET-iO instrumentation was completed in https://github.com/phetsims/ph-scale/issues/117, and all resulting GitHub issues have been either addressed or deferred.

The sim is now ready to identify featured elements using Studio.

[2020-03-23 00:08] pixelzoom commented on #92
Feedback on initial PhET-iO instrumentation was completed in #117, and all resulting GitHub issues have been either addressed or deferred.  The sim is now ready to identify featured elements using Studio, tracking in #146.

[2020-03-24 19:21] KatieWoe opened #147 "Diluted solutions have a different color than published"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/487.
The solutions, when they have been diluted with water, have a different color than the same solutions diluted the same amount in the published version of the sim. In general, the new colors seem to be more green/grey. Milk and spit don't seem to have this probl

[2020-03-24 19:22] KatieWoe commented on #147
Battery Acid Old:
![oldbattery](https://user-images.githubusercontent.com/41024075/77467933-77e0c380-6dd2-11ea-8b1b-3ac2de64e14e.png)
Battery Acid New:
![newbattery](https://user-images.githubusercontent.com/41024075/77467955-7f07d180-6dd2-11ea-808e-81549634bc14.png)

[2020-03-24 19:23] KatieWoe commented on #147
Blood Old:
![oldblood](https://user-images.githubusercontent.com/41024075/77467987-8cbd5700-6dd2-11ea-99df-f684daddc23f.png)
Blood New:
![newblood](https://user-images.githubusercontent.com/41024075/77468023-9941af80-6dd2-11ea-88b8-55835ae559e9.png)

[2020-03-24 19:23] KatieWoe commented on #147
Chicken Soup Old:
![oldsoup](https://user-images.githubusercontent.com/41024075/77468062-a9598f00-6dd2-11ea-9c48-4c7fc33c53fb.png)
Chicken Soup New:
![newsoup](https://user-images.githubusercontent.com/41024075/77468074-b2e2f700-6dd2-11ea-8667-26ac774a37d9.png)

[2020-03-24 19:24] KatieWoe commented on #147
Coffee Old:
![oldcoffee](https://user-images.githubusercontent.com/41024075/77468102-be362280-6dd2-11ea-84b4-6dfaca71dbb1.png)
Coffee New:
![newcoffee](https://user-images.githubusercontent.com/41024075/77468114-c3936d00-6dd2-11ea-9962-e9fe87ae93bf.png)

[2020-03-24 20:15] KatieWoe commented on #147
This folder has the rest of the examples:
https://drive.google.com/drive/folders/1MglNYToLIO3HMcgpzoYyfRiOg62ibMmS?usp=sharing

[2020-03-24 20:20] pixelzoom commented on #147
"Old" = [1.3.4](https://phet-dev.colorado.edu/html/ph-scale/1.3.4/phet/ph-scale_all_phet.html)

"New" = [1.4.0-dev.15](https://phet-dev.colorado.edu/html/ph-scale/1.4.0-dev.15/phet/ph-scale_all_phet.html)

[2020-03-24 20:23] pixelzoom commented on #147
Thanks @KatieWoe.  I've reproduced on Chrome Version 80.0.3987.149 + macOS 10.15.3.  I'll investigate.  Unassigning @arouinfar.

[2020-03-24 20:39] pixelzoom commented on #147
I'm going to use coffee, for further testing, since this probably seems independent of solute.

The first thing that I did was to compare the colors of water and coffee in master and the 1.3 branch. They are unchanged:

[code]

[2020-03-24 20:44] KatieWoe opened #148 "H3O molecule can be hard to see in blood option"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/487
Found in the published sim. This seemed to be the only combination that could cause issues. If this is determined to be not worth addressing, feel free to close.
On the Micro screen the red dot that represents the H3O molecules blends in with the color of the bl

[2020-03-24 20:48] pixelzoom commented on #147
The next thing I checked is the implementation of Solute `completeColor`, which computes the color of the solution based on the colors and volumes of solvent (water) and solute.  It looks like this in 1.3 branch:

[code]

In master, there was a change: `this.colorStop.color` is replaced with `this.colorStopColor`, and `this.colorStop.ratio` is replaced with `this.colorStopRatio`.  This was done as

[2020-03-24 20:53] pixelzoom commented on #148
This is @arouinfar's call, so I'm going to unassigned myself.

[2020-03-24 21:13] pixelzoom commented on #147
The next thing I checked is the implementation of Solute `completeColor`, which computes the color of the solution based on the colors and volumes of solvent (water) and solute.  It looks like this in 1.3 branch:

[code]

In master, there was a change: `this.colorStop.color` is replaced with `this.colorStopColor`, and `this.colorStop.ratio` is replaced with `this.colorStopRatio`.  This was done as

[2020-03-24 21:14] pixelzoom commented on #147
The bug was definitely introduced in https://github.com/phetsims/ph-scale/commit/799c136d4aee166c2e946b338968863af3af7ad1 during PhET-iO instrumentation.  It's fixed in master. @KatieWoe please verify.  If it looks OK, you can close this issue.  And good catch!

[2020-03-24 21:33] KatieWoe commented on #147
All solutions look good on master

[2020-03-24 21:36] pixelzoom commented on #147
👍 Closing.

[2020-03-24 21:36] #147 closed

[2020-03-24 22:41] arouinfar commented on #148
Thanks @KatieWoe.

@pixelzoom I need some clarification before I can make a decision. What colors are the dots in the beaker? They seem to change based on the contents, which makes me wonder if they are layered behind the beaker contents or if they have reduced opacity making their apparent color change.

The GraphIndicatorNodes and the checkbox label for H3O+/OH- Ratio use different colors. The a

[2020-03-24 22:45] KatieWoe opened #149 "Concentration/Quantity labels no longer centered"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/487. Not in the published version.
The concentration/quantity toggle and text are now on the right side of their box rather than centered. This is seen when strings are shorter than normal (i.e. stringTest=X).

**Visuals**
Now:
![now](https://user-images.githubuserc

[2020-03-24 23:01] KatieWoe opened #150 "Long strings overlap with molecule count boxes"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/487. Found in the published version. Unlikely to impact any actual translations. Feel free to close.
When strings are long, the labels on the beakers can go behind the molecule count boxes.

**Visuals**
![overlaplong](https://user-images.githubusercontent.com/410240

[2020-03-25 06:22] pixelzoom commented on #148
Base colors are in PHScaleColors.js:

[code]

Opacity (alpha) depends on whether the molecule is a majority or minority species.  In RatioNode.js:

[code]

[2020-03-25 06:26] pixelzoom commented on #150
Fixed in the above commit, see screenshot below.  @KatieWoe please verify in master, close this issue if it looks OK.

<img width="534" alt="screenshot_204" src="https://user-images.githubusercontent.com/3046552/77508013-48ac6f80-6e2f-11ea-9825-9534e324b700.png">

[2020-03-25 06:45] pixelzoom commented on #149
Fixed in the above commit.  I also adjusted the margin and position the expand/collapse button where it should be -- in the upper-right corner.    See screenshots below.

@KatieWoe please verify in master.

No stringTest:

<img width="365" alt="screenshot_205" src="https://user-images.githubusercontent.com/3046552/77509088-c07b9980-6e31-11ea-81db-43d900727121.png">

`?stringTest=long`
<img width="

[2020-03-25 15:05] KatieWoe commented on #149
Not sure if it's https://github.com/phetsims/ph-scale/issues/150 or this, but rtl now throws an error and doesn't load:
![newrtlissue](https://user-images.githubusercontent.com/41024075/77551080-8503be00-6e77-11ea-9636-a9d3c4b1e991.png)
It does seem to load in the built version.

[2020-03-25 15:06] KatieWoe commented on #150
Not sure if it's #149 or this, but rtl now throws an error and doesn't load:
![newrtlissue](https://user-images.githubusercontent.com/41024075/77551413-ef1c6300-6e77-11ea-88ea-b8d10bef5dab.png)
It does seem to load in the built version.

[2020-03-25 15:08] KatieWoe commented on #149
Otherwise looks ok on master

[2020-03-25 15:08] KatieWoe commented on #150
Otherwise looks ok on master

[2020-03-25 16:34] pixelzoom opened #151 "stringTest=rtl fails"
In https://github.com/phetsims/ph-scale/issues/149#issuecomment-603893176 and https://github.com/phetsims/ph-scale/issues/150#issuecomment-603893619, @KatieWoe reported:

Not sure if it's https://github.com/phetsims/ph-scale/issues/150 or this, but rtl now throws an error and doesn't load:

![newrtlissue](https://user-images.githubusercontent.com/41024075/77551080-8503be00-6e77-11ea-9636-a9d3c4b1e

[2020-03-25 16:35] pixelzoom commented on #149
The stringTest=rtl is not related to this issue. Moved to #151.

Closing.

[2020-03-25 16:35] #149 closed

[2020-03-25 16:35] pixelzoom commented on #150
The `stringTest=rtl` error is not related to this issue. Moved to #151.

Closing.

[2020-03-25 16:40] pixelzoom commented on #151
This is a problem with PhET-iO instrumentation.  In SoluteComboBox.js:

[code]

This is using the translated solute names to create tandems.  That's a general anti-pattern, because there are constraints on what chars may appear in a tandem name, and translated (or even English) strings may violate those constraints.   With `stringTest=rtl` those constraints are indeed violated, hence the "should m

[2020-03-25 16:44] pixelzoom commented on #151
Fixed in the above commits. @KatieWoe please verify in master, feel free to close.

[2020-03-25 16:44] #150 closed

[2020-03-25 16:54] pixelzoom commented on #148
@arouinfar If you want to play around with making the molecules always be opaque, I could create a dev version, or you can edit RatioNode.js and change `MAJORITY_ALPHA` from 0.55 to 1.0, i.e.:

[code]

I tried this and it looks a little severe to me.

[2020-03-25 16:58] pixelzoom commented on #148
@arouinfar If you want to play around with making the molecules always be opaque, I could create a dev version, or you can edit RatioNode.js and change `MAJORITY_ALPHA` from 0.55 to 1.0, i.e.:

[code]

I tried this and it looks a little severe to me.  It also doesn't really address the "H3O+ on Blood" problem.

`MAJORITY_ALPA = 0.55`:

<img width="458" alt="screenshot_209" src="https://user-images

[2020-03-25 17:04] KatieWoe commented on #151
Looks good on master

[2020-03-25 17:04] #151 closed

[2020-03-25 17:22] pixelzoom commented on #148
@arouinfar I've added additional options to RatioNode.js that you might want to experiment with. They let you add an optional stroke around the H3O+ and/or OH- molecules:

[code]

For example, if I change `H3O_STROKE = 'black'`, then Blood and Milk look like this:

<img width="513" alt="screenshot_212" src="https://user-images.githubusercontent.com/3046552/77566094-cc477a00-6e8a-11ea-9b62-b446d69f

[2020-03-25 18:53] JRomero0613 opened #152 "Spinner Buttons Do Not Allow For Full Range Control"
For https://github.com/phetsims/QA/issues/487 the spinner buttons on the "My Solution" screen do not allow for the full range of pH values to be reached. The maximum and minimum pH achievable is 15 and -1 respectively. This is achieved by sliding the H30 and OH graph indicators to their maximum positions. It would follow that the pH would be able to be set to a range of -1 to 15 using the spinner

[2020-03-25 19:34] KatieWoe opened #153 "Solutions diluted enough to be neutral may not show it properly"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/487. Not in published sim.
When your solution is neutral because you used the water dropper or only the faucet, there is a small dialog that says neutral and the pH reader has a black outline around it. If, however, you dilute a non-neutral solution enough that it

[2020-03-25 19:51] arouinfar commented on #153
Looks like a consequence of #143. If recreate this in studio, you'll see that the value of the pH is not exactly 7.00, which is probably why the neutral indicator doesn't appear.

@pixelzoom can the neutral indicator appear if the pH rounds to 7.00?

[2020-03-25 20:22] KatieWoe commented on #152
Noting that this issue does not happen in the published version. Can also be seen when dragging the boxes by looking at the arrow buttons and when they grey out.

[2020-03-25 23:32] pixelzoom commented on #152
@JRomero0613 @KatieWoe are you referring to the spinner buttons? There is no slider in this sim.

[2020-03-25 23:37] pixelzoom commented on #152
Reading the description again and looking at the screen shot, the answer to my question is obviously "yes".   The UI component in the pH meter is a spinner, a standard UI component.  The things you drag on the graph have been referred to by the design team as graph indicators (but you'd have no way of knowing that).  I've changed the title of this issue and the description to use that terminology.

[2020-03-25 23:43] pixelzoom commented on #152
This is a problem in NumberSpinner, introduced in https://github.com/phetsims/sun/issues/576.  Reopening that issue.

[2020-03-26 00:03] pixelzoom commented on #152
Fixed in master. @JRomero0613 or @KatieWoe please review.  If it looks OK, please close.

[2020-03-26 00:07] pixelzoom commented on #153
Specifically due to this change in #143:

Should be doable, I'll have to handle rounding in the view components.  Hopefully the pH meter and "Neutral" indicator are the only cases.

[2020-03-26 00:18] pixelzoom commented on #153
Fixed in master.  @KatieWoe please review, close if OK.

[2020-03-26 18:20] KatieWoe commented on #153
Looks good from what I can see on master

[2020-03-26 19:30] KatieWoe commented on #152
Looks good in master

[2020-03-26 19:30] #152 closed

[2020-03-30 20:42] KatieWoe commented on #153
I noticed that the rounding to neutral can occur in the pH before it happens in H3O and OH concentration indicators. @pixelzoom is this acceptable? If so, please close again.
![pH Scale screenshot](https://user-images.githubusercontent.com/41024075/77959952-b3790300-7294-11ea-9f5c-9ba86032df01.png)
![pH Scale screenshot (1)](https://user-images.githubusercontent.com/41024075/77959958-b70c8a00-7294

[2020-03-30 21:00] pixelzoom commented on #153
Thanks @KatieWoe. It should occur at the same time in all view components, so I'll address this is the graph indicators too.

[2020-03-30 22:34] lmulhall-phet opened #154 "Faucet click fills beaker with 0.05 L every time except first time"
**Test Device**

MacBook Air

**Operating System**

macOS 10.15.2

**Browser**

Google Chrome 80.0.3987.149

**Problem Description**

If you click the faucet valve (click and don’t hold) it fills the beaker with 0.05 L every time except for the first time you do it. The first time you do it, it fills the beaker with 0.06 L.

There is no issue with emptying the beaker in a similar fashion. It's jus

[2020-03-30 23:31] pixelzoom opened #155 "update credits for 1.5.0 release"
Current credits are shown below.  @arouinfar @KatieWoe please let me know what you'd like to change.

<img width="850" alt="screenshot_232" src="https://user-images.githubusercontent.com/3046552/77971578-47a29480-72ac-11ea-9ab0-9af7460d2d9d.png">

[2020-03-30 23:44] arouinfar commented on #155
The convention for design credits has been to include the legacy lead/team.

@pixelzoom please...
- [ ] Add Archie Paulson to lead design
- [ ] Add Wendy Adams, Jack Barbera, and Laurie Langdon to the team

While ph-scale-basics does not have a Java version, it is essentially the  first screen of ph-scale, so I think it's appropriate to credit the legacy team there as well. I suspect the credits a

[2020-03-31 00:20] pixelzoom commented on #153
Sorry, my previous comment was incorrect.  The graph indicators are much more precise than the pH meter.  So if you have a highly-diluted solution, the pH meter is going to show it's pH as 7.00 for many values of the graph indicators.  There's no way that those indicators can go "neutral" at the same time as the pH meter.  So you'll see the pH meter read "7.00" first, and as you continue to add wa

[2020-03-31 00:27] pixelzoom commented on #154
Reproduce on macOS 10.15.4 with Chrome 80.0.3987.149.  I thought this might be related to the auto-fill feature, but it also occurs with `?autoFill=false`.

[2020-03-31 00:36] pixelzoom commented on #154
Adding this to the `startTapToDispense` in FaucetNode:

[code]

... the values are the same every time the faucet is tapped, including the first time:

[code]

[2020-03-31 00:41] pixelzoom commented on #154
I tried this change in PHScaleConstants.js:

[code]

In this case, the first tap dispensed 0.05L, and subsequent taps dispensed 0.04L.  So the first tap is still off by 0.01L.  Hmm...

[2020-03-31 00:58] pixelzoom commented on #155
@arouinfar Yes, the same credits are shared by ph-scale and ph-scale-basics.

[2020-03-31 01:00] pixelzoom commented on #155
@arouinfar FYI, here are the revised credits:

<img width="829" alt="screenshot_233" src="https://user-images.githubusercontent.com/3046552/77975932-bdacf880-72b8-11ea-942d-df8631c9d9bf.png">

[2020-03-31 01:47] pixelzoom commented on #154
I tried this change in PHScaleConstants.js:

[code]

Again off by 0.01L on the first tap only.

[2020-03-31 02:20] pixelzoom commented on #154
It dispenses 0.06L in these cases:
* when the sim is first started
* after Reset All
* after changing solute via the combo box
* after reducing the volume in the beaker to <= 0.01L

[2020-03-31 02:38] pixelzoom commented on #154
This is being caused by rounding error.

With an initial volume of 0.5L and final volume of 1.2L, here's what happens for each tap of the water faucet. Note that the 1st and 13th taps both result in a rounded value that appears to have increased by 0.06.

| Tap | Displayed Volume | Wrong | Actual Volume |
| ---: | ---: | ---: | ---: |
| 1 |  0.56 | 😱 | 0.5575975975975976 |
| 2 |  0.61 |  | 0.60789

[2020-03-31 02:47] pixelzoom commented on #154
This is being caused by 2 problems:
(1) FaucetNode has no way to dispense a precise amount.
(2) Rounding error in the display of volume.

FaucetNode only has control over `flowRateProperty`, it has no knowledge of the `dt` that is used to actually compute the volume of fluid added over time - that is the client's responsibility.   But FaucetNode also has no API for knowing when its faucet has been

[2020-03-31 02:49] pixelzoom commented on #154
@arouinfar This will require significant changes to SCENERY_PHET/FaucetNode, and potentially ever sim that uses the "tap" feature (including ph-scale).  Unless there's a reason to address it for the ph-scale 1.4.0 release, I recommend transferring the issue to scenery-phet, and deferring it for a later date.

[2020-03-31 03:19] arouinfar commented on #154
Really nice find @lmulhall-phet! To be honest, I didn't realize that `tapToDispenseAmount` existed (even with its dt variation issues).

Thanks for investigating @pixelzoom. I do not think this needs to be addressed for ph-scale 1.4.0.  Please transfer this issue to scenery-phet. Deferring also seems reasonable.

[2020-03-31 03:29] arouinfar commented on #153
I agree. Let's not go there.

@kathy-phet due to the rounding changes we requested in #143, the "Neutral" indicator was not showing up in the beaker because the pH was never exactly 7 (except at startup/selecting water). @pixelzoom was able to change the behavior so that "Neutral" appears in the beaker when the pH rounds to 7.00, and it's behaving as expected. However, a side effect of this change

[2020-03-31 03:35] arouinfar commented on #148
@pixelzoom thank you so much for the explanation and screenshots. The information was really helpful.

I don't think changing alpha levels is the way to go, especially since there will be so much variability for different colored solutions. I like the 0.25 black stroke shown in https://github.com/phetsims/ph-scale/issues/148#issuecomment-603974146. Let's proceed with that change, applying it to bo

[2020-03-31 03:40] pixelzoom commented on #153
@arouinfar said:

Reminder that the "Neutral Indicator" only appears in the _Macro_ screen. So it's not an issue in either of the screens that have graph indicators.

[2020-03-31 03:51] arouinfar commented on #153
Ah, thanks for that @pixelzoom. In that case, I think it's perfectly acceptable for the pH meter to read 7.00 even if the graph indicators reveal that the pH is not exactly 7. The published sim behaves this way, and it is a natural consequence of rounding (which could lead to conversations about precision).

My concern was that users would be seeing the "Neutral" indicator at the same time as the

[2020-03-31 03:51] #153 closed

[2020-03-31 14:52] KatieWoe commented on #155
So far Logan Bray and Jacob Romero should be added to QA

[2020-03-31 16:45] KatieWoe opened #156 "Launched sims may not fill/empty properly"
**Device**
Dell
**OS**
Win 10
**Browser**
Chrome 80.0.3987.149
**Problem Description**
For https://github.com/phetsims/QA/issues/487. Phet-io
In studio, if you have altered the liquid level, then the sim launched will not be able to drain or fill at all. Switching solution will cause the dropper to always look like it is filling (When beaker was over half full), with the liquid level staying the s

[2020-03-31 16:47] pixelzoom commented on #155
Updated QA credits are shown below. @KatieWoe I'll leave this assigned to you until the QA process is finished, in case we need to add additional names.

<img width="632" alt="screenshot_234" src="https://user-images.githubusercontent.com/3046552/78052895-fee6ec00-733c-11ea-9422-7b7155fa8bb6.png">

[2020-03-31 16:53] KatieWoe commented on #156
Seems a bit more complicated. The dropper does work _if_ the beaker starts less than .5 L and once it reaches .5 L the sim seems to behave normally until reset all is used.

[2020-03-31 16:56] pixelzoom commented on #148
Both molecule species now have `stroke: 'black'` and `lineWidth: 0.25`.  @KatieWoe @arouinfar please review in master.  If it looks OK, the last person to review please close this issue.

[2020-03-31 17:05] arouinfar commented on #148
Looks good to me @pixelzoom

[2020-03-31 17:32] pixelzoom opened #157 "faucet 'tap' does not always dispense 0.05L"
ph-scale and ph-scale-basics suffer from the problem with FaucetNode that is described in https://github.com/phetsims/scenery-phet/issues/593.

In PHScaleConstants.js, options to FaucetNode are specified. These are used for both the water and drain faucets.

[code]

These options would lead one to believe that tapping the faucet will dispense 0.05L over 333 ms.  That is not the case, since FaucetN

[2020-03-31 17:40] KatieWoe commented on #148
Looks good

[2020-03-31 17:43] #148 closed

[2020-03-31 17:56] pixelzoom commented on #156
I've reproduced the steps described in https://github.com/phetsims/ph-scale/issues/156#issue-591258494.

@KatieWoe I cannot reproduce what you described in https://github.com/phetsims/ph-scale/issues/156#issuecomment-606747820.  Please provide specific steps.

[2020-03-31 17:58] pixelzoom commented on #156
@KatieWoe also please provide specific browser version.  In general, issues should also indicate the specific browser version number.   Things like "Chrome" or "Chrome latest" don't verify that we're all on the same page, especially if an issue isn't worked on for awhile.

[2020-03-31 20:16] pixelzoom commented on #156
Discussed https://github.com/phetsims/ph-scale/issues/156#issuecomment-606747820 with @KatieWoe on Zoom.  The steps are:

1. Go to Studio
2. Go to either the first or second screen
3. Drain the beaker a little
4. Lauch
5. Dropper works, but faucets do not.
6. Once you fill the beaker to 0.5L with the dropper, the dropper stops.
7. Now the dropper, faucets, and solute combo box all work.
8. Press R

[2020-03-31 21:48] pixelzoom commented on #156
There is no similar problem (that I can detect) in the State Wrapper.  So I'm guess this has something to do the initial state being bad, maybe something important missing?  Beyond that, I have no idea what might be wrong, or how to troubleshoot.  I'll poke around a bit more before asking the IO team for assistance.

[2020-04-03 21:23] pixelzoom commented on #156
More detailed version of the steps that @KatieWoe reported in https://github.com/phetsims/ph-scale/issues/156#issue-591258494:

1. Go to Studio
2. Go to either the first or second screen
3. Add a little water to the beaker
4. Press the "Lauch" button in Studio.
5. Faucets and dropper do not work.
6. Changing solute immediately changes the solution, no auto-fill happens, volume stays the same.
7. P

[2020-04-06 17:20] pixelzoom opened #158 "delete Dropper.visibleProperty"
@arouinfar pointed out that we don't need Dropper.visibleProperty in this sim's model, because there are no sim situations where the dropper becomes invisible.   PHDropperNode can be hidden by the iO client via its visibleProperty.

[2020-04-06 17:22] pixelzoom commented on #158
Done. @arouinfar please review in master.

[2020-04-06 17:55] pixelzoom opened #159 "convert to DragListener?"
pH Scale currently uses deprecated input listeners in 3 places, all of which will eventually be replaced with `DragListener`:

| class | tandemName | deprecated listener |
| --- | --- | --- |
| PHProbeNode | `probeNode.dragHandler` | MovableDragHandler |
| PHDropperNode | `dropperNode.dragHandler` | MovableDragHandler |
| GraphIndicatorNode | `dropperNode.dragHandler` | SimpleDragHandler |

When t

[2020-04-06 18:48] pixelzoom commented on #159
I went ahead and did this, since it seemed like the right thing to do, and I had just spent the time to identify where the work needed to be done.  It turned out to be easier than expected, and took ~30 minutes.

@arouinfar please review in master.  Search for `dragListener` in Studio to identify the tandems that changed.

[2020-04-06 21:37] arouinfar commented on #146
@kathy-phet and I have reviewed the Macro Screen and most of the Micro Screen. We still need to review the graph on the Micro screen, as well as the My Solution screen. I've committed our progress so far.

Please note that the phetioFeatured metadata for ComboBox will be handled in https://github.com/phetsims/sun/issues/587.

[2020-04-06 22:04] pixelzoom commented on #156
I'm stump, and I have no idea how to even begin debugging this.  The launched sim opens in a new window (as a popup?) with no URL.   It prints a never-ending stream of messages to the console.  I have no idea if this stream can be filtered, what I can inspect, or how I can inspect it.

Suggesting from the iO team on how to proceed? @samreid @zepumph @chrisklus

[2020-04-06 22:06] KatieWoe commented on #156
May be related, but something I just noticed, if the initial setting is changed from water to something else, then the launched sim will not show the dropper animation for a new solution when it is selected.

[2020-04-06 22:09] pixelzoom commented on #156
Thanks @KatieWoe. I noted that in step 6 above, "auto-fill does not happen":

[2020-04-06 22:11] pixelzoom commented on #114
The easiest way to test this is on a touch device.  Interact with something with one finger (e.g. drag the dropper).  Press the Reset All button with another finger, and the interactive will be interrupted.

[2020-04-06 22:24] pixelzoom commented on #93
To regression test:

Run the sim normally, and confirm that the listbox is the same width as the combo box button, and aligned with the button, like in this screenshot:

<img width="317" alt="screenshot_242" src="https://user-images.githubusercontent.com/3046552/78610888-0b7ab100-7823-11ea-8cf8-1eafc2d4de62.png">

Run the sim with `?stringTest=long`, and confirm that the listbox is still the same

[2020-04-06 22:40] KatieWoe commented on #156
This does happen in State if you click the Launch button at the bottom (feel a bit silly for not thinking of that).

[2020-04-06 22:51] pixelzoom commented on #156
@samreid had the hypothesis that this might be related to auto-fill, and that was indeed the case.

The model has `isAutoFillingProperty`, which controls whether the beaker is being automatically filled with the selected solute.  That Property was not instrumented because it was previously identified as unnecessary to instrument.   But not instrumenting `isAutoFillingProperty` causes problems when

[2020-04-07 16:05] KatieWoe commented on #156
The bug looks fixed in master. I did notice that, when you switch liquids, the dropper animation plays, but it fills to .5 L, regardless of what the original state's level was. If this is acceptable, then this can probably be closed if you desire @pixelzoom

[2020-04-07 18:46] pixelzoom commented on #156
Thanks @KatieWoe.

Yes, the expected behavior is that changing the solute auto-fills to 0.5L, not the previous liter of the solution.  This assures that you always have room to dilute the solution.  This is as it has been since the original Java version.

Closing.

[2020-04-07 18:46] #156 closed

[2020-04-07 18:48] KatieWoe commented on #156
To be clear, I don't mean the last amount. I mean the new starting point.

[2020-04-07 18:56] pixelzoom commented on #156
Thanks for clarifying - you mean the new initial state of the launched sim.   That does not (and should not) affect the behavior of auto-fill.  The auto-fill volume is always 0.5, regardless of the prior state of the solution.

[2020-04-07 18:59] pixelzoom commented on #156
And btw... Auto-fill is off in the ph-scale-basics sim, and can be turned off in ph-scale via `?autoFill=false`.   So the initial volume of the solution (when the sim starts) is in no way related to the auto-fill volume.   No one has asked for control of the auto-fill volume, but that would likely be done via yet-another query parameter.

[2020-04-07 21:26] KatieWoe opened #160 "home screen buttons don't behave correctly on touch devices"
For https://github.com/phetsims/QA/issues/487 Found on Safari 13 iPadOS 13.4, but occurs on any touch screen.
On published sim, when on the home screen you have to tap an icon to make it bigger, then tap again to enter that screen. In this sim, it seems to enter with only one tap and does not make the icon in question bigger.
![pushbutton](https://user-images.githubusercontent.com/41024075/7872109

[2020-04-07 21:30] pixelzoom commented on #160
@KatieWoe what are you trying to show here with the GIF?  Why do I see frames of the Number Line sim? The GIFs are nice, but steps to reproduce are always appreciated.

[2020-04-07 21:32] KatieWoe commented on #160
The published (Number line) shows normal behavior. pH Scale is in there first, and it shows the bugged behavior.

[2020-04-07 21:33] KatieWoe commented on #160
Steps added

[2020-04-07 21:36] pixelzoom commented on #160
Reproduced with [1.0.0-dev.15]() on iOS 13.3.1 + Safari.

And I'm seeing this same problem in master with all sims.

@KatieWoe which version of Number Line were you demonstrating?

[2020-04-07 21:36] KatieWoe commented on #160
Published version 1.0.1

[2020-04-07 21:39] pixelzoom commented on #160
Looks like something is broken in master for all sims.  @KatieWoe can you verify?

[2020-04-07 21:43] KatieWoe commented on #160
Looks like. Where should this be transferred?

[2020-04-07 21:49] pixelzoom commented on #160
This is broken for all sims, and is being tracked in https://github.com/phetsims/joist/issues/624.  Blocked until that issue is addressed.

[2020-04-07 23:27] pixelzoom opened #161 "Mac Firefox: Playback wrapper doesn't work when console is closed"
ph-scale suffers from https://github.com/phetsims/phet-io-wrappers/issues/342 (Mac Firefox: Playback wrapper doesn't work without console open).

@arouinfar is this a pre-requisite for publishing ph-scale 1.4.0 ?  If so, please provide the iO team with requested priority in that issue.

[2020-04-07 23:32] pixelzoom commented on #161
This issue is blocked until phetsims/phet-io-wrappers#342 is resolved.

[2020-04-08 02:31] pixelzoom commented on #157
@ariel-phet Since you closed https://github.com/phetsims/scenery-phet/issues/593 (and I support your decision in https://github.com/phetsims/scenery-phet/issues/593#issuecomment-610707415), can we also close this issue?

[2020-04-08 22:42] pixelzoom commented on #146
The features elements for the Macro screen will be the same in ph-scale-basics.  To save some time, I've copied the relevant overrides to ph-scale-basics-phetio-elements-overrides.js.   @arouinfar please review in master.

[2020-04-09 00:42] ariel-phet commented on #157
Yes, we can close this issue.

[2020-04-09 00:42] #157 closed

[2020-04-09 18:33] pixelzoom commented on #160
This was fixed in https://github.com/phetsims/joist/issues/624.  @KatieWoe please verify in master.

[2020-04-10 15:21] KatieWoe commented on #160
Looks good on master

[2020-04-10 16:37] #160 closed

[2020-04-10 20:05] pixelzoom commented on #161
Over in https://github.com/phetsims/phet-io-wrappers/issues/342#issuecomment-612194563, @zepumph said:

Therefore I'm going to label this issue as "blocks-sim-publication".

[2020-04-10 22:24] pixelzoom commented on #161
Since sim publication is "sooner', raising priority to high.

[2020-04-13 13:29] pixelzoom opened #162 "ComboBox listbox does not resize when last item is made invisible"
ph-scale and ph-scale basics have a problem with their Solute combobox, recently introduced in common code and described in https://github.com/phetsims/sun/issues/588.

@arouinfar is this a blocking issue for publication?

[2020-04-13 14:04] pixelzoom commented on #162
If the combo selection is changed in either of the above 2 scenarios, then the listbox resizes to eliminate the gap where 'Water' was.

[2020-04-13 19:30] arouinfar commented on #162
@pixelzoom I don't think this is blocking, given that the list box now resizes when the last option is removed. Not sure if you want to keep this open since there is still discussion going on in https://github.com/phetsims/sun/issues/588.

[2020-04-13 19:39] pixelzoom commented on #162
I'm going to close this and trust that it will be handled in phetsims/sun#588.

[2020-04-13 19:39] #162 closed

[2020-04-15 22:18] arouinfar commented on #161
@kathy-phet says that this issue does not block the dev delivery to the client, but should be addressed before rc.

[2020-04-16 06:01] arouinfar commented on #146
@pixelzoom ph-scale and ph-scale-basics are looking good. There is just one outstanding issue related to https://github.com/phetsims/sun/issues/587 (`comboBox.button.visibleProperty` should be phetioFeatured: false). Leaving this issue open and self-assigned until the ComboBox issue is resolved.

[2020-04-16 15:44] pixelzoom opened #163 "comboBox.button.visibleProperty should be phetioFeatured: false"
phetsims/sun#587 (comboBox.button.visibleProperty should be phetioFeatured: false) is a pre-requisite to publishing a dev version for the client.

[2020-04-16 15:48] pixelzoom commented on #146
I created a ph-scale issue for the `comboBox.button.visibleProperty` issue, see  https://github.com/phetsims/ph-scale/issues/163.

OK to close this issue @arouinfar?

[2020-04-16 16:09] #146 closed

[2020-04-16 16:42] pixelzoom opened #164 "publish PhET-iO dev versions for the client"
@kathy-phet would like to deliver PhET-iO dev versions of both ph-scale and ph-scale-basics to the client for review.

From status meeting, the process is:

1. @kathy-phet sign off on open issues labeled "status:blocks-publication"
2. @pixelzoom: publish dev versions, add links to this issue
3. @arouinfar: review and sign off
4. @kathy-phet: delivery to the client

[2020-04-16 16:45] pixelzoom commented on #92
"Featured" design #146 was complete on 4/16/20.

When blocking issues have been addressed, dev versions will be published and provided to the client in #164.

[2020-04-16 22:36] pixelzoom commented on #163
Work was done in phetsims/sun#587, and I've confirmed that `comboBox.button.visibleProperty` is now `phetioFeatured: false`.  For example:

<img width="656" alt="screenshot_269" src="https://user-images.githubusercontent.com/3046552/79513185-7042c200-8000-11ea-8f1f-cb64ab11e993.png">

@arouinfar please verify, and feel free to close.

[2020-04-17 20:12] arouinfar commented on #163
Looks good @pixelzoom!

[2020-04-17 20:12] #163 closed

[2020-04-17 23:16] pixelzoom commented on #164
GitHub issues labeled "blocks-publication" as of Fri Apr 17 17:10:33 MDT 2020. A checked box indicates that the issue was identified as non-blocking for these dev versions.

- [x] phetsims/joist#627
- [x] phetsims/phet-io-wrappers#342
- [ ] phetsims/scenery#490
- [x] phetsims/studio#119
- [x] phetsims/studio#40
- [x] phetsims/studio#37
- [x] phetsims/studio#35
- [x] phetsims/studio#30
- [x] phetsi

[2020-04-17 23:17] kathy-phet commented on #164
OK - We will pick this up next week.

[2020-04-20 17:05] chrisklus commented on #164
From https://github.com/phetsims/scenery/issues/1046#issuecomment-616685891:

I'll start looking into the problem.

[2020-04-20 18:35] samreid commented on #164
From the slack thread:

@samreid said:

[2020-04-20 18:38] samreid commented on #164
In today's meeting, we agreed that code reviews are not blocking for https://github.com/phetsims/scenery/issues/1046 or https://github.com/phetsims/scenery/issues/490, and as long as they pass our internal QA dev test, it will be OK to share with the client.  But we will need to fix the visibleProperty issue identified in https://github.com/phetsims/scenery/issues/1046#issuecomment-616685891 first

[2020-04-20 19:18] chrisklus commented on #164
The `visibleProperty` problem from https://github.com/phetsims/scenery/issues/1046 is fixed. Checking off the blocks-publication list.

[2020-04-22 16:51] pixelzoom commented on #164
Thanks @ariel-phet.  Self assigning, and I'll proceed with creating and testing dev versions.

[2020-04-22 17:07] pixelzoom commented on #164
Here are links to the dev versions.

pH Scale:
https://phet-dev.colorado.edu/html/ph-scale-basics/1.4.0-dev.3/phet-io/
https://phet-dev.colorado.edu/html/ph-scale-basics/1.4.0-dev.3/phet/ph-scale-basics_en_phet.html

pH Scale: Basics:
https://phet-dev.colorado.edu/html/ph-scale/1.4.0-dev.20/phet-io/
https://phet-dev.colorado.edu/html/ph-scale/1.4.0-dev.20/phet/ph-scale_en_phet.html

From the Wrapp

[2020-04-22 23:43] arouinfar commented on #164
Thanks @pixelzoom. Everything looks good to me.

@kathy-phet the sim is ready for delivery to the client. I've shared the links to the guide docs on Slack.

[2020-04-24 05:29] kathy-phet commented on #164
Thanks! Dev version sent to client, closing!

[2020-04-24 05:29] #164 closed

[2020-04-24 15:01] pixelzoom commented on #164
Great! Looking forward to getting feedback and moving on to RC.

[2020-05-14 22:20] pixelzoom opened #165 "ratio is not centered"
With `?showRatio`, the ratio is not centered at the bottom of the beaker, it's off to the right a bit. For example:

<img width="1054" alt="screenshot_313" src="https://user-images.githubusercontent.com/3046552/81991566-cce4cd00-95fe-11ea-86c8-b1a01fcc3f8c.png">

[2020-05-14 22:22] pixelzoom commented on #165
Fixed in the above commit, screenshot below. Closing.

<img width="1051" alt="screenshot_314" src="https://user-images.githubusercontent.com/3046552/81991690-17664980-95ff-11ea-9aab-68f6a83b6afd.png">

[2020-05-14 22:22] #165 closed

[2020-07-02 18:09] pixelzoom opened #166 "publish 1.4.0"
The PhET-iO client would like a final production version (1.4.0) of ph-scale-basics by "late August".  RC testing will include both ph-scale and ph-scale-basics, for `brands=phet,phet-io`.

@arouinfar let's review open and blocking issues, and put together a timeline.

[2020-07-05 16:24] pixelzoom commented on #166
At 7/2/2020 dev meeting, we noted that there are several sims (ph-scale, EFAC, SOM, ... others?) that all have the same "late August" deadline.  So this should be part of a coordinated effort.  See https://github.com/phetsims/tasks/issues/1040.

[2020-07-08 22:53] pixelzoom commented on #142
Common-code work has been complete in https://github.com/phetsims/sun/issues/575.

The Studio tree for `phScale.mySolutionScreen.view.pHMeterNode` now looks like this:

<img width="205" alt="screenshot_423" src="https://user-images.githubusercontent.com/3046552/86977974-03405380-c13b-11ea-88fb-52898c7aa3aa.png">

And `phScale.mySolutionScreen.view.pHMeterNode.spinner.numberDisplay.valueText.textPr

[2020-07-08 23:35] pixelzoom commented on #141
The client did not flag this issue in their feedback.  @arouinfar @kathy-phet is it still the case that this does NOT need to be addressed for 1.0 publication?

[2020-07-08 23:36] pixelzoom commented on #161
Client feedback has been received and we're on the path to a production version. So undeferring this issue.

[2020-07-08 23:38] kathy-phet commented on #141
I think for 1.0 published release we do not need to address this issue.

[2020-07-08 23:39] pixelzoom commented on #92
Dev version was provided to the client awhile ago.  Feedback was received, no change requests.   So closing this issue.

[2020-07-08 23:39] #92 closed

[2020-07-08 23:48] pixelzoom commented on #161
In https://github.com/phetsims/phet-io-wrappers/issues/342#issuecomment-655813141, @zepumph said:

I replied that whether the new issues is blocking is not my call - it's up to designers.  Assigning this issue to @arouinfar to decide whether https://github.com/phetsims/phet-io-wrappers/issues/352 is blocking for this sim.