[2020-07-09 04:08] arouinfar commented on #161
@KatieWoe has already verified that https://github.com/phetsims/phet-io-wrappers/issues/342 has been fixed.

After great frustration in figuring out how to use the recording and playback wrappers, I was unable to reproduce https://github.com/phetsims/phet-io-wrappers/issues/352 in Mac/Firefox so I wouldn't consider it blocking. I think we can go ahead and close this issue.

[2020-07-09 04:08] #161 closed

[2020-07-09 04:16] arouinfar commented on #142
Looks good in master @pixelzoom.

[2020-07-09 04:16] #142 closed

[2020-07-09 04:33] arouinfar commented on #166
Looking at the open issues in this repo, it doesn't seem like there is anything sim-specific to be done before 1.4.0. I think we're also down to [just one blocking issue](https://github.com/issues?q=is%3Aopen+is%3Aissue+label%3Astatus%3Ablocks-publication+label%3Adev%3Aphet-io+user%3Aphetsims+sort%3Acreated-asc+) in common code, and it's actively being worked on.

@pixelzoom if I'm missing somethi

[2020-07-09 17:45] pixelzoom commented on #114
This has been working fine, doesn't need further testing. Closing.

[2020-07-09 17:45] #114 closed

[2020-07-09 18:04] pixelzoom commented on #166
In 7/9/2020 phet-io meeting and phetsims/tasks#1040, it was decided to send pH Scale through the RC process first, to shake out any PhET-iO issues.  Then we'll presumably use those shas for other sims that are part of the "late August" milestone.

There's currently 1 blocking issue, https://github.com/phetsims/joist/issues/600.

[2020-07-09 21:31] pixelzoom commented on #166
I ran into RC build problems on the build server. These issues are now blocking:

- [ ] https://github.com/phetsims/chipper/issues/940
- [ ] https://github.com/phetsims/chipper/issues/961

[2020-07-09 21:38] pixelzoom commented on #166
I deleted ph-scale 1.4 branch, and will start over.

[2020-07-09 22:04] pixelzoom commented on #166
I ran into RC build problems on the build server. I deleted ph-scale 1.4 branch, and will start over.

These issues are now blocking:

- [x] https://github.com/phetsims/chipper/issues/940
- [x] https://github.com/phetsims/chipper/issues/961

[2020-07-09 22:16] zepumph opened #167 "empty client guides published with this sim"
In https://phet-dev.colorado.edu/html/ph-scale/1.4.0-rc.1/phet-io/, there is a row in the table for the client guide and client request. Both of these are empty files (https://github.com/phetsims/phet-io-client-guides/tree/master/ph-scale)

Over in https://github.com/phetsims/phet-io-client-guides/issues/2 @chrisklus and I got rid of all client guides that were blank except for upcoming releases.

[2020-07-09 22:28] pixelzoom commented on #166
RCs published:

ph-scale
phet: https://phet-dev.colorado.edu/html/ph-scale/1.4.0-rc.1/phet/ph-scale_all_phet.html
phet-io: https://phet-dev.colorado.edu/html/ph-scale/1.4.0-rc.1/phet-io/

ph-scale-basics
phet: https://phet-dev.colorado.edu/html/ph-scale-basics/1.4.0-rc.1/phet/ph-scale-basics_all_phet.html
phet-io: https://phet-dev.colorado.edu/html/ph-scale-basics/1.4.0-rc.1/phet-io

[2020-07-09 23:02] loganbraywork opened #168 "About dialog is scaled incorrectly"
**Test device**

Windows 10 laptop

**Operating System**

Windows 10 v.1903

**Browser**

Chrome Version 83.0.4103.116

**Problem description**

For https://github.com/phetsims/QA/issues/514

The about screen seems to be slightly cut off at the top. Adjusting the size of the screen did not seem to alter or remedy the issue.

**Visuals**

![2020-07-09PHScaleslightlycutoff](https://user-images.githu

[2020-07-10 21:00] pixelzoom commented on #168
Reproduced (sort of) on macOS 10.15.5 with Chrome 83. See below with `?dev`. And it seems to be a problem with all browsers.  When the browser window is wider than the ScreenView's layoutBounds, the About dialog is being scaled incorrectly.

I suspect that this is not specific to AboutDialog, and is likely a problem with scaling of all Dialogs.  We'll need to find out who worked on Dialog most rec

[2020-07-10 21:05] samreid commented on #168
Should this block publication?  Should recent RCs with this bug be maintenance released?  Is it related to https://github.com/phetsims/joist/issues/586 ?

[2020-07-10 21:14] pixelzoom commented on #168
Yes, I think this should block publication of ph-scale and all sims.  Dialogs should stay within the ScreenView layoutBounds.

No idea if it's related to phetsims/joist#586.  That issue has been assigned to me for weeks.  I haven't been involved in Dialog scaling, and it's going to take time that I don't have.  My recommedation is to track down whoever last worked on Dialog scaling and have them w

[2020-07-10 21:18] pixelzoom commented on #168
This problem gets worse as the height of AboutDialog increases.  Here's what ph-scale master looks like with a bunch of lines added to the credits:

<img width="1048" alt="screenshot_427" src="https://user-images.githubusercontent.com/3046552/87203788-948d0280-c2c0-11ea-995d-12946c1717fd.png">

Interesting is that it's handled properly on the Home screen:

<img width="1046" alt="screenshot_428" sr

[2020-07-13 17:11] pixelzoom commented on #168
A workaround was applied in phetsims/joist#639.  It's not a final solution, but @ariel-phet asked for the workaround in order to move ph-scale forward.   In pH Scale, About dialog now fits inside the layoutBounds, see screenshot below.

<img width="1123" alt="screenshot_429" src="https://user-images.githubusercontent.com/3046552/87332882-870e8d00-c4f9-11ea-9056-feb4388ea292.png">

[2020-07-14 21:17] pixelzoom commented on #168
I still need to patch this in the release branch.

[2020-07-16 06:58] arouinfar commented on #167
@zepumph we do not intend to deliver any more google docs to the client, and all documentation should go in this repo. The rc's for ph-scale and ph-scale-basics were published before I thought about the fact that their documentation still needs to be converted to md, but I will definitely have those files converted before rc testing wraps up.

[2020-07-16 15:10] pixelzoom commented on #167
@arouinfar Please let me know when the pH Scale doc have been converted, so that I can patch the 1.4 release branch.

[2020-07-17 21:54] liam-mulhall opened #169 "titleText.visibleProperty gets reset when you switch screens"
<b>Test Device</b>

Desktop PC

<b>Operating System</b>

Windows 1909

<b>Browser</b>

Edge 84.0.522.40

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/514. In studio, if you set `general.view.navigationBar.titleText.visibleProperty` to false, then click the home screen button in the sim, `general.view.navigationBar.titleText.visibleProperty` is reset to true.

[2020-07-17 22:13] KatieWoe opened #170 "Switching to empty beaker disables water faucet"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/515 and https://github.com/phetsims/QA/issues/514.
This is mostly seen in pH Scale Basics, but can be reproduce in pH Scale by using the autoFill=false query parameter. If you switch to a solution, and the bucket does not fill, the add water faucet is greyed out unt

[2020-07-17 23:02] loganbraywork opened #171 "problems with screens query parameter"
**Test device**

Windows 10 laptop

**Operating System**

Windows 10 v.1903

**Browser**

Chrome v. 84.0.4147.89

**Problem description**

For https://github.com/phetsims/QA/issues/515

When using the multiple screens query parameter, it is possible to create a home screen where none previously existed when using the command screens=2,1. A box does come up saying screen 2 is invalid, but a home sc

[2020-07-20 16:02] pixelzoom commented on #171
I see the same behavior in master with Concentration, but not with RIAW.  They are both 1-screen sims, so I'm not sure what's causing different behavior.  Perhaps its somehow related to the fact the pH Scale: Basics and Concentration are both subsets of some other sim, but I can imagine why that would be relevant.

Assigning to @chrisklus, since I believe he worked on this feature.  High priority

[2020-07-20 16:24] pixelzoom opened #172 "Studio search feature is broken"
For phetsims/QA#514 and phetsims/QA#515.

See https://github.com/phetsims/studio/issues/171.

[2020-07-20 16:35] pixelzoom commented on #170
Reproduced in 1.4.0-rc.1 and master.

[2020-07-20 17:39] pixelzoom commented on #170
Fixed in master, ph-scale 1.4, and ph-scale-basics 1.4.  Tested both sims with `autoFill=true` and `autoFill=false`.  Ready for regression testing in next RC.

[2020-07-20 18:13] samreid commented on #169
It seems 2 approaches to this problem are:

(a) Add another intermediate (uninstrumented `Node`) to the scene graph which has its visibility controlled by whether the home screen is showing.  This would retain the same tandem structure as we have had previously.
(b) Add a model Property like `sim.general.model.navigationBarTitleVisible` which would be used to control that visibility.

I don't reca

[2020-07-20 19:07] pixelzoom commented on #169
I don't agree.  `naturalSelection.homeScreen.view.titleText` and `naturalSelection.general.view.navigationBar.titleText` are 2 different Nodes, and they look like they have their own `visibleProperty`.  If they share a visiblyProperty, then it should live in `general.model` and it should be clear visibility of both are controlled via the same Property.

[2020-07-21 04:04] samreid commented on #169
I added an intermediate parent Node with this comment:

[code]

It is working well in my testing.  @muedli can you please test on master/phettest?  Also, it seemed straightforward but I think it warrants a code review.  @pixelzoom or @zepumph are you available for that part?  It is just a few lines of code.

[2020-07-21 04:24] samreid commented on #171
In the commit, we fall back to nominal screens if there is an error, without appending to it on subsequent loops.  It's working well in my testing.

@loganbraywork can you please test on phettest?  Please run without assertions so it will not crash during startup.

@pixelzoom or @zepumph are you available to review this?  It is just a few lines of code.

[2020-07-21 15:48] KatieWoe opened #173 "Incorrectly written scientific notation"
**Test device**
Hooper and Dell
**Operating System**
iOS 12 and Win 10
**Browser**
Safari and Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/514. This does seem to occur in the published sim. On the second screen, it is possible to get two numbers on the side graph that should be equal, but are written differently, causing confusion. Specifically, you can have the number

[2020-07-21 15:51] pixelzoom commented on #173
Seems like something that should be fixed, unless there's pedagogical reason for it (which I doubt). @arouinfar your opinion?

[2020-07-21 16:44] pixelzoom commented on #173
Tracking the general issue in https://github.com/phetsims/scenery-phet/issues/613.

[2020-07-21 17:11] pixelzoom commented on #173
Fixed in phetsims/scenery-phet#613.  Patched in 1.4 branches for ph-scale and ph-scale-basics.  Ready to regression test in next RC.

[2020-07-21 17:11] arouinfar commented on #173
@pixelzoom it definitely doesn't serve a pedagogical purpose, and it looks like a possible reoccurrence of #2.

[2020-07-21 17:24] pixelzoom commented on #173
@arouinfar gets the Super Sleuth award for locating #2 !!  That facilitated further digging, and I discovered that this bug was introduced by @jessegreenberg in https://github.com/phetsims/scenery-phet/commit/bfa18745e03b7022d6f5ddc6627cf2540d489624 on 9/20/17.  There's no GitHub issue referenced in the commit.  I will noted this in phetsims/scenery-phet#613.

[2020-07-21 17:37] pixelzoom commented on #171
`forEach` is an inappropriate iterator, and this clearly has not been tested well.  For example, running ph-scale-basicis with `?screens=3,4,5`, I see the same error message 3x with totally bogus values:

<img width="720" alt="screenshot_433" src="https://user-images.githubusercontent.com/3046552/88087478-35dc4a00-cb46-11ea-966c-81ba894468ee.png">

Please use a `for` loop that is exited when `allS

[2020-07-21 17:42] pixelzoom commented on #171
Self assigning. I'll fix this.

[2020-07-21 17:51] pixelzoom commented on #171
@samreid please review the above commits.

Tested cases:

// These will start without error
ph-scale-basics_en.html?screens=1
ph-scale_en.html?screens=1,2,3
ph-scale_en.html?screens=2
ph-scale_en.html?screens=2,3

// These contain errors, display warning dialog, and revert to default.
ph-scale-basics_en.html?screens=2,1
ph-scale_en.html?screens=1,4

[2020-07-21 17:52] pixelzoom commented on #171
This issue also points to insufficient unit tests in selectScreenTests.js.  I don't have time to address that, but it should be addressed.

[2020-07-21 18:06] pixelzoom opened #174 "when faucet is disabled, interrupt user input"
For phetsims/QA#514 and phetsims/QA#515. @KatieWoe demonstrated this for me via Zoom.

When either faucet becomes disabled (because the beaker is full or empty), then scenery user input needs to be interrupted by calling `interruptSubtreeInput`.    Currently, the interaction continues, and you can touch snag other things (dropper, pH probe) after the faucet has been disabled.

@KatieWoe please add

[2020-07-21 18:08] KatieWoe commented on #174
This recording is of the dropper being picked up after the faucet is disabled:
![pickupwaterdrop](https://user-images.githubusercontent.com/41024075/88090470-e0ef0280-cb4a-11ea-8885-82c084674cc5.gif)

[2020-07-21 18:15] pixelzoom commented on #174
Reproduced on my iPad6 running iOS 13.15.1.

What's odd is that FaucetNode.js appears to be attempting to handle this:

[code]

[2020-07-21 18:33] pixelzoom commented on #174
I discussed with @jonathanolson.  This is behaving as designed.  When a listener is interrupted, the pointer becomes available to begin a new Interaction -- in this case, a new drag that starts with a touch snag.

I then discussed with @KatieWoe, and she was fine with the current behavior.  If a situation ever comes up where this behavior is not OK, she'll create a scenery issues.

So nothing to d

[2020-07-21 18:33] #174 closed

[2020-07-21 18:56] pixelzoom commented on #169
https://github.com/phetsims/joist/commit/af85f2bdeca4ea01b03a11baec2c7c951afdc8fd reviewed, looks OK.

[2020-07-21 18:57] pixelzoom commented on #169
phetsims/joist@af85f2b reviewed, looks OK.

I verified that this fixes the problem, so no need to be verified by QA.  To be regression tested in next RC.

[2020-07-21 19:29] pixelzoom commented on #169
Looks like this needs to be patched into 1.4 branches of ph-scale and ph-scale-basics.  Self assigning.

[2020-07-21 19:39] pixelzoom commented on #169
Cherry picked to joist branches ph-scale-1.4 and ph-scale-basics-1.4, and patched into 1.4 branches for ph-scale and ph-scale-basics.

[2020-07-21 21:04] KatieWoe opened #175 "PhET-iO Elements "All" needs to be selected to complete client requests"
For https://github.com/phetsims/QA/issues/514 and https://github.com/phetsims/QA/issues/515.
When looking at the client requests in https://github.com/phetsims/phet-io-client-guides/blob/master/ph-scale/client-requests.pdf, some of the requested element changes are in the "All" PhET-iO Elements section. Since they were specifically requested by the client, wouldn't it make sense for them to be ava

[2020-07-21 21:30] KatieWoe opened #176 "Title text does not stay off when switching screens"
For https://github.com/phetsims/QA/issues/514. Involves a request made in https://github.com/phetsims/phet-io-client-guides/blob/master/ph-scale/client-requests.pdf
When manipulating `phScale.general.view.navigationBar.titleText.visibleProperty` the setting made is not retained when you move to a new screen. If you turn it off on screen one, and then move to screen two it turns back on and stays o

[2020-07-21 21:41] pixelzoom commented on #171
I've discovered more problems with the `screens` query parameter.  So I did what I should have done to begin with - created general issue phetsims/joist#644.

Marking this issue as "on hold" until phetsims/joist#644 is addressed.  Then fixes will need to be cherry picked to 1.4 branches of ph-scale and ph-scale-basics.

[2020-07-21 21:54] pixelzoom commented on #169
In duplicate https://github.com/phetsims/ph-scale/issues/176, @KatieWoe reported that this also occurs where switching between screens, not just when returning to the home screen.  I'll amend the issue title to reflect this.

[2020-07-21 21:55] pixelzoom commented on #176
@KatieWoe This is a duplicate of https://github.com/phetsims/ph-scale/issues/169.  If you agree, please close this issue. If not, please explain how it's different. Thanks!

[2020-07-21 21:56] KatieWoe commented on #176
Sorry about that. Closing

[2020-07-21 21:56] #176 closed

[2020-07-21 22:03] pixelzoom commented on #175
In general, I don't think that an element related to a client request necessarily is required to be featured.  There may be some client requests that are very "tweaky", and that we don't want to have front-and-center for all Studio users.   But for this sim specifically, that's up to the sim designers.  I believe that @arouinfar and @kathy-phet carefully considered and reviewed awhich elements sho

[2020-07-21 22:13] kathy-phet commented on #175
I favor keeping it as is. In general, we don't want to encourage clients to change these aspects on the nav bar.

[2020-07-21 22:13] arouinfar commented on #175
This is a good question @KatieWoe, and something that @muedli has also asked. I can understand the expectation that a client's request would be featured, but @pixelzoom summarizes it well. We make decisions about phetioFeatured that are more general. We think about what kinds of customizations clients may want to do generally, and what sorts of customizations could be used for a pedagogical purpos

[2020-07-21 22:13] #175 closed

[2020-07-21 22:22] pixelzoom commented on #171
Changing the scope and title of this issue, so that all problems identified in phetsims/joist#644 get regression tested in the context of pH Scale.

[2020-07-21 22:30] KatieWoe opened #177 "empty Solute list box causes the sim to crash"
For https://github.com/phetsims/QA/issues/514 and https://github.com/phetsims/QA/issues/515. Issue with studio.
If you remove the visibility of all of the options in the list box and then try to add one back can lead to the entire sim disappearing. The set up is a bit complicated, but it seems to occur if you have the list box closed when no option have visibility, try to open the box, then try to

[2020-07-21 22:54] loganbraywork opened #178 "autofill still occurs with invisible dropper"
<b>Test Device</b>

Windows 10 Laptop

<b>Operating System</b>

Windows 10 v.1903

<b>Browser</b>

Chrome Version 84.0.4147.89

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/515 & https://github.com/phetsims/QA/issues/514

When the query parameter autoFill is set to true and the dropper is no longer visible via Studio, the filling animation still occurs as if the dropper wa

[2020-07-21 23:10] pixelzoom commented on #177
Reproduced in 1.4.0-rc.1.

The problem is that step 3 above results in a fatal error.

In the built version for 1.4.0-rc.1, the console reports:

[code]

For the unbuilt version in master, the console output is more illuminating:

[code]

Since the list box has no contents, attempting to scale it fails.   I'm not sure what should be done to correct this. Should we ignore an attempt to popup the li

[2020-07-21 23:20] pixelzoom commented on #178
I don't see anything in the Client Guide that asks to be able to hide the dropper.   So the easy solution to this is to make `dropperNode.visibleProperty` read-only.

The more involved solution is to autofill only if the dropper is visible.  Autofill is handled in the model, so this would involve add a new phet-io-only Property, `dropperVisibleProperty`, in the model, have it control the visibilit

[2020-07-21 23:28] pixelzoom commented on #167
@arouinfar said:

If these are to be published with the RC, then they should be patched into the 1.4 branches before the final RC is delivered to QA for test.  And it's difficult to identify "the final RC" until after it's been tested.

I'm also not clear on why @zepumph is assigned and @arouinfar is not, so assigning them both.

[2020-07-21 23:33] pixelzoom opened #179 "rename ?autoFill to ?autofill"
For phetsims/QA#515 & phetsims/QA#514

The `autoFill` query parameter is new for PhET-iO, see https://github.com/phetsims/ph-scale/issues/121.

While working on https://github.com/phetsims/ph-scale/issues/178, I discovered that the correct spelling is "autofill", see https://en.wikipedia.org/wiki/Autofill.

Should we change the spelling to "autofill" ?

[2020-07-21 23:34] arouinfar commented on #177
We punted on two somewhat related ComboBox issues in https://github.com/phetsims/sun/issues/588 and https://github.com/phetsims/sun/issues/591. The customization is unrealistic and broke the sim, and there is probably precedent for this elsewhere in phet-io-land. It would be nice if there could be some solution that would prevent the sim from crashing, so let's check in with the PhET-iO team. I be

[2020-07-21 23:39] arouinfar commented on #167
I'm tracking client guide work in https://github.com/phetsims/phet-io-client-guides/issues/5

[2020-07-22 00:24] pixelzoom commented on #177
ComboBox was not designed (or implemented) to accommodate an empty list, since an empty list makes no sense in practice. But since an empty list is now possible via PhET-iO,  I think that we need to modify ComboBox so that it does something other than crash when the list is empty.  My recommendation is to make the combo box button do nothing when the list is empty.

[2020-07-22 00:32] pixelzoom commented on #177
Since this issue is not specific to ph-scale, I've opened a more general issue, https://github.com/phetsims/sun/issues/606. Let's continue the discussion there.

This issue is on hold until  https://github.com/phetsims/sun/issues/606 is resolved.

[2020-07-22 04:04] arouinfar commented on #179
@pixelzoom yes, let's use `autofill`. Let me know when the change has been made, and I'll propagate it to the client docs.

[2020-07-22 17:37] arouinfar commented on #178
Nice find @KatieWoe.

That sounds like a perfect solution to me @pixelzoom. Let's do it.

I don't think we need to complicate things with the `dropperVisibleProperty`, though it's good to know there's a potential solution if a future client insists on being able to hide the DropperNode.

[2020-07-22 18:04] pixelzoom commented on #179
Changed in master, patched into 1.4 branches for ph-scale and ph-scale basics.

In addition to the query parameter, I also renamed occurrences in code (e.g. `autofillEnabledProperty`) and occurrences in overrides.js (e.g. featuring `phScale.microScreen.model.autofillEnabledProperty`).

Assigning to @arouinfar to propagate to client docs.  When that has been done, please unassign, and label this is

[2020-07-22 18:05] pixelzoom commented on #179
@arouinfar if there are changes to client docs that need to be patched into the 1.4 branches for ph-scale and ph-scale basics, let me know and I'll handle that.

[2020-07-22 18:19] pixelzoom commented on #178
`dropperNode.visibleProperty` is now read-only.   Committed to master, patched into 1.4 branches of ph-scale and ph-scale-basics.  To be regression tested in new RC.

[2020-07-22 20:45] KatieWoe opened #180 "Faucet knobs don't have indicated pointer areas"
**Test device**
Jordan and Dell
**Operating System**
Mac 10.14 and Win 10
**Browser**
Safari and Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/514 and https://github.com/phetsims/QA/issues/515. Occurs in published.
The blue knobs for the water and drain faucets do not seem to be grabable all over. The location where it stops being grabable seems to on the lower half of t

[2020-07-22 20:51] pixelzoom commented on #180
The faucet (FaucetNode) is a common-code UI component.  @KatieWoe can you reproduce this on other sims that have faucets?

[2020-07-22 20:55] KatieWoe commented on #180
Looks like it does happen in other sims on master.

[2020-07-22 20:59] pixelzoom commented on #180
Is the problem only with mouseArea (blue) or is it also a problem with touchArea (red)?

[2020-07-22 21:01] KatieWoe commented on #180
Only seeing it with mouse, but then touch has snag to pick up, so it would be pretty hard to see it if it were an issue.

[2020-07-22 21:16] pixelzoom opened #181 "incorrect uses of Bound2.dilated"
For phetsims/QA#514 and phetsims/QA#515.

Bounds2.dilated take 1 argument:

[code]

There are a few cases where it's being called with 2 arguments.

[code]

All of the above should have 1 argument.   This doesn't hurt anything, because the 2nd arg is ignored.

[2020-07-22 21:19] pixelzoom commented on #180
This is a common-code problem, tracking in https://github.com/phetsims/scenery-phet/issues/614.

Labeling this issue as "on hold" until https://github.com/phetsims/scenery-phet/issues/614 is fixed.

[2020-07-22 21:20] pixelzoom commented on #180
@KatieWoe if the touchArea were incorrect, then you wouldn't be able to snag in the bottom part of the touchArea.

[2020-07-22 21:23] pixelzoom commented on #180
@KatieWoe it looks to me like touchArea is also broken.  Testing 1.4.0-rc.1 on iPad6, I can't snag in the bottom part of the touchArea.

[2020-07-22 21:43] pixelzoom commented on #181
Fixed in master, cherry-picked to 1.4 branches of ph-scale and ph-scale-basics.

Labeling with "fix-awaiting-deploy".  There's nothing to test here, but I want to remember that the change has been made.

[2020-07-22 23:05] oliver-phet opened #182 "User suggestion: mystery liquids, mix liquids"
Is this something that the iO version could accommodate?

[2020-07-23 00:28] zepumph commented on #167
@arouinfar please assign @pixelzoom to this issue when phet-io-client-guides/ph-scale and phet-io-client-guides/ph-scale-basics are ready to be applied to the rc branch. @pixelzoom when that time comes, I would recommend pulling all, building both sims, and then spot checking two links in each wrapper index: "PhET-iO Guide" and "Client Requests". The main thing would be to make sure that there are

[2020-07-23 00:44] pixelzoom commented on #182
The timing on this request is interesting, since we've just started the RC process for a new version.  And that typically means that we're unlikely to add significant new features for quite awhile.  That said...

This can be done via PhET-iO, but is not available in the public version.  Under `phScale.global.model.solutes` you'll find the solutes, and you modify their `nameProperty`.  For example,

[2020-07-23 00:59] pixelzoom commented on #182
On the Slack developer channel, I asked about a general way to override translated strings.  @samreid replied:

[2020-07-23 16:20] pixelzoom commented on #171
phetsims/joist#644 has been closed. Now blocked by https://github.com/phetsims/query-string-machine/issues/42.

[2020-07-23 16:33] jonathanolson commented on #180
The cause seems to be this Scenery Image node, which is layered on top of the shooter:

![image](https://user-images.githubusercontent.com/480878/88312820-dc078b80-cccf-11ea-8367-b7cd7c2462bf.png)

[2020-07-23 16:34] jonathanolson commented on #180
This is triggered by an inputListener on the FaucetNode specifically. I'd recommend just changing the visual stacking order, @pixelzoom is that possible?

[2020-07-23 17:57] zepumph commented on #182
Related to previous phet-io conversations in https://github.com/phetsims/phet-io/issues/1565 and https://github.com/phetsims/phet-io/issues/1551

[2020-07-23 18:18] arouinfar commented on #182
@pixelzoom thanks for evaluating these requests. We will not be making any changes to ph-scale.

Searching the design doc and repo, I haven't seen any previous discussion of unknown/mystery solutes. I'm not sure what goal a mystery solute would serve in the phet-brand version of this simulation. The pH probe immediately reveals the pH of the mystery liquid. This is in contrast to other simulations

[2020-07-23 18:25] pixelzoom commented on #182
Reopening and reassigning to @oliver-phet, in case he needs to reply to the user.   @oliver-phet please close this issue when you're done.

[2020-07-23 18:29] oliver-phet commented on #182
Thanks for the discussion, replied to user!

[2020-07-23 18:29] #182 closed

[2020-07-23 18:37] pixelzoom opened #183 "Tandem.REQUIRED is no longer checked"
Need a fix for https://github.com/phetsims/tandem/issues/192.

[2020-07-23 19:47] pixelzoom commented on #180
phetsims/scenery-phet#614 is resolved and the fix has been cherry-picked.

Ready for regression testing in next RC.

[2020-07-23 21:05] KatieWoe opened #184 "Long string is off center on home screen"
**Test device**
Dell and Dalton
**Operating System**
Win 10 and Mac 10.12
**Browser**
Chrome and Safari
**Problem description**
For https://github.com/phetsims/QA/issues/514. Not in published.
When strings are long, the title text on the home screen seems to be further to the left than center.

**Visuals**
![longoffcenter](https://user-images.githubusercontent.com/41024075/88338684-f05e7f00-ccf5-1

[2020-07-23 21:56] pixelzoom commented on #184
This is not specific to pH Scale, it a general problem in joist.  @KatieWoe could you please create a joist issue, link it to this one, and assign it to someone with high priority?  Probably someone on the PhET-iO team, since I believe that this was introduced by adding the StringProperty for sim title.  (There's the cost of dynamic strings again.)

[2020-07-23 22:02] KatieWoe commented on #184
Issue made above

[2020-07-23 22:06] pixelzoom commented on #184
On hold pending resolution of phetsims/joist#645.

[2020-07-23 22:21] KatieWoe opened #185 "Graphical Glitch when dragging dropper"
**Test device**
Dalton
**Operating System**
Mac 10.12
**Browser**
Safari 12
**Problem description**
For phetsims/QA#514. Is in published.
When dragging the dropper back in forth, there seems to be a graphical glitch where the part of the dropper and/or stream disappears on the leading edge. This goes away when the dragging stops and can be difficult to see. Wasn't able to reproduce on Win 10 Chrom

[2020-07-24 19:28] KatieWoe opened #186 "broken links in wrapper index"
For https://github.com/phetsims/QA/issues/514 and https://github.com/phetsims/QA/issues/515. Seen on Win 10 Edge and Chrome.
When adding `/doc` to the end of the wrapper index, you are now taken to a menu that shows, along with the API documentation of before, a "Phet-io Guide" and a "Client Requests." These links, both from that menu and from the wrapper index seem to be blank. From the doc menu,

[2020-07-27 16:38] KatieWoe opened #187 "3rd Screen Ratio dots do not show up on launched sim"
For https://github.com/phetsims/QA/issues/514. Seen on Win 10 Chrome, Firefox, and ChromeOS, so it seems to be independent of platform.
On the third screen, if you have the ratio dots on in studio and launch or download html, then the launched sim will not show the dots. The checkbox will still be marked. If you change the pH or uncheck and recheck the box the dots will appear. This also does not

[2020-07-27 16:43] pixelzoom commented on #186
I'm not sure if this is a general PhET-iO issue, or if it's because ph-scale is missing files.   Assigning to PhET-iO team to investigate.  If this is a general problem, please create a general GitHub issue and link to it here.

[2020-07-27 16:53] arouinfar commented on #186
I'm pretty sure this is due to #167. The rc was built with empty .md files, and that's why I supplied QA with .pdf guides as an alternative.

@KatieWoe please check the GAO wrapper index page from the latest dev test (https://github.com/phetsims/QA/issues/519) to see if the problem exists there too. That sim had the guides ready before the dev version was built, so it should be behaving normally.

[2020-07-27 16:55] KatieWoe commented on #186
Ok. They open there. I didn't realize that was what you meant when you posted the pdfs. Sorry.

[2020-07-27 17:52] KatieWoe commented on #187
This also shows up in the state wrapper.

[2020-07-27 17:56] pixelzoom commented on #177
phetsims/sun#606 has been resolved, and the fixes cherry-picked to the ph-scale and ph-scale 1.4 branches.   Ready for testing in the next RC.

[2020-07-27 18:09] pixelzoom commented on #184
https://github.com/phetsims/joist/issues/645 is resolved and the fix has been cherry-picked to ph-scale and ph-scale-basics 1.4 branches.  Ready for testing in next RC.

[2020-07-27 18:12] pixelzoom commented on #186
So how do we proceed with this issue? Mark it as "fixed-awaiting-deploy" and verify that the links work in the next QA?

[2020-07-27 18:16] pixelzoom commented on #185
This is one of those graphics things that just happens on some (usually older) platforms.  We might be able to address it by trying a different scenery renderer for the dropper and solute stream.   But I really don't think it's worth putting any effort into this, and recommend closing as "won't fix".

@arouinfar do you agree?

[2020-07-27 18:24] pixelzoom opened #188 "Mirror wrapper may be unsynced during a slow load"
Linking to https://github.com/phetsims/phet-io-wrappers/issues/359, since it was created for this sim's RC test, phetsims/QA#514.

On hold until https://github.com/phetsims/phet-io-wrappers/issues/359 is addressed.

[2020-07-27 18:35] pixelzoom commented on #183
A workaround was devised for phetsims/tandem#192., see https://github.com/phetsims/tandem/issues/192#issuecomment-663235438.   That workaround has been cherry-picked.  Ready for testing in the next RC.

[2020-07-27 19:56] zepumph commented on #186
I recommend closing this issue, as a duplicate of https://github.com/phetsims/ph-scale/issues/167. and to verify that one in the next QA.

[2020-07-27 20:04] pixelzoom commented on #186
Closing as duplicate of #167.

[2020-07-27 20:04] #186 closed

[2020-07-27 20:12] pixelzoom commented on #187
Verified in Studio using the "Launch" button.  Not platform specific, occurs on all platforms.

It's odd that it's a problem only on the "My Solution" screen, and not on the "Micro" screen.  Their implementations of the ratio view are identical, see RatioNode.js.

To reproduce:

1. Start the sim in Studio via phetmarks
2. Go to the "My Solution" screen.
3. Check the "H3O+/OH- Ratio" check box.
4.

[2020-07-27 20:15] pixelzoom commented on #187
Usages of RatioNode look identical:

[code]

[2020-07-27 21:00] pixelzoom commented on #187
The difference in the above is the type of `model.solution`.  RatioNode documents it as `@param {MicroSolution|MySolution} solution` -- _MicroSolution_ for the Micro screen, MySolution for the _My Solution_ screen.

[2020-07-27 21:23] pixelzoom commented on #187
This bug was introduced in the conversion of RatioNode `setVisible` to ES6.   You can see the problem in https://github.com/phetsims/ph-scale/commit/c28ca975f112104014c858c26d4c75082688d5ff.  No idea why it worked in one screen and not the other.

Fixed and cherry-picked in the above commits. Ready for testing in the next RC.

[2020-07-28 03:43] arouinfar commented on #185
The glitch looks relatively minor to me, so closing as `wontfix` is fine by me.

[2020-07-28 03:43] #185 closed

[2020-07-29 06:05] arouinfar commented on #167
I've finished converting the guides to .md, and phet-io-client-guides/ph-scale and phet-io-client-guides/ph-scale-basics are now ready to be applied to the rc branch @pixelzoom. The temporary pdf's still need to be deleted, but I'll leave those alone until QA is finished with this rc test.

[2020-07-29 06:06] arouinfar commented on #179
Thanks, I've updated the client guides to use `autofill`. I'll go ahead and close this since #167 is the guide-specific issue.

[2020-07-29 16:57] pixelzoom commented on #179
This needs to remain open until verified by QA in the next RC.  Labeled fixed-pending-deploy.

[2020-07-29 18:59] KatieWoe opened #189 "Set opacity doesn't show up in launched sim if item was disabled"
For https://github.com/phetsims/QA/issues/514. Found on Win 10 Chrome and Mac 10.12 Chrome.
In studio, if you disable something the opacity of that thing may change. If you also change the opacity of that disabled object, then the launched/downloaded version of the sim will have the default disabled opacity rather than the opacity you set.

Steps:
1. Go to the second screen in Studio
2. Disable th

[2020-07-29 19:05] pixelzoom commented on #189
This is a general issue with all PhET Nodes and common-code UI components.  Setting `enabledProperty` adjusts opacity. If you try to adjust both, then your opacity changes will be overwritten when state is restored.

Assigning to @arouinfar to decide how to proceed. If you'd like to address this generally, please create a scenery issue, identify whether it's blocking, and link to this issue.

[2020-07-29 19:30] pixelzoom commented on #188
@arouinfar please indicate whether this issue (and therefore phetsims/phet-io-wrappers#359) blocks publication.

[2020-07-29 19:32] pixelzoom commented on #167
@arouinfar I don't see any commits associated with this issue, so I don't know what to cherry-pick.  Please locate your commits in the GitHub UI, and label them with this issue number.

[2020-07-29 19:34] pixelzoom commented on #172
Assigning to @arouinfar, because this is blocked until we get her feedback on https://github.com/phetsims/studio/issues/171.

[2020-07-29 19:45] pixelzoom commented on #141
Another way to address this issue would be to attach the DragListener to a subset of the dropper's scenegraph (excluding the button).  That would require changing the EyeDropperNode API, and probably changing its internal structure.  And then clients would have to use a non-standard way of adding a DragListener to an EyeDropperNode.

Imo, coming up with a way to disable scenery input listeners is

[2020-07-29 20:31] arouinfar commented on #167
Work was tracked in https://github.com/phetsims/phet-io-client-guides/issues/5, but I commented on the commits so they show up here too.

[2020-07-29 20:39] arouinfar commented on #188
I commented in https://github.com/phetsims/phet-io-wrappers/issues/359. It doesn't seem particularly blocking to me.

[2020-07-29 20:46] arouinfar commented on #189
This is not a blocking issue @pixelzoom, and the sim is behaving as expected. See https://github.com/phetsims/scenery/issues/1047 for a general discussion about (un)instrumenting `opacityProperty`.

[2020-07-29 20:46] #189 closed

[2020-07-29 20:50] arouinfar commented on #179
Sorry @pixelzoom, I should have read further back that your most recent comment 🤦

[2020-07-29 20:57] pixelzoom commented on #179
No problem!

[2020-07-29 21:21] pixelzoom commented on #167
I made a couple of edits in the above commits, but overall these docs look great.

[2020-07-29 21:48] pixelzoom commented on #167
Changes have been cherry-picked.  Verified by viewing the ph-scale-1.4 and ph-scale-basics-1.4 branches of phet-io-client-guides.  To be regression tested in the next RC.

[2020-07-29 22:03] pixelzoom commented on #171
Here's the first set of cherry-picks needed for joist from https://github.com/phetsims/joist/issues/644:

[code]

[2020-07-29 22:25] pixelzoom commented on #171
phetsims/joist#644 is closed and changes have been cherry-picked.

phetsims/query-string-machine#42 is still blocking.

[2020-07-29 23:07] pixelzoom opened #190 "PhET-iO API error when using 'screens' query parameter"
See https://github.com/phetsims/tandem/issues/194.   No idea if I need to address this for ph-scale RC.

[2020-07-29 23:09] pixelzoom opened #191 "Old search remains when reopening studio tab from history"
See https://github.com/phetsims/studio/issues/174.

[2020-07-30 22:53] pixelzoom commented on #172
phetsims/studio#171 is resolved.  I ran into merge issues when cherry-picking https://github.com/phetsims/studio/commit/f847cd4763c7619f731a24a0ec281134f48aa0ef, in the list of commits in https://github.com/phetsims/studio/issues/171#issuecomment-666481584.   @zepumph and I resolved these problems by:

1. Replacing the body of Search `findMatches` with the new implementation, then changing 2 uses

[2020-07-30 22:54] pixelzoom commented on #172
Ready for testing in next RC.

[2020-07-30 23:28] pixelzoom commented on #171
phetsims/query-string-machine#42 is resolved and has been cherry-picked.

Ready for testing in next RC.

[2020-07-30 23:36] pixelzoom commented on #188
phetsims/phet-io-wrappers#359 is resolved and has been cherry-picked.

Ready for testing in next RC.

[2020-07-30 23:39] pixelzoom commented on #190
This apparently does need to be addressed for RC.

[2020-07-30 23:49] pixelzoom commented on #191
https://github.com/phetsims/studio/issues/174 has been resolved and cherry-picked.

Ready for testing in next RC.

[2020-07-31 00:14] pixelzoom commented on #190
https://github.com/phetsims/tandem/issues/194 has been addressed and verified in master. But I've hit a merge conflict trying to cherry-pick the changes, see https://github.com/phetsims/tandem/issues/194#issuecomment-666807225.  I'll need assistance from @zepumph.

[2020-08-01 15:13] pixelzoom opened #192 "State Wrapper on iOS changes size"
For phetsims/QA#514.
See https://github.com/phetsims/phet-io-wrappers/issues/362.

[2020-08-01 15:16] pixelzoom opened #193 "Unable to use the record wrapper on iPadOS"
For  phetsims/QA#514.
See https://github.com/phetsims/phet-io-wrappers/issues/363.

[2020-08-01 15:22] pixelzoom commented on #181
This has shown no problems in many cycles of CT, and there is nothing specific to test.  So closing.

[2020-08-01 15:22] #181 closed

[2020-08-01 15:24] pixelzoom commented on #190
@zepumph provide details on how to resolve merge conflicts in https://github.com/phetsims/tandem/issues/194#issuecomment-667192017, so I'll try again.

[2020-08-03 22:50] pixelzoom commented on #190
I resolved the merge conflict in phetioApiValidation.js by changing this:

[code]

... to this:

[code]

Seems to work OK in ph-scale 1.4 and ph-scale-basics-1.4, but makes me nervous to be doing partial cherry-picks.

Ready for testing in next RC.

[2020-08-04 16:36] pixelzoom commented on #193
Over in https://github.com/phetsims/phet-io-wrappers/issues/363#issuecomment-668244392, @kathy-phet identified this issue as non-blocking.   So closing this issue as "won't fix" for this release.

[2020-08-04 16:36] #193 closed

[2020-08-04 16:37] pixelzoom commented on #192
In https://github.com/phetsims/phet-io-wrappers/issues/362#issuecomment-668280392, @kathy-phet identified this issue as non-blocking for publication.  So closing this issues as "won't fix" for the 1.4 release.

[2020-08-04 16:37] #192 closed

[2020-08-04 16:38] pixelzoom commented on #155
@KatieWoe now that 1.4.0-rc.1 testing is completed, please indicate who you would like to add to the QA credits.

[2020-08-04 16:40] KatieWoe commented on #155
Sorry about that. Everyone looks accounted for in https://github.com/phetsims/ph-scale/issues/155#issuecomment-606744897

[2020-08-04 21:37] pixelzoom commented on #168
To test this in ph-scale 1.4.0-rc.2:

1. Run the sim with `?dev` to display layoutBounds (red rectangle) around screens.
2. Open the About dialog from the PhET, verify that it fits inside the layoutBounds on the home screen and 1 other non-home screen, and that it's the same size in both places.

[2020-08-04 21:40] pixelzoom commented on #169
To verify this in ph-scale 1.4.0-rc.2:

1. Run the sim in Studio
2. Go to a non-home screen.
3. Set general.view.navigationBar.titleText.visibleProperty to false, verify that title disappears from navigation bar.
4. Press the home screen button in the sim.
5. Verify that general.view.navigationBar.titleText.visibleProperty is still false

[2020-08-04 21:42] pixelzoom commented on #170
To reproduce in ph-scale 1.4.0-rc.2:

1. Run the sim with `autofill=false`
2. Switch solutes using the combo box.
3. Verify that the water faucet does not become disabled.

[2020-08-04 21:45] pixelzoom commented on #171
To verify in ph-scale 1.4.0-rc.2, run the sim with these query parameters and verify that you get an "Invalid Query Parameters" dialog that correctly identifies the bad query parameter and its value:

* `?screens=4,1`
* `?screens=-1`
* `?screens=Macro,Micro`

Also check a few valid values, like:

* `?screens=2`
* `?screens=3,2`

[2020-08-04 21:48] pixelzoom commented on #173
To verify in ph-scale 1.4.0-rc.2, follow the steps to reproduce in https://github.com/phetsims/ph-scale/issues/173#issue-663121223.

[2020-08-04 21:51] pixelzoom commented on #177
To verify in ph-scale 1.4.0-rc.2:

1. Run the sim in Studio
2. Go to `phScale.macroScreen.view.soluteComboBox.listBox` in the Studio tree
3. For all of the solutes under `listBox`, set their `visibleProperty` to false
4. Press the solute combo box in the Macro screen. Verify that it does nothing, and does not crash.
5. Set `phScale.macroScreen.view.soluteComboBox.listBox.water.visibleProperty` to

[2020-08-04 21:53] pixelzoom commented on #178
To verify in ph-scale 1.4.0-rc.2:

1. Run the sim in Studio
2. Verify that `phScale.macroScreen.view.dropperNode.visibleProperty` and `phScale.microScreen.view.dropperNode.visibleProperty` are read-only.

[2020-08-04 21:55] pixelzoom commented on #179
To verify in ph-scale 1.4.0-rc.2 for brand=phet:

1. Run the sim with `autofill=false` to verify that it turns off autofill.

To verify in ph-scale 1.4.0-rc.2 for brand=phet-io:

1. Run the sim in Studio
2. Search for "autofill"
3. Verify that all hits are "autofill" or "Autofill"

[2020-08-04 21:57] pixelzoom commented on #180
To verify in ph-scale 1.4.0-rc.2:

1. Run the sim with `?showPointerAreas`
2. Verify that the mouseArea and touchArea work as expected for the faucets on the Macro screen (no need to do Micro screen)

[2020-08-04 21:58] pixelzoom commented on #183
To verify in ph-scale 1.4.0-rc.2:

1. Run the sim in Studio with `?phetioValidation=true`
2. Verify that there are no console errors

[2020-08-04 21:59] pixelzoom commented on #184
To verify in ph-scale 1.4.0-rc.2:

1. Run the sim with `?dev&stringTest=long`
2. Verify that the title is horizontally centered in the layoutBound on the home screen

[2020-08-04 22:01] pixelzoom commented on #187
To verify in ph-scale 1.4.0-rc.2:

1. Run the sim in Studio
2. Go to the Micro screen.
3. Check the "H3O+/OH- Ratio" check box
4. Press the "Launch" button in Studio
5. In the launched sim, verify that the "H3O+/OH- Ratio" check box is checked and the dots are visible.

[2020-08-04 22:02] pixelzoom commented on #188
To verify in ph-scale 1.4.0-rc.2, read the description in https://github.com/phetsims/phet-io-wrappers/issues/359.

[2020-08-04 22:03] pixelzoom commented on #190
To verify in ph-scale 1.4.0-rc.2:

1. Run the sim in Studio with `?screens=1`
2. Verify that there are no errors in the console.

It is expected that all 3 screens will still be shown in the Studio tree.

[2020-08-04 22:06] pixelzoom commented on #191
To verify in ph-scale 1.4.0-rc.2:

1. Run the sim in Studio, using Chrome
2. Enter "listbox" in the search text field
3. Close the Studio tab in Chrome
4. Reopen the Studio tab in Chrome by choosing History > Recently Closed > Studio.
5. Verify that the search text field is empty

[2020-08-04 22:17] pixelzoom commented on #167
To test this in ph-scale 1.4.0-rc.2:

1. Go to the wrapper index at https://phet-dev.colorado.edu/html/ph-scale/1.4.0-rc.2/phet-io/
2. Verify that the "PhET-iO Guide" link works
3. Verify that the "Client Requests" link works

[2020-08-04 22:31] pixelzoom commented on #172
This is not working correctly in master when "Featured" is selected.  Reopening phetsims/studio#171, blocking.

[2020-08-04 22:44] KatieWoe commented on #101
Looks good in https://github.com/phetsims/QA/issues/514

[2020-08-04 22:44] #101 closed

[2020-08-04 22:44] KatieWoe commented on #93
Looks good in https://github.com/phetsims/QA/issues/514

[2020-08-04 22:44] #93 closed

[2020-08-04 23:39] pixelzoom commented on #172
Note to self:  When phetsims/studio#171 is fixed, cherry-pick to ph-scale 1.4 and ph-scale-basics 1.4.  Test in local builds.

[2020-08-05 00:36] arouinfar commented on #172
See https://github.com/phetsims/studio/issues/175

[2020-08-05 02:36] pixelzoom commented on #172
phetsims/studio#171 has been re-closed. The broken part of Search is now being tracked in phetsims/studio#175.

[2020-08-07 18:05] KatieWoe commented on #184
I think this is happening a bit, but less so, on https://github.com/phetsims/ph-scale/issues/184

[2020-08-07 18:11] pixelzoom commented on #184
@KatieWoe if this is still a problem, please reopen phetsims/joist#645, label it as "block publication", and provide specifics/examples.

[2020-08-07 18:28] pixelzoom commented on #184
This is still broken on some browsers, see https://github.com/phetsims/joist/issues/645#issuecomment-670650086.  On hold until https://github.com/phetsims/joist/issues/645 is resolved again.

[2020-08-10 18:59] pixelzoom opened #194 "X button on dialog may have too small pointer area"
Fix to be applied from https://github.com/phetsims/sun/issues/610.

See https://github.com/phetsims/sun/issues/610#issuecomment-671525020

[2020-08-10 19:36] pixelzoom commented on #194
https://github.com/phetsims/sun/issues/610#issuecomment-671525020 recommended cherry-picking https://github.com/phetsims/sun/commit/9c9f26324b8635536e8fcacb01f8c634afd5940b.  I ran into big merge conflicts. Since https://github.com/phetsims/sun/commit/9c9f26324b8635536e8fcacb01f8c634afd5940b only modified 2 lines of code, I ended up applying the changes manually.

Ready for testing in next RC.

[2020-08-10 19:52] pixelzoom commented on #194
To verify in ph-scale and ph-scale-basics 1.4.0-rc.2:

Open the About dialog and inspect the size of its 'X' close button.

[2020-08-11 16:08] pixelzoom commented on #184
I don't think this needs to be fixed for pH Scale 1.4, since it generally looks fine and is only noticeable on Safari with an extremely long title.  So I'm closing this issue as "won't fix".   @arouinfar @ariel-phet if you disagree, please reopen.

[2020-08-11 16:08] #184 closed

[2020-08-12 16:23] pixelzoom commented on #172
Just a reminder that this is the sole issue blocking the next RC of ph-scale.  The delivery milestone for ph-scale is 9/1/2020, and we'll need at least 1 more RC cycle.  Turnaround for the first cycle was 25 days.

[2020-08-13 17:42] pixelzoom opened #195 "Add "Item" suffix to Solute combo box items"
Over in https://github.com/phetsims/sun/issues/615, it was decided that elements in a group should still have a tandem name that indicates their type.

In pH Scale, the combo box items under `soluteComboBox.listBox` should all have an "Item" suffix.  Doing this by concatenating "Item" onto the solute tandemName is OK.

TODO list:

- [x] add "Item" suffix in SoluteComboBox.js
- [x] update any ids t

[2020-08-13 18:24] pixelzoom commented on #195
@arouinfar please review the changes to the client guides for ph-scale and ph-scale-basics. They have been pushed to master, ph-scale 1.4, and ph-scale-basics 1.4.   If they look OK, you can unassign yourself and leave the issue assigned to me. Thanks.

[2020-08-13 19:29] pixelzoom commented on #195
ComboBoxItem change is https://github.com/phetsims/sun/commit/187ac987c2939da26f9f5da2aa876bae14e346b9 and has been cherry-picked to ph-scale 1.4 and ph-scale-basics 1.4.

[2020-08-13 22:17] pixelzoom commented on #195
Cherry-picked https://github.com/phetsims/sun/commit/55c4fc0ed7c427c46256138fc13a578512bcaad2, which improves the error message for the assertion in ComboBoxItem.

[2020-08-14 19:52] pixelzoom commented on #195
To verify this for ph-scale 1.4.0-rc.2 and ph-scale-basics 1.4.0-rc.2:

1. Run the sim in Studio
2. Verify that all of the combo box items under `phScale.macroScreen.view.soluteComboBox.listBox` have a name that ends with "Item". E.g. "batteryAcidItem".
3. (ph-scale only) Verify that all of the combo box items under `phScale.microScreen.view.soluteComboBox.listBox` have a name that ends with "Item

[2020-08-15 03:30] arouinfar commented on #195
@pixelzoom the changes are all looking good in master. I reviewed the tree, client guides, and checked that relevant elements remained phetioFeatured.

[2020-08-15 14:14] pixelzoom commented on #195
Ready for testing in next RC.

To verify this for ph-scale 1.4.0-rc.2 and ph-scale-basics 1.4.0-rc.2:

Run the sim in Studio
Verify that all of the combo box items under phScale.macroScreen.view.soluteComboBox.listBox have a name that ends with "Item". E.g. "batteryAcidItem".
(ph-scale only) Verify that all of the combo box items under phScale.microScreen.view.soluteComboBox.listBox have a name th

[2020-08-15 14:20] pixelzoom commented on #167
@arouinfar Looks like temper pdf (guides) were delete in https://github.com/phetsims/phet-io-client-guides/commit/5996b84d11dba871fed952f830b6ba9caef4b4d7 and https://github.com/phetsims/phet-io-client-guides/commit/12a7d03989f30605a4ea04ca561b89480e5172b0.  Are those the complete sets of commits?  They also need to be delete in the 1.4 branches.

[2020-08-17 16:37] pixelzoom commented on #172
https://github.com/phetsims/studio/issues/175 is fixed and ready for cherry-pick to ph-scale 1.4 and ph-scale-basics 1.4.

In https://github.com/phetsims/studio/issues/175#issuecomment-673713352, @zepumph said:

https://github.com/phetsims/studio/commit/130ca7d42b1097670fb57a77359ca26fbdabe2b4
https://github.com/phetsims/studio/commit/7b291656e59297e06353b7bdb3a59c1fed3cc09e
https://github.com/phe

[2020-08-17 16:59] arouinfar commented on #167
@pixelzoom it doesn't look like the .pdf's were ever in those branches.

![image](https://user-images.githubusercontent.com/8419308/90422698-77deaa00-e078-11ea-8def-ca6a576f9e9d.png)
![image](https://user-images.githubusercontent.com/8419308/90422832-ac526600-e078-11ea-8811-f938be7b5da7.png)

[2020-08-17 17:33] pixelzoom commented on #167
OK, thanks @arouinfar.

[2020-08-17 17:53] pixelzoom commented on #172
@samreid @chrisklus and I spent ~45 minutes working on this via Zoom.  After cherry-picking phetsims/studio@130ca7d, we had to manually apply relevant changes from the remaining 2 shas, and you can see the result in https://github.com/phetsims/studio/commit/decf8af891e15c850bf61bfe189d1d8ddcf97491.

To test in ph-scale 1.4.0-rc.2 and ph-scale-basics 1.4.0-rc.2:

1. Run the sim in Studio
2. Verify

[2020-08-17 19:05] pixelzoom commented on #166
RCs published 8/17/2020:

**pH Scale 1.4.0-rc.2**
QA issue: https://github.com/phetsims/QA/issues/533
phet: https://phet-dev.colorado.edu/html/ph-scale/1.4.0-rc.2/phet/ph-scale_all_phet.html
phet-io: https://phet-dev.colorado.edu/html/ph-scale/1.4.0-rc.2/phet-io/

**pH Scale: Basics 1.4.0-rc.2**
QA issue: https://github.com/phetsims/QA/issues/534
phet: https://phet-dev.colorado.edu/html/ph-scale-b

[2020-08-18 00:13] phet-steele commented on #170
Looks good in phetsims/QA/issues/533 and phetsims/QA/issues/535.

[2020-08-18 00:13] #170 closed

[2020-08-18 15:56] pixelzoom opened #196 "uninstrumented elements appear in Studio tree when they should not"
See https://github.com/phetsims/studio/issues/183, blocks publication of this sim.

[2020-08-18 23:29] pixelzoom opened #197 "Studio search is still not working as expected"
See https://github.com/phetsims/studio/issues/184.

Not blocking according to https://github.com/phetsims/studio/issues/184#issuecomment-675768025, but if this gets fixed before I publish the next ph-scale RC, then I'll try to pick it up.

[2020-08-20 17:38] pixelzoom commented on #197
At 8/20/2020 phet-io meeting:  Would like this change to be included in next pH Scale RC.

[2020-08-20 23:40] pixelzoom commented on #172
The cherry-picks that I picked up above apparently also include fixes for https://github.com/phetsims/studio/issues/168 (Studio clears tree selection when switching between "Featured" and "All" radio buttons).  So I've updated https://github.com/phetsims/ph-scale/issues/172#issuecomment-675023940 to include tests for that issue.

[2020-08-24 17:01] pixelzoom opened #198 "[Featured display] Search will not search for unfeatured parents"
See https://github.com/phetsims/studio/issues/175.

That issue has been fixed, but needs to be tracked for ph-scale 1.4 release.

To verify in Studio, you need to verify that search works the same regardless of whether "All" or "Featured" is selected.

1. Run ph-scale in Studio
2. Set radio button to "All"
3. Search for "listBox", note which elements are the first 2 hits
4. Search for something el

[2020-08-25 17:32] pixelzoom opened #199 "memory leak in Tandem.removePhetioObject"
There's a huge memory leak in PhET-iO that affects even brand=phet. See https://github.com/phetsims/tandem/issues/203.  This is a showstopper, blocking.  A full memory test (both brands) is required.

[2020-08-25 19:47] pixelzoom opened #200 "PropertyStateHandler dependency registration leaks memory"
See phetsims/axon#328. This block publication of 1.4.  A full memory test (both brands) is required.

[2020-08-26 18:18] zepumph commented on #200
A memory leak was outlined and fixed in master over in https://github.com/phetsims/axon/issues/328#issuecomment-681042541. It effects PhET brand. Please follow that link to cherry-pick changes into the next maintenance release of this sim.

[2020-08-26 18:57] zepumph opened #201 "Memory leak in Tandem.removePhetioObject"
This is fixed in master over in https://github.com/phetsims/tandem/issues/203#issuecomment-681061719, but should be cherry-picked into ph-scale branches.

Please pick over https://github.com/phetsims/tandem/commit/dc10b0352a7650599cd79be48f50c60ef6f328ea.

[2020-08-26 20:58] pixelzoom opened #202 "shouldDisplayInStudio is an O(N^2+) recursive algorithm"
See https://github.com/phetsims/studio/issues/186.

@arouinfar Your call on whether this needs to be addressed for pH Scale 1.4.  If yes, please label this issue as "blocks-sim-publication" and label https://github.com/phetsims/studio/issues/186 as "blocks-publication".  If no, please note in a comment and close this issue.

 I'm not familiar with the issue, so you'll have to discuss with the iO t

[2020-08-26 21:03] pixelzoom opened #203 "no initial selection in Studio tree for single-screen sim"
See https://github.com/phetsims/studio/issues/177.

In https://github.com/phetsims/studio/issues/177#issuecomment-678481891, I said:

I went ahead and created this parallel issue.  If this is blocking for ph-scale-basics 1.4, please label this issue and https://github.com/phetsims/studio/issues/177 as such.  Otherwise comment and close/defer this issue.

[2020-08-26 21:06] pixelzoom commented on #201
Duplicate of #199. Closing.

[2020-08-26 21:06] #201 closed

[2020-08-26 21:07] pixelzoom commented on #198
I believe this still needs to be patched in ph-scale 1.4 and ph-scale-basics 1.4.

[2020-08-26 21:30] pixelzoom opened #204 "ComboBox has bad interaction between enabledProperty and displayOnlyProperty"
See https://github.com/phetsims/sun/issues/617.

@arouinfar please indicate whether this is blocking for ph-scale 1.4, and label this issue and https://github.com/phetsims/sun/issues/617 accordingly.

[2020-08-26 23:37] pixelzoom commented on #166
In Slack phet-io channel 8/26/2020, there was a discussion how tracking/managing iO changes has become a problem, especially since the 1.4 release branches were created so long ago (7/9/2020) and the next RCs for ph-scale and ph-scale-basics now pushed out.   We decided to abandon the 1.4 branches, and start over with a new release branch (from master) when RC testing is resumed.

Closing this iss

[2020-08-26 23:37] #166 closed

[2020-08-26 23:40] pixelzoom commented on #155
1.4 release branches have been abandoned, and the RC process will be restarted with a new release branch.  See https://github.com/phetsims/ph-scale/issues/166#issuecomment-681178035.

Changing the title of this issue for 1.5 release.

[2020-08-26 23:41] pixelzoom commented on #196
1.4 release branches have been abandoned, and the RC process will be restarted with a new release branch.  See https://github.com/phetsims/ph-scale/issues/166#issuecomment-681178035.  A complete new version of Studio will be obtained from master and tested. So closing this issue.

[2020-08-26 23:41] #196 closed

[2020-08-26 23:41] pixelzoom commented on #203
1.4 release branches have been abandoned, and the RC process will be restarted with a new release branch.  See https://github.com/phetsims/ph-scale/issues/166#issuecomment-681178035.  A complete new version of Studio will be obtained from master and tested. So closing this issue.

[2020-08-26 23:41] #203 closed

[2020-08-26 23:41] pixelzoom commented on #202
1.4 release branches have been abandoned, and the RC process will be restarted with a new release branch.  See https://github.com/phetsims/ph-scale/issues/166#issuecomment-681178035.  A complete new version of Studio will be obtained from master and tested. So closing this issue.

[2020-08-26 23:41] #202 closed

[2020-08-26 23:42] pixelzoom commented on #200
1.4 release branches have been abandoned, and the RC process will be restarted with a new release branch.  See https://github.com/phetsims/ph-scale/issues/166#issuecomment-681178035.  A complete new version of PhET-iO will be obtained from master and memory tested. So closing this issue.

[2020-08-26 23:42] #200 closed

[2020-08-26 23:42] pixelzoom commented on #199
1.4 release branches have been abandoned, and the RC process will be restarted with a new release branch. See #166 (comment). A complete new version of PhET-iO will be obtained from master and memory tested. So closing this issue.

[2020-08-26 23:42] #199 closed

[2020-08-26 23:43] pixelzoom commented on #198
1.4 release branches have been abandoned, and the RC process will be restarted with a new release branch. Seehttps://github.com/phetsims/ph-scale/issues/166#issuecomment-681178035. A complete new version of Studio will be obtained from master and tested. So closing this issue.

[2020-08-26 23:43] #198 closed

[2020-08-26 23:43] pixelzoom commented on #197
1.4 release branches have been abandoned, and the RC process will be restarted with a new release branch. Seehttps://github.com/phetsims/ph-scale/issues/166#issuecomment-681178035. A complete new version of Studio will be obtained from master and tested. So closing this issue.

[2020-08-26 23:43] #197 closed

[2020-08-26 23:44] pixelzoom commented on #204
1.4 release branches have been abandoned, and the RC process will be restarted with a new release branch. Seehttps://github.com/phetsims/ph-scale/issues/166#issuecomment-681178035.

Unassigning, to be evaluated before the 1.5 branches are created.

[2020-09-21 06:03] pixelzoom opened #205 "SoluteIO conversion to new IO Type pattern"
In 9317b6ba0ec4ecc51952fef71e003ff2afd5ae4d and 2a3de471a61d6c162bb821ce3b71c3fd9ecaa6ba for https://github.com/phetsims/tandem/issues/211, SoluteIO was changed to:

[code]

This doesn't look correct.  Solute uses the same "static instance" pattern as Allele (in Natural Selection).  So I believe that SoluteIO should be:

[code]

[2020-09-21 06:05] pixelzoom commented on #205
I change SoluteIO in the above commit, and moved it into Solute.  Since there's no longer a circular reference, I was also able to move SoluteInstances into Solute.   Tested in Studio and State Wrapper.

@samreid please review.

[2020-09-21 14:49] samreid commented on #205
I'll take a look, but please also see my comment in https://github.com/phetsims/beers-law-lab/issues/259#issuecomment-696160487

[2020-09-21 14:53] samreid commented on #205
Looks good to me, thanks!  Closing.

[2020-09-21 14:57] samreid commented on #205
On second thought, was it specifically requested that we put the "name" and "pH" in the state so they would appear in studio?  I'm not arguing that is the best plan (maybe the current commits would be better), I just want to understand why it was done this way.

[2020-09-21 16:26] pixelzoom commented on #205
Ah right... We probably do want "name" and "pH" to appear in Studio.  Too bad we have to resort to this, because I can that being a common pattern for static instances.   So I should restore `toStateObject`.

But why is it then necessary to define `fromStateObject` as this?

[code]

Won't it be properly restored with ReferenceIO's default implementation of `fromStateObject`?

[2020-09-21 16:35] pixelzoom commented on #205
It looks to me like ReferenceIO's default `fromStateObject` is identical to what you provided for SoluteIO.

ReferenceIO.js:
[code]

phetioEngine.js:
[code]

So for SoluteIO, can I just provide `toStateObject`, and use the default `fromStateObject`?

[2020-09-21 16:49] pixelzoom commented on #205
I demonstrate that what I described above doesn't work, and now I understand why.  I also reverted to the original implementation of SoluteIO and documented why it's necessary to provide `toStateObject` and `fromStateObject`.

Here's the confusing thing about ReferenceIO.  `fromStateObject` has a param named `stateObject`.  It passes `stateObject` to 2 methods of phetioEngine:

[code]

Both of tho

[2020-09-21 17:48] samreid commented on #205
I renamed the parameter in the commit.

I wasn't sure what you meant by this.  Are you asking if we can provide library support to make this commonplace occurrence easier?  Also, it looks to me like `Solute.SoluteIO` shouldn't specify` supertype: ReferenceIO( IOType.ObjectIO ),` if it supplies its own toStateObject/fromStateObject

[2020-09-21 18:01] pixelzoom commented on #205
Yes. Not being able to use ReferenceIO for reference-type serialization in this case seems like a PhET-iO (or Studio?) design flaw.

OK, changed in the above commit, tested in State wrapper.

[2020-09-21 18:05] samreid commented on #205
I can't see a much better way to implement this, let's ask @zepumph.

[2020-09-21 23:23] zepumph commented on #205
I tried hard to understand the whole scope of the discussion above, and I doubtless missed something, but I think I have an idea that will clean things up here.

We should make ReferenceIO's stateObject and object with a member called `phetioID`.

The ReferenceIO can be a better `interface` as opposed to forcing an API that is different from all other stateObjects (string).

Here is an untested pa

[2020-09-22 00:56] samreid commented on #205
That makes `SoluteIO` look very nice.  The state will be a bit more verbose like:

[code]

would become:

[code]

But that is probably worth it.  I don't think conciseness in the state file is a primary concern.  Let's run this proposal past @pixelzoom for feedback.

[2020-09-22 00:56] pixelzoom commented on #205
For `valueType` in my IO Type definition, I'm expecting to see the associated Core Type.  So `valueType: ReferenceIO( IOType.ObjectIO )` seems like a step in the wrong direction.

Maybe the Core Type could have an (optional) method that converts it to what is shown for the "Initial value" in Studio?

[2020-09-22 01:03] samreid commented on #205
Perhaps @zepumph meant `supertype` instead of `valueType`?

[2020-09-22 01:58] zepumph commented on #205
yes yes `supertype` indeed, not valueType.

Verbosity in the state wrapper for references doesn't matter to me at all.

I think that it is right to have one channel (toStateObject) for both use cases (initial state/state object for setting). Really `stateObject` is just a serialized manifestation of the instance. We also already have a way to hide any part of the state that we don't want to see (n

[2020-09-22 02:13] pixelzoom commented on #205
Serialization should be decouplable from how a value is displayed in Studio.  You shouldn't have to change serialization to change how something is displayed in Studio.

This accurately describes serialization, and gives us some default for how the value is displayed in Studio:

[code]

If we don't like how the value is displayed in Studio, then we have to resort to changing serialization.  In thi

[2020-10-09 02:45] zepumph commented on #205
Instead of thinking about dividing on studio display and serialization, what about thinking about SoluteIO as a subtype of ReferenceIO. With work done in https://github.com/phetsims/tandem/issues/218, it is easy to add to the ReferenceIO functionality. @samreid please review, and then pass to @pixelzoom for a spot check.

[2020-11-04 21:23] pixelzoom commented on #205
This issue stalled 27 days ago.  Self-assigning so that I can see what's need to get it resolved.

[2020-11-04 21:53] pixelzoom commented on #205
Where we are at:

@samreid is assigned to review changes that @zepumph made to SolutionIO in c552c9d.

I would very much like to wrap this up, because this sim is on the deliverable list for the client, and is liable to become "needed" at any time.

[2020-11-04 22:40] samreid commented on #205
The conversion to ReferenceIO looks great to me, over to @pixelzoom for a spot check.

[2020-11-09 23:48] pixelzoom commented on #205
Looks good to me too. Closing.

[2020-11-09 23:48] #205 closed

[2020-11-15 17:36] pixelzoom commented on #204
@arouinfar please indicate whether this is blocking for ph-scale 1.5, and label this issue and phetsims/sun#617 accordingly.

[2020-11-16 16:56] arouinfar commented on #204
This does not block ph-scale 1.5. The buggy behavior is a result of unrealistic customizations, and the parent issue is deferred.

[2020-12-17 02:05] pixelzoom opened #206 "change behavior of zoom buttons"
Over in https://github.com/phetsims/scenery-phet/issues/652, ph-scale was identified as a sim that should be converted to use `MagnifyingGlassZoomButtonGroup`, a new common-code component.  This component appears in the Micro screen, and the look will be unchanged:

<img width="328" alt="screenshot_763" src="https://user-images.githubusercontent.com/3046552/102434229-94accf00-3fd1-11eb-896b-a1d18c

[2020-12-17 02:43] pixelzoom commented on #206
Never mind.  I've convinced myself that ph-scale is working correctly.   I'm not going to change its behavior.  Closing.

[2020-12-17 02:43] #206 closed

[2020-12-17 02:43] pixelzoom opened #207 "replace ZoomButton with MagnifyingGlassZoomButtonGroup"
Over in https://github.com/phetsims/scenery-phet/issues/652, ph-scale was identified as a sim that should be converted to use `MagnifyingGlassZoomButtonGroup`, a new common-code component.

[2020-12-17 03:25] pixelzoom commented on #207
Done in the above commit.  Labeling this for testing during the next QA cycle.

[2021-01-14 18:44] pixelzoom opened #208 "pH Scale 1.5 release"
From the note in the QA Pipeline:

pH Scale 1.5.0-rc.1

* 10/23/20 status update from KP:

* shas will be taken from master
* brands=phet,phet-io
* full RC QA process
* also includes ph-scale-basics

From 1/14/2021 PhET-iO meeting, milestones are to start QA 4/1/21, end QA 5/15/21.

[2021-01-14 18:44] pixelzoom opened #209 "pH Scale 1.5 release (6/30/2021)"
In July 2020, we set a goal of publishing pH Scale 1.4.0, the first production version with PhET-iO.  About a month later, we abandoned that effort (and the 1.4 branch) because there were too many PhET-iO changes. See https://github.com/phetsims/ph-scale/issues/166.

We'll try again in pH Scale 1.5, and this issue will track that release.

From the note in the QA Pipeline:

pH Scale 1.5.0-rc.1

*

[2021-01-14 18:45] pixelzoom commented on #208
Duplicate of #209, closing.

[2021-01-14 18:45] #208 closed

[2021-01-22 01:02] zepumph commented on #103
Note that we changes this implementation over in https://github.com/phetsims/phet-io/issues/1616 with https://github.com/phetsims/ph-scale/commit/c665cbaad44676769321b9e5e96963ecd0d3e49e. Because we no longer to require it to be phetioState to get studio info about the solutes. Anyone please feel free to reopen if  needed, but things are still the same. . .

This is what the same studio look now h

[2021-01-22 01:29] pixelzoom commented on #103
I'll take your word for it.

[2021-03-04 18:21] pixelzoom opened #210 "Remove use of mixInto from SolutionMixin.js"
In retrospect, and based on the mixin discussion in https://github.com/phetsims/phet-info/issues/143, I'd like to remove the use of `mixInto` from SolutionMixin.js.   The first pattern to look at would be composition.

[2021-03-08 23:02] pixelzoom commented on #210
SolutionMixIn has been replaced with SolutionDerivedQuantities, which is added to MicroSolution and MySolution via composition.  The PhET-iO API and tandem structure are unchanged.  Tested in brand=phet, Studio, and State Wrapper.

I'm really happy with this. It's so much cleaner and easier to understand.

Closing.

[2021-03-08 23:02] #210 closed

[2021-03-09 18:05] pixelzoom opened #211 "Rename Dropper dispensingProperty to isDispensingProperty"
Because this is a boolean, it should start with "is".

And the DropperNode API has been changed to `isDispensingProperty` in https://github.com/phetsims/scenery-phet/issues/673.

[2021-03-09 18:23] pixelzoom commented on #211
Done in the above commit.

Assigning to @arouinfar as an FYI, since this is a PhET-iO API change.  The new element tandems are:

phScale.macroScreen.model.dropper.isDispensingProperty
phScale.microScreen.model.dropper.isDispensingProperty

Nothing other than the name has changed for these elements. They are still `phetioReadOnly: true` and `phetioFeatured: false`.

[2021-03-15 18:37] pixelzoom opened #212 "CT: Assertion failed: Attached listeners should be cleared before pointer disposal"
I only see this once in CT.  But since CT hasn't been running all tests, I think I'll investigate.   It failed for ph-scale-basics, but that's a subset of ph-scale.

[code]

[2021-03-15 18:39] pixelzoom commented on #212
Reproduced very quickly by running in phetmarks with `
phet-io-wrappers/state/?sim=ph-scale-basics&phetioDebug&fuzz`.

And my suspicion about CT is correct. This isn't showing up regularly because this test is rarely being run:

<img width="1117" alt="screenshot_913" src="https://user-images.githubusercontent.com/3046552/111204138-72542e80-858b-11eb-80d5-b54d961ddec5.png">

[2021-03-15 18:41] pixelzoom commented on #212
This same test is failing with the same assertion for color-vision.

@jonathanolson has something changed in scenery?

[2021-03-16 01:22] jonathanolson commented on #212
I'm working to reproduce this with additional changes to debug (it's being particularly tricky).

I'm not sure what broke this yet, because it's showing an inputListener existing AFTER release(). I promise I'm on it!

[2021-03-17 23:49] jonathanolson commented on #212
Tt seems like phet-io is updating the main Scenery display synchronously on callbacks (e.g. restoring state?) on a button press.

It seems ill-advised to display-update DURING a normal press of a ResetAllButton, and it's incidentally triggering this (reset all (interrupts) => display update => validatePointers => enter event fired on change => RE-touch-snags item before disposal). Can we delay the

[2021-03-18 00:44] pixelzoom opened #213 "Pass visibleProperty to Node where possible"
This is a relatively new feature of Node. You can pass it visibleProperty via options.  In some case, this eliminates the need to make visibleProperty phetioReadOnly:true, and there's a linked element is automatically created.

[2021-03-18 00:46] pixelzoom commented on #213
Done. No change to PhET-iO API, so closing.

[2021-03-18 00:46] #213 closed

[2021-03-18 05:13] samreid commented on #212
`updateViews` does 2 things:

[code]

Even if we really do need to step the current screen view synchronously (which we may not), I don't know a reason why `updateDisplay` couldn't be asynchronous.  Maybe @zepumph can prove me wrong!

[2021-03-18 17:44] pixelzoom opened #214 "Review inputEnabledProperty"
https://github.com/phetsims/scenery/issues/1158 changed pickableProperty to inputEnabledProperty.   Review this sim's use of inputEnbledProperty.

[2021-03-18 18:11] pixelzoom commented on #214
Review is done, and there were significant changes required.  Here's a summary of where things are at.

There are 3 `inputEnabledProperty` elements in this sim.

In the _Macro_ screen, input for the pH probe can be disabled using:

[code]

In the _My Solution_ screen, the H2O+ and OH- graph indicators are interactive.  When input is disabled, their arrows are hidden.  Input can be disabled using:

[2021-03-18 18:44] pixelzoom commented on #214
@arouinfar @kathy-phet I see that inputEnabledProperty was not added to the dropper, and @kathy-phet had mentioned that as a specific use case.  The element is `phScale.macroScreen.view.dropperNode`.

If I instrument `phScale.macroScreen.view.dropperNode.inputEnabledProperty`, that will disable input for everything related to the dropper, including the button.   And since the drag listener is adde

[2021-03-18 18:51] pixelzoom opened #215 "How does inputEnabledProperty apply to dropperNode?"
Related to https://github.com/phetsims/ph-scale/issues/214...

I see that inputEnabledProperty was not added to element `dropperNode`, and @kathy-phet had mentioned that as a specific use case.  The specific element is `phScale.macroScreen.view.dropperNode`.

If I instrument `dropperNode.inputEnabledProperty`, that will disable input for EVERYTHING related to the dropper, including the button.   T

[2021-03-18 18:51] pixelzoom commented on #214
I see that inputEnabledProperty was not added to the dropper, and @kathy-phet had mentioned that as a specific use case.  Let's discuss that in https://github.com/phetsims/ph-scale/issues/215.

[2021-03-19 18:10] pixelzoom commented on #212
This is also showing up in charges-and-fields, faradays-law, wave-on-a-strings,...

[2021-03-22 16:34] samreid commented on #212
I'd like to check in with @zepumph before making changes here--@zepumph what do you recommend?

[2021-03-22 17:07] zepumph commented on #212
This method was created and added to as we found that, in the state wrapper, updating state sometimes didn't show in the downstream sim. I don't think it has to be done sync. Good luck!

[2021-03-22 17:13] jonathanolson commented on #212
@samreid would using something like animationFrameTimer or a legitimate `setTimeout(,0)` be best here?

[2021-03-22 17:32] zepumph commented on #212
We have to be careful about using `animationFrameTimer `, and often state can be set on a sim where its `Sim.activeProperty` is false.

[2021-03-22 17:34] samreid commented on #212
It seems we should run `currentScreen.view.step( 0 );` synchronously but `phet.joist.display.updateDisplay();` asynchronously, does that sound right to you?

[2021-03-22 17:35] zepumph commented on #212
I believe so. Good luck!

[2021-03-22 18:35] samreid commented on #212
I switched to use `setTimeout` for updateDisplay, and it seems to be working OK in testing.  @zepumph @pixelzoom or @jonathanolson can you please review?

[2021-03-22 19:31] jonathanolson commented on #212
That looks good to me, but I'd like someone else to also review (since I recommended that approach).

[2021-03-22 20:44] pixelzoom commented on #212
I have no familiarity with PhetioStateEngine or the cause of this problem, so I can't review the solution.

I can report that, after a pull-all.sh, running with `phet-io-wrappers/state/?sim=ph-scale-basics&phetioDebug&fuzz` is NOT fuzz testing the State Wrapper.   So something is broken here, and this solution doesn't appear to be ready for review.

[2021-03-22 20:46] pixelzoom commented on #212
After a clear cache, `phet-io-wrappers/state/?sim=ph-scale-basics&phetioDebug&fuzz` is now working.

[2021-03-22 20:50] pixelzoom commented on #212
The reported problem no longer occurs after 5 mintues of fuzz testing with
`phet-io-wrappers/state/?sim=ph-scale-basics&phetioDebug&fuzz`

[2021-03-22 20:52] pixelzoom commented on #212
Changing label to "blocks-publication", since this is not specific to ph-scale and affects multiple sims.

[2021-03-22 20:53] pixelzoom commented on #212
Should this issue be transferred to a more general repo, like phet-io?

[2021-03-22 21:36] zepumph commented on #212
`setTimeout` feels like it could have bad side effects too. For example, what about reproduceable playbacks in a case where you are recording and you set the state of the simulation.

Could we use `stepTimer` instead?

[2021-03-22 22:52] jonathanolson commented on #212
Presumably this needs to work when the simulation is NOT being stepped? Also was unsure about animationFrameTimer, as it would presumably have similar behavior to setTimeout.

[2021-03-22 22:56] jonathanolson commented on #212
Presumably setTimeout with 0 would be run next... which would fail in consistency if we step the simulation multiple times in a row (like what snapshot comparison does). Hmm, thoughts?

I'm also seeing animationFrameTimer stepped outside of animation frames (at the startup), but it seems like maybe that would be the most consistent? BUT would never happen if we're not actually firing animation fra

[2021-03-22 23:26] zepumph commented on #212
I'm sorry. I got stepTimer and animationFrameTimer  mixed up. I think we should use animationFrameTimer.

Doing this once on startup didn't seem buggy to @samreid  and I.

[2021-03-23 18:41] samreid commented on #212
I think the `animationFrameTimer` is "always on", so it seems like it is our best bet.  I tested that out and it seemed OK in testing, so I'll commit.

[2021-03-23 18:42] samreid commented on #212
Committed, @zepumph can you please spot check?

[2021-03-25 01:01] zepumph commented on #212
This feels exactly like what `animationFrameTimer` was made for. @pixelzoom does this fix your error? Feel free to close.

[2021-03-25 01:28] pixelzoom commented on #212
I have no idea whether  https://github.com/phetsims/phet-io/commit/65d1d3ccd39c73e9840668d1ecaa949462800166 fixed my error.  This error has not occurred in CT for many days.  It could have disappeared due to one of the other approaches that you tried, or something else entirely.  And I don't have an opinion on whether https://github.com/phetsims/phet-io/commit/65d1d3ccd39c73e9840668d1ecaa949462800

[2021-03-25 01:28] #212 closed

[2021-04-06 15:00] kathy-phet commented on #215
I'm not exactly sure who to tag on this issue. This seems really similar to the laser in bending light, and while I could punt here for this sim, in Bending Light it is essential to be able to use inputEnabledProperty in this way and still be able to turn on/off the laser.

@jonathanolson @zepumph - Do either of you have a recommendation for Chris here in terms of how to proceed to get the desired

[2021-04-06 15:40] pixelzoom commented on #215
To expand on the technical details and requirements here...

BLLDropperNode extends EyeDropperNode.  EyeDropperNode includes the "body" Node and the momentary button, and there's currently no way to access just the body via its API.   So BLLDropperNode adds a DragListener via `this.addInputListener`.  I could resolve the issue by making the body part of the `@protected` API, then adding the DragLi

[2021-04-06 15:44] pixelzoom commented on #215
To expand on the technical details and requirements here...

BLLDropperNode extends EyeDropperNode.  EyeDropperNode includes the "body" Node and the momentary button, and there's currently no way to access just the body via its API.   So BLLDropperNode adds a DragListener via `this.addInputListener`.  I could resolve the issue by making the body part of the `@protected` API, then adding the DragLi

[2021-04-06 16:03] kathy-phet commented on #215
@jonathanolson @zepumph - I know you often use "Options" patterns. Is that something that should be considered for inputEnabledProperty when it should be more specific in the listeners it impacts?

[2021-04-06 16:04] kathy-phet commented on #215
Tagged this for PhET-iO meeting for further discusion.

[2021-04-06 17:01] zepumph commented on #215
Wasn't there a pattern used somewhere that just created a Property called `draggingEnabledProperty`, used to control whether or not the dragListener would be enabled. I can't recall the exact issue.

If we go down that road, presumably it would be best to be able to pass in an enabledProperty to the PressListener hierarchy to achieve this.

[2021-04-06 17:08] pixelzoom commented on #215
I can certainly add a special Property like `draggingEnabledProperty` and handle it in sim-specific code.  But that will not be using `inputEnabledProperty`, and my understand is that `inputEnabledProperty` is supposed to be the new standard for disabling input.

[2021-04-06 17:19] pixelzoom commented on #215
Here's how this can be accomplished in PHDropperNode, with no common-code changes and by adding `draggingEnabledProperty`.   I don't like adding and removing the drag listener based on  `draggingEnabledProperty`.  And again, using something other than `inputEnabledProperty` is going to make `dropperNode` different for the instructional designer.

[code]

[2021-04-06 17:21] pixelzoom commented on #215
Thinking as an instructional designer... It would make a lot more sense to me if I could change something like `phScale.macroScreen.view.dropperNode.dragListener.enabledProperty` to `false`.  That makes it very clear that I am disabling dragging. But listeners have no such `enabledProperty`.

[2021-04-06 18:01] jonathanolson commented on #215
PressListener can be given a `canStartPress` option that could check draggingEnabledProperty (instead of adding/removing the listener).

It sounds like it would be helpful to potentially give PressListener an enabledProperty, such that it wouldn't start a press/drag if that Property is false. It's very similar in use to `canStartPress`, however having both seems needed in some cases.

This seems p

[2021-04-06 18:16] zepumph commented on #215
I totally agree!

I would consider `canStartPress` a code-review-passing workaround for the moment, and we should create a new issue to add enabledProperty to PressListener. I vaguely recall waiting to add it until we needed it, so alternatively we could have this issue wait on an implemnetation of passing PressListener an enabledProperty.

I'm thinking it could be quite easy to add. I can test wi

[2021-04-06 18:40] arouinfar commented on #215
Looks like I'm a bit late to the party, but I wanted to clarify this point:

This is not a design requirement. I don't see why a user would need to drag the dropper by its button, especially since it's a large UI element and can be grabbed elsewhere.  There isn't a pedagogical reason why you need to be able to drag the dropper while it is dispensing the solute, either. Similarly, the laser in Bend

[2021-04-06 18:52] arouinfar commented on #215
"More fun" is fine if there aren't huge technical costs, which doesn't seem to be the case here.

[2021-04-06 18:52] pixelzoom commented on #215
I think this is a question for designers.  From an implementation point of view, it would be easier to opt out, and only feature the input listeners that designers think might be desirable to disable individually.

[2021-04-06 18:54] pixelzoom commented on #215
This problem and the associated cost are not specific to `dropperNode`.  There is a much more general problem -- the inability to disable individual input listeners, and the fact that `inputEnbledProperty` is "all or nothing".  Changing the behavior of the dropper will do nothing to make that general problem go away, it will just pop up in a different context.  So I don't see a lot of value in cha

[2021-04-06 19:17] jonathanolson commented on #215
The top patch in https://github.com/phetsims/ph-scale/issues/215#issuecomment-814336290 looks generally good, but PressListener would need to add a `super.dispose()` in its `dispose()`. With that change, it looks good to me, and I'm not worried about the bloat.

I'll rely on others to figure out the phet-io details.

[2021-04-06 19:21] pixelzoom commented on #215
@jonathanolson said:

I like this direction, +1.

[2021-04-06 19:37] pixelzoom commented on #215
So regarding the "phet-io details"...

For the case of `dropperNode` in ph-scale, my understanding is that `dropperNode` branch of the Studio tree would look like this:

[code]

To disable all interaction with `dropperNode` (dragging and button), set `dropperNode.inputEnabledProperty` to false.

To only disable dragging, set `dropperNode.dragListener.enabledProperty` to false.

To only disable int

[2021-04-06 19:54] pixelzoom commented on #215
Other questions...

* Should sun buttons opt out of `enabledProperty`, so that we don't have `button.enabledProperty` and `button.pressListener.enabledProperty`?
* Should we be able to pass `enabledProperty` to an input listener via options? (like Properties to Node)
* If `options.enabledProperty` is supported, can it be a DerivedProperty, or must it be settable?

[2021-04-06 20:56] jonathanolson commented on #215
That's my understanding of what the patch does, and I would like that.

I would have a strong preference for supporting DerivedProperty.

[2021-04-07 16:15] zepumph commented on #215
The current implementation (although untested) should support being a DerivedProperty. If we commit, unit tests should accompany it to make sure that behavior remains.

------------------

My **strong** preference here is for phet-io instrumenting `enabledProperty` to be an opt in for PressListener.

I totally agree. `PressListener.enabledProperty` to me is a supplemental way to control specific c

[2021-04-08 17:55] pixelzoom commented on #209
A 4/8/21 Q2 planning meeting, dates were adjusted:

4/1/21 start
5/30/21 end

[2021-04-15 17:54] samreid commented on #215
In today's phet-io meeting, we agreed we would like the fine-grained control, so that PressListener would have `enabledProperty`.  We would use an option pattern like `Node.enabledPropertyPhetioInstrumented` so that we can decide on a case-by-case basis whether the `PressListener.enabledProperty` would be instrumented.

@zepumph, please take the lead and coordinate with @jonathanolson.  We would l

[2021-04-15 21:28] pixelzoom commented on #211
Reviewed with @arouinfar, looks good.  Also verified that these changes don't appear in client guides.

Closing.

[2021-04-15 21:28] #211 closed

[2021-04-15 21:31] pixelzoom commented on #214
Reviewed changes with @arouinfar, and client guides look OK.  Closing.

[2021-04-15 21:31] #214 closed

[2021-04-21 15:14] pixelzoom opened #216 "CT: full api expected"
This is occurring occasionally in CT:

[code]

[2021-04-21 15:19] pixelzoom commented on #216
I tried to reproduce this locally using `grunt build --brands=phet,phet-io`, but it succeeds without error.

I guess I'll have to dive into CT to see what the "build" test is actually running.

[2021-04-21 15:59] pixelzoom commented on #216
According to @jonathanolson, CT runs `grunt --brands=phet,phet-io --lint=false`.   I tried that locally, and still could not reproduce.

@zepumph @samreid This is obviously related to PhET-iO.  What does "full API expected" mean? (Consider a more informative message.)  Why does this occur sporadically in CT?

[2021-04-21 17:08] pixelzoom commented on #216
This is caused by puppeteer failing, and not being able to create the API for the running sim.  This will be investigated in chipper, and a better error message will be added in the meantime. See   https://github.com/phetsims/chipper/issues/1022 and https://github.com/phetsims/chipper/issues/1032.

[2021-04-21 17:08] #216 closed

[2021-04-28 17:15] arouinfar commented on #215
May 30 is getting pretty close, so tagging for phet-io meeting to check in on this issue.

[2021-04-28 17:21] arouinfar opened #217 "Update client-requests.md to include reordering of ListBox items"
The client requested the ability to reorder the items in a ComboBox, but it wasn't possible at the time. There's now a studio control to reorder the ListBox items, see https://github.com/phetsims/studio/issues/95.

I'll need to update client-requests.md before this sim gets branched for the next rc.

[2021-04-28 17:37] arouinfar commented on #217
I've edited the client requests for ph-scale and ph-scale-basics, closing.

[2021-04-28 17:37] #217 closed

[2021-04-28 18:02] arouinfar commented on #215
On Slack @pixelzoom said:

[2021-04-28 20:16] pixelzoom commented on #215
See also https://github.com/phetsims/ph-scale/issues/141 (dropper: disable dragging without disabling button)

[2021-04-29 18:23] zepumph commented on #215
My plan is to get to this 5/5, but we'll see how that goes.

[2021-04-29 20:20] pixelzoom commented on #77
I no longer see this problem with master on:

* MacBook Pro + macOS 11.2.3 + any browser
* iPhone 11 + iOS 14.4.2 + Safari
* iPad6 + iPadOS 14.4.2 + Safari

So perhaps it has self-healed.

@KatieWoe can you confirm, when you have a moment (not high priority).  And if you can no longer reproduce, please close.

[2021-05-05 19:09] KatieWoe commented on #77
I don't see this anymore either. Closing, and will reopen if this ever resurfaces.

[2021-05-05 19:09] #77 closed

[2021-05-05 20:43] zepumph commented on #215
I went with the opt-in approach in the first `details` in https://github.com/phetsims/ph-scale/issues/215#issuecomment-814336290

It went really smoothly for almost everything. Now every `PressListener` has an `enabledProperty`, that is, by default, not instrumented, but can be opted into with `phetioEnabledPropertyInstrumented: true` (like I did for the `DragListener` in `PHDropperNode`).

I test

[2021-05-05 21:43] jonathanolson commented on #215
First thing of note is that EnabledComponent is in sun, scenery can't depend on that at the moment (breaks scenery builds). Can we move EnabledComponent to scenery?

[2021-05-05 21:43] jonathanolson commented on #215
Actually, axon, since it doesn't require anything else?

[2021-05-05 21:44] jonathanolson commented on #215
PressListener will need a `super.dispose()` in its dispose.

[2021-05-05 21:46] jonathanolson commented on #215
If a PressListener is disabled, it would probably be best if we interrupt it. Does that sound like a good plan?

[2021-05-05 21:55] jonathanolson commented on #215
Presumably this would just be a tandem in enabledPropertyOptions, NOT the tandem for the EnabledComponent, could we clarify that documentation? (I presume we don't need to worry about specifying `enabledPropertyOptions: { tandem: Tandem.OPT_OUT }`, that would fail the assertion but I don't think it's worth a change)

[2021-05-05 21:56] jonathanolson commented on #215
Looks good, see the above!

[2021-05-05 22:37] zepumph commented on #215
Done above, please review commits in https://github.com/phetsims/axon/issues/354 as well, and reopen over there if you have comments about those commits.

[2021-05-05 22:37] zepumph commented on #215
Can you also please comment on how to proceed with `cursor` setting?

[2021-05-05 22:44] jonathanolson commented on #215
I feel like this is kind of a bigger issue... since the cursor is in practice tied to the input listener, I think looking into creating logic in listeners that handles cursors (and unsets that when they are disabled) is the proper way to go. Presumably we could add the ability (but NOT switch things over) at first, so in cases like this we can move the cursor logic from "putting it on the node" to

[2021-05-06 00:21] zepumph commented on #215
@jonathanolson and I were able to have an impromptu pairing session (aka scenery toe-dip) where we worked on a new feature of Node to use inputListeners to get its cursor value. See https://github.com/phetsims/scenery/issues/1219. Because of it, we were able to opt into this new feature for PHDropperNode in the above commit. Basically, because we no longer get the cursor from the Node, but instead

[2021-05-10 18:51] pixelzoom commented on #215
I had a Slack conversation with @jonathanolson about the new options that are being used here, for listener-specific cursors.  I'm not a fan of moving the cursor into listeners, because I think that it further complicates the listener API.    I won't reproduce the entire discussion here, since it's not specific to this ph-scale issue.  Our concluding comments were:

... Just pointing out that ther

[2021-05-10 18:56] pixelzoom commented on #215
@zepumph said:

and let me know what you think!

It's working as expected.   If I set `dropperNode.dragListener.enabledProperty` to `false`, I can no longer drag the dropper, and there is no cursor that leads me to believe that I can drag it.  The button still works, and still has the expected cursor.

@arouinfar  If this looks OK to you, please assign back to me so that I can prepare this issue f

[2021-05-10 18:59] pixelzoom commented on #209
Status:  There is 1 issue (#215) remaining for review before QA process could being. QA will be a full dev + RC process.  So 5/30/21 (3 weeks) is no longer a realistic publication date. Assigning to @kathy-phet and @arouinfar to establish new milestones.

[2021-05-10 19:20] arouinfar commented on #209
@pixelzoom I'll take a look at #215, but https://github.com/phetsims/studio/issues/95 is still a blocking issue. It might be acceptable for a dev test (the behavior in master seems fine), but given the review comments, there will likely be code changes.

I cannot determine a new milestone, so leaving that up to @kathy-phet.

[2021-05-10 19:26] arouinfar commented on #215
This looks good in master, and I agree with @pixelzoom's  https://github.com/phetsims/ph-scale/issues/215#issuecomment-837149407

[2021-05-10 19:43] pixelzoom commented on #215
Instructions for verifying:

1. Run the sim in Studio
2. Go to the Macro screen. Verify that the dropper can be dragged by its body or button, and that dragging and the button work as expected.
3. Go to element `phScale.macroScreen.view.dropperNode.dragListener.enabledProperty`
4. Set to `false` and verify that the dropper cannot be dragged, but the button still works as expected.
5. Set to `true`

[2021-05-12 19:42] KatieWoe commented on #167
Checked on Win 10 Chrome in 1.5.0-dev.1. Links work, closing

[2021-05-12 19:42] #167 closed

[2021-05-12 19:52] KatieWoe commented on #168
Looks ok in 1.5.0-dev.1 on Win 10 Chrome. Closing

[2021-05-12 19:52] #168 closed

[2021-05-12 20:11] KatieWoe commented on #169
Looks good on Win 10 Chrome in 1.5.0-dev.1

[2021-05-12 20:11] #169 closed

[2021-05-12 20:17] KatieWoe commented on #171
No basics to test, but it looks ok on Win 10 Chrome in 1.5.0-dev.1. @pixelzoom if that is enough, feel free to close

[2021-05-12 20:18] brooklynlash commented on #171
On Chromebook, I only get an invalid query parameter screen with the Macro, Micro, and the valid ones work. The other two (-1, 4,1) are stuck on the phet loading screen and never load.

[2021-05-12 20:24] KatieWoe commented on #215
Steps above work on Win 10 Chrome in 1.5.0-dev.1 Closing

[2021-05-12 20:24] #215 closed

[2021-05-12 20:27] brooklynlash commented on #173
On Chromebook, the pH scientific notation is fixed for the blood solution on master.

[2021-05-12 20:31] KatieWoe commented on #207
Looks ok on Win 10 Chrome on 1.5.0-dev.1. Closing

[2021-05-12 20:31] #207 closed

[2021-05-12 20:33] brooklynlash commented on #179
For brand=phet on Chromebook, the autofill spellings are correct, but on default with no extra query parameter, ph-scale basics does not autofill and ph-scale does autofill. Is this a problem or intended?

[2021-05-12 20:38] brooklynlash commented on #180
Works on Chromebook.

[2021-05-12 20:39] KatieWoe commented on #195
Win 10 Chrome 1.5.0-dev.1 https://github.com/phetsims/ph-scale/issues/195#issuecomment-674403550 looks ok. Closing

[2021-05-12 20:39] #195 closed

[2021-05-12 20:42] brooklynlash commented on #194
Touch area and mouse area are a good size on Chromebook.

[2021-05-12 20:45] brooklynlash commented on #172
Looks like this works on Chromebook.

[2021-05-12 20:49] brooklynlash commented on #177
This works in Chromebook, no freezing and water shows up in the list box.

[2021-05-12 20:52] brooklynlash commented on #178
Instead of it being read-only, it does not even seem to exist on Chromebook. Not sure if this is intended or not.

[2021-05-12 20:56] brooklynlash commented on #191
The search bar tab is now empty on Chromebook, seems to be no problems.

[2021-05-12 20:59] brooklynlash commented on #190
No API error and no console issues, all screens are still showed in the Studio tree but only the name property.

[2021-05-12 21:02] loganbraywork commented on #178
As far as Windows Chrome and Firefox go, I can see both phScale.microScreen.view.dropperNode.visibleProperty & phScale.macroScreen.view.dropperNode.visibleProperty as read only, so it seems fixed to me

[2021-05-12 21:11] loganbraywork commented on #183
Seems to be working as intended on both Chrome and Firefox for windows

[2021-05-12 21:12] #183 closed

[2021-05-12 21:22] phet-steele commented on #188
I tested phetsims/QA/issues/648 with Win 10 Chrome and it worked out just fine. I throttled my CPU to make sure things loaded slowly, and I couldn't get the wrapper out of sync.

[2021-05-12 21:23] #188 closed

[2021-05-12 21:25] liam-mulhall commented on #178
`phScale.microScreen.view.dropperNode.visibleProperty` is read only on macOS.

[2021-05-12 21:29] pixelzoom commented on #179
@brooklynlash Thanks for reporting. That's actually the desired behavior; ph-scale autofills, ph-scale-basics does not.   From ph-scale-basics-main.js:

[code]

Closing.

[2021-05-12 21:29] #179 closed

[2021-05-12 21:36] pixelzoom commented on #173
Thanks @brooklynlash. Closing.

[2021-05-12 21:36] #173 closed

[2021-05-12 21:43] pixelzoom commented on #171
@brooklynlash I'm not sure that I understand your report.  Are you referring to the tests in https://github.com/phetsims/ph-scale/issues/171#issuecomment-668840604, and saying that you're getting these results?

* ?screens=4,1 - "Invalid Query Parameters" dialog displayed, sim stuck on Loading screen
* ?screens=-1 - "Invalid Query Parameters" dialog displayed, sim stuck on Loading screen
* `?scree

[2021-05-12 21:47] pixelzoom commented on #178
@brooklynlash said:

@brooklynlash Did you have "PhET-iO Elements" set to "All" or "Features"?  This is not a featured element, so you'll need to select the "All" radio button, as shown in the screenshot below.  Please verify whether that fixes the problem.  And apologies that this was not specified in the instructions in https://github.com/phetsims/ph-scale/issues/178#issuecomment-668843435, I've

[2021-05-12 21:49] phet-steele opened #218 "pH Meter value text is not aligned properly on the initial set state"
1. In the State wrapper (also happens in the Studio wrapper when previewing the sim), enter the Macro or Micro screens.
2. If you entered the Macro screen, you can already see in the lower sim that the readout on the pH meter has the incorrect alignment. Dragging the probe over the solution will display text like this:

![image](https://user-images.githubusercontent.com/5863899/118047742-722ca100-

[2021-05-12 21:55] phet-steele commented on #187
This seems fixed on my Win 10 Chrome while testing phetsims/QA/issues/648.

[2021-05-12 21:55] #187 closed

[2021-05-12 22:12] brooklynlash commented on #178
Yes, my mistake again. I see it now, thank you.

[2021-05-12 22:14] brooklynlash commented on #171
Yes, this is what I meant, and that was the only query parameter running. I can test also on Win10 and see if there is a discrepancy.

[2021-05-12 22:15] pixelzoom commented on #180
Thanks @brooklynlash.

@KatieWoe are you planning to test on other platforms, or can this be closed?

[2021-05-12 22:15] pixelzoom commented on #194
Thanks @brooklynlash.

@KatieWoe are you planning to test on other platforms, or can this be closed?

[2021-05-12 22:16] pixelzoom commented on #172
Thanks @brooklynlash.

@KatieWoe are you planning to test on other platforms, or can this be closed?

[2021-05-12 22:16] pixelzoom commented on #177
Thanks @brooklynlash.

@KatieWoe are you planning to test on other platforms, or can this be closed?

[2021-05-12 22:17] pixelzoom commented on #191
Thanks @brooklynlash.

@KatieWoe are you planning to test on other platforms, or can this be closed?

[2021-05-12 22:17] KatieWoe commented on #180
It didn't seem to be platform dependent, so I think it can be closed.

[2021-05-12 22:17] #180 closed

[2021-05-12 22:17] brooklynlash commented on #171
Oh, I figured out the issue. Had the same issue on master on Win10, but then took out the brand=phet parameter and worked as expected.

[2021-05-12 22:17] KatieWoe commented on #194
Closed

[2021-05-12 22:17] #194 closed

[2021-05-12 22:18] KatieWoe commented on #172
Closing

[2021-05-12 22:18] #172 closed

[2021-05-12 22:19] pixelzoom commented on #190
@brooklynlash You're probably only seeing `nameProperty` for screens in Studio because you have the "Featured" radio button selected for "PhET-iO Elements".  You'll need to select the "All" radio button.   Please verify that that is the case.

[2021-05-12 22:21] pixelzoom commented on #218
Thanks @phet-steele, I'll investigate.  Sounds like code that's changing the displayed value, but forgetting to center it in the meter.

[2021-05-12 22:21] KatieWoe commented on #177
Closing

[2021-05-12 22:21] #177 closed

[2021-05-12 22:22] brooklynlash commented on #190
Yes, my mistake. I need to remember to do that next time

[2021-05-12 22:22] pixelzoom commented on #178
Excellent, thanks @brooklynlash.

Closing.

[2021-05-12 22:22] KatieWoe commented on #191
Closing

[2021-05-12 22:22] #191 closed

[2021-05-12 22:31] pixelzoom commented on #190
Great, thanks. Closing.

[2021-05-12 22:31] #190 closed

[2021-05-12 23:27] pixelzoom commented on #171
Great, thanks @brooklynlash. Closing.

[2021-05-12 23:27] #171 closed

[2021-05-13 17:15] pixelzoom commented on #218
PHMeterNode.js is the place to start.

[2021-05-13 18:38] pixelzoom commented on #209
@kathy-phet changed milestones to:

4/1/21 start
6/30/21 end

[2021-05-13 18:55] pixelzoom commented on #218
Here's a full screenshot of the State wrapper, showing the downstream alignment problem for the pH meter in the Macro screen:

<img width="537" alt="screenshot_984" src="https://user-images.githubusercontent.com/3046552/118172897-26d2cb00-b3ea-11eb-9307-f3b4419f44f8.png">

It's also a problem with the pH meter in the Micro screen:

<img width="532" alt="screenshot_983" src="https://user-images.git

[2021-05-13 19:03] pixelzoom commented on #218
Definitely a problem with NumberDisplay.  I made these changes in NumberDisplay, so that I can see the background with a red stroke:

[code]

Here's a screenshot, and the NumberDisplay's background is in the correct position. What is not correct is the alignment of the value on the background, which is the responsibility of NumberDisplay.

<img width="154" alt="screenshot_985" src="https://user-im

[2021-05-13 19:19] pixelzoom commented on #218
After moving the probe out of the solution, the "No value" (—) character is also misaligned in the downstream sim.  It is supposed to be `noValueAlign: 'center'`, but appears to be `noValueAlign: 'left'`.

<img width="529" alt="screenshot_986" src="https://user-images.githubusercontent.com/3046552/118175695-af069f80-b3ed-11eb-942c-e3fac4cd25a3.png">

[2021-05-13 19:42] pixelzoom commented on #218
This is indeed a general problem with NumberDisplay.  Here's the problem:

[code]

`valueText` is fully instrumented, including its `textProperty`.  The State wrapper is restoring saving and restoring that `textProperty`.    But the alignment of `valueText` is handled in the `numberProperty` observer.

This can be fixed by moving the alignment code into an observer of `valueText.boundsProperty`, a

[2021-05-13 19:50] pixelzoom commented on #218
Fixed in the above commit, tested in State Wrapper.

@phet-steele please verify in master.  If it's OK, you can simply close this issue.  Since this problem was introduced recently by #96, it was never published in a production version.

[2021-05-13 21:22] phet-steele commented on #218
This looks fixed in master my Win 10 Chrome.

[2021-05-13 21:22] #218 closed

[2021-05-13 21:31] pixelzoom commented on #218
Thanks @phet-steele.

[2021-05-20 04:31] arouinfar commented on #178
@kathy-phet saw this issue and messaged me on Slack:

I hadn't previously thought of this use case, but @kathy-phet makes a good point. Hiding the dropper would be useful in a lesson focused on dilution. I would recommend that we revert this change and make `dropperNode.visibleProperty` phetioReadOnly: false.

This means that autofill will occur through an invisible dropper, so we should decide wh

[2021-05-20 18:01] pixelzoom commented on #178
(1) requires no work.

(2) is significantly easier than (3).

Let me know how you want to proceed.

[2021-05-21 22:37] arouinfar commented on #178
@pixelzoom let's proceed with (2). It prevents us from telling users, "if you do X, you also have to do Y".

[2021-05-24 18:07] pixelzoom commented on #178
@arouinfar Question: In ph-scale-basics, the default is `autofill: false`.  So if you make the dropper invisible, nothing will happen when you switch solutes via the combo box.  The client would have to know to start the sim with `autofill: true`, or change `phScaleBasics.macroScreen.model.autofillEnabledProperty`.   Is this OK?

Or should the autofill setting be ignored when the dropper is made i

[2021-05-24 19:03] pixelzoom commented on #178
In the above commit, I added `model.dropper.visibleProperty`, which is linked to `view.dropperNode.visibleProperty` and the `dropperFluidNode` (which is internal, and not instrumented).  So if you set `model.dropper.visibleProperty`, the dropper and the fluid that comes out of the dropper will be hidden. @arouinfar please verify in master.

@arouinfar and I discussed https://github.com/phetsims/ph

[2021-05-24 20:39] arouinfar commented on #178
@pixelzoom the behavior looks good in master. I've edited the client guides in the above commits, so closing.

[2021-05-24 20:39] #178 closed

[2021-05-25 21:14] KatieWoe opened #219 "Autofill is slower in downstream sim"
For https://github.com/phetsims/QA/issues/650. Seen on Mac 11.4 Safari and Win 10 Chrome.
In the state wrapper (or presumably the studio wrapper) setting the state during an autofill will cause the downstream sim to autofill, but at a much slower pace than the auto fill should be. It fills to the same level however.

Steps:
1. Use a touch screen if possible, as this can require some fast timing.
2

[2021-05-26 20:14] KatieWoe commented on #219
If you reset the sim, the autfill seems to be sped up.

https://user-images.githubusercontent.com/41024075/119724980-9f934780-be2c-11eb-84ba-6f61b31179bc.MP4

[2021-05-26 20:28] pixelzoom commented on #219
This is being reported for https://phet-dev.colorado.edu/html/ph-scale/1.5.0-dev.2/phet-io.

@KatieWoe can you reproduce this in the previous release branch, in https://phet-dev.colorado.edu/html/ph-scale/1.4.0-rc.2/phet-io/ ?

[2021-05-26 20:33] KatieWoe commented on #219
It does seem to happen there. It is a bit harder to see since the setting of state happens at predetermined intervals there, and I can't seem to go fast enough to test the reset aspect I saw in https://github.com/phetsims/ph-scale/issues/219#issuecomment-849086865. But the slow autofill does seem to be happening.

[2021-05-26 20:53] pixelzoom commented on #219
I suspect that this is related to https://github.com/phetsims/ph-scale/issues/132.  In that issue, changes were made so that autofill is disabled while state is being restored.

In MacroModel.js:

[code]

Note that the above typically accelerates `dropper.flowRateProperty` during autofill.  And that's not happening while state is being restored.   So perhaps this line can be moved before the `if t

[2021-05-26 21:08] pixelzoom commented on #219
@KatieWoe I can't tell what you're doing in the movie that you provided in https://github.com/phetsims/ph-scale/issues/219#issuecomment-849086865.  I assume that you're pressing the Reset All button at some point during the slow autofilling.  Are your pressing the Reset All button in the upstream or downstream sim?

[2021-05-26 21:10] KatieWoe commented on #219
Yes I can reliably reproduce in master. I am hitting the reset all button in the downstream (bottom) sim.

[2021-05-26 21:18] pixelzoom commented on #219
I'm totally confused as to why ANY autofill is occurring. The change noted in https://github.com/phetsims/ph-scale/issues/219#issuecomment-849110147 is supposed to prevent autofill from being turned on while state is being restored.

I'm going to have to punt this one over to the PhET-iO team. Assigning to @samreid.

[2021-05-26 21:22] pixelzoom commented on #141
This was addressed in https://github.com/phetsims/ph-scale/issues/215, closing.

[2021-05-26 21:22] #141 closed

[2021-05-26 21:27] samreid commented on #219
It would probably be best to look at this together.  Some questions I have:

Autofill is expected in the upstream sim, right?  `isAutofillingProperty` looks phet-io instrumented, so maybe that is being transmitted to the bottom sim.  Also, I didn't have a touch device at the moment, but was unable to reproduce the problem by setting the "Set State Rate" and changing the solution at the right time.

[2021-05-28 00:14] pixelzoom commented on #219
5/27/21 phet-io meeting:

@kathy-phet said that this has lower priority than general "blocks-publication" issues.  I'm going to wait to address this until pH Scale is on deck for publication.  I requested a 1-week notice for that.

[2021-05-28 20:17] KatieWoe opened #220 "Metacog recording doesn't work"
For https://github.com/phetsims/QA/issues/650. Win 10 Chrome.
When trying to use this https://phet-dev.colorado.edu/html/ph-scale/1.5.0-dev.2/phet-io/wrappers/login/?wrapper=record&validationRule=validateDigits&numberOfDigits=5&promptText=Enter%20a%205%20Digit%20ID&publisher_id=5d4c8ae1}&key_name=testing&widget_id=ph-scale-1.5.0dev2-qaTest&metacog metacog link, the sim is blank with this console e

[2021-05-28 20:40] samreid commented on #220
@KatieWoe can you please run this test on a sim that it was known to work for in the past, to see if it is working or not?

[2021-05-28 20:46] samreid commented on #220
@KatieWoe and found that a { sneaked into the URL.  Once we removed it, everything seemed OK.

[2021-05-28 20:46] #220 closed

[2021-06-01 23:23] samreid commented on #219
@pixelzoom and I looked at this today, a guard around the nested property set seems to help:

[code]

Also, a simplified startAutofill seems to work:

[code]

@pixelzoom volunteered to investigate further.

[2021-06-09 18:06] pixelzoom commented on #219
The change to `startAutofill` in the above comment was not quite right, and introduced new problems. The correct change was to simply remove the `isSettingPhetioStateProperty` check, since it is moved to the `isDispensingProperty` listener.   See above commit.

@KatieWoe can you please test this in master? If it looks OK, please close this issue.

[2021-06-09 18:19] KatieWoe commented on #219
It does look fixed on master

[2021-06-09 18:19] #219 closed

[2021-07-06 22:53] pixelzoom opened #221 "Add phetioDesigned:true"
... to Sim options in main.js

[2021-07-07 15:51] pixelzoom commented on #221
Done in the above commits:
* added `phetioDesigned: true` to Sim options in main.js
* added `"compareDesignedAPIChanges": true` to package.json
* `grunt generate-phet-io-api`

I'll leave this issue open until CT has verified.

[2021-07-07 16:30] pixelzoom commented on #221
Running Studio with `?phetioCompareAPI` indicates no problems. Closing.

[2021-07-07 16:30] #221 closed

[2021-07-07 16:37] pixelzoom commented on #209
We're now 1 week past the milestone. Assigning to @kathy-phet to revise.  Feel free to assign back to me when you're ready to proceed with publishing this release.

[2021-07-07 22:35] pixelzoom commented on #209
Published for QA testing:
* pH Scale 1.5.0-dev.3, https://github.com/phetsims/qa/issues/665
* pH Scale: Basics 1.5.0-dev.1, https://github.com/phetsims/qa/issues/666

[2021-07-12 20:41] stemilymill opened #222 "Incorrect pointer areas for pH probe"
**Test device**
Dell laptop

**Operating System**
Win10

**Browser**
Chrome 91.0.4472.124

**Problem description**
For https://github.com/phetsims/qa/issues/666 , https://github.com/phetsims/qa/issues/665
**Does not impact performance**
When the probe is near the bottom of the container, the pointer area appears to rotate counterclockwise from the actual probe. The actual area for input does not c

[2021-07-12 20:49] arouinfar commented on #222
Nice find @stemilymill. Looks like https://github.com/phetsims/scenery-phet/issues/488 again @pixelzoom.

[2021-07-12 20:58] pixelzoom commented on #222
This is a known problem with all sims that have a probe. The problem has been around for a couple of years, and has never been fixed -- https://github.com/phetsims/scenery-phet/issues/488 wasn't fixed, it was moved to https://github.com/phetsims/kite/issues/77.    On the bright side https://github.com/phetsims/kite/issues/77#issue-441455994, says that this is "a display-only problem", so the actua

[2021-07-13 17:27] arouinfar commented on #222
I don't see kite issue as particularly important since it's a display-only problem. However, this will likely continue to be reported by QA. I recommend we hide the pointerArea on the ProbeNode if it is using the default bounds, but I'll leave that up to @pixelzoom.

[2021-07-13 17:35] pixelzoom commented on #222
I noted the recurring QA/dev cost in phetsims/kite#77.

I'll leave this issue open until  phetsims/kite#77 is addressed, in the hopes that QA won't report it again.

[2021-07-13 18:50] pixelzoom commented on #209
RC tests published on 7/13/21, per @arouinfar:

* https://github.com/phetsims/qa/issues/669
* https://github.com/phetsims/qa/issues/670

[2021-07-13 20:03] KatieWoe opened #223 "Studio doesn't "Preview Sim" properly when solute is not at half a liter"
For https://github.com/phetsims/qa/issues/669. Seems to have happened in the recent dev-lite as well (sorry for missing it).
Oddly, this only seems to happen in Studio, not (from what I can tell) the State wrapper.

When the sim is launched with a solution (mostly non-water) and the level is not .5L, the sim does not launch in the correct state. Water seems less impacted than other solutes. If the

[2021-07-13 21:57] samreid commented on #222
https://github.com/phetsims/kite/issues/77 has a proposed fix and is out for review.

[2021-07-13 21:59] pixelzoom commented on #222
Self assigning. I'm going to wait until @jonathanolson has reviewed and closed https://github.com/phetsims/kite/issues/77 before I close this issue.

[2021-07-13 22:24] pixelzoom commented on #223
Steps to reproduce:

1. Start the sim in Studio
2. Go to the Macro screen
3. Select "Battery Acid" (or any solute) from the combo box
4. Wait for the beaker to autofill to 0.5L.
5. Drain a bit of solution, using the drain faucet.
6. Press the "Preview Sim" button.
7. The preview sim starts with the correct amount of solution, but immediately autofills to 0.5L.

[2021-07-13 22:25] pixelzoom commented on #223
Similar problem in the Micro screen, using the sanme steps to reproduce.

[2021-07-13 22:29] pixelzoom commented on #223
No problem in ph-scale-basics, if started with defaults.  But if I add `?autofill=true`, then it has the same problem as the Macro screen in ph-scale.  So probably related to `autofillEnabledProperty`.

[2021-07-13 22:38] pixelzoom commented on #223
Fixed in the above commit. @KatieWoe please verify in master. Then assign back to me so that I can patch the 1.5 branch.

[2021-07-13 22:45] KatieWoe commented on #223
Both seem fixed on master

[2021-07-13 22:52] pixelzoom commented on #223
🎉  Thanks @KatieWoe.  I'll proceed with patching the 1.5 branch.

[2021-07-13 23:07] pixelzoom commented on #223
Patches in 1.5 branches for ph-scale and ph-scale-basics, ready for testing in new RCs.

[2021-07-14 13:29] samreid commented on #222
https://github.com/phetsims/kite/issues/77 has been reviewed and closed.

[2021-07-14 13:32] #222 closed

[2021-07-14 19:05] stemilymill commented on #155
Found during https://github.com/phetsims/qa/issues/669

My name is in the Team section instead of the QA section, and I think Brooklyn Lash and Clifford Hardin need to be added to QA as well @KatieWoe

![name in wrong section of credits](https://user-images.githubusercontent.com/85511101/125675678-4e1f8aea-7ad5-4168-b161-4f36adf47183.jpg)

[2021-07-14 19:06] KatieWoe commented on #155
Good catch

[2021-07-15 00:45] stemilymill opened #224 "Pointer Area inconsistency for expand/collapse and toggle switch"
**Test device**
Dell laptop

**Operating System**
Win10

**Browser**
Chrome 91.0.4472.124

**Problem description**
For https://github.com/phetsims/qa/issues/669
Expand/collapse hitbox does not match what is shown in ?showPointerAreas, and actual hitbox does not match in pH and graph accordions
note: one of the query pointer area mismatches occurs in published version, but not the difference betwee

[2021-07-15 02:23] pixelzoom commented on #224
Thanks for report @stemilymill.  But this is not a problem, it's a feature :).

Two things...

(1) Clicking on labels is an alternative way of toggling AB switches and accordion boxes -- the 2 types of UI components that you've demonstrated here.  This is handled in common code, not specific to this sim, so expect to see this behavior in other sim.

(2) The labels do have default pointer areas, bu

[2021-07-15 02:45] pixelzoom commented on #155
QA credits updated, patched in 1.5 branches for ph-scale and ph-scale-basics. Example screenshot below, from master.  Ready for verification in next RC.

<img width="696" alt="screenshot_1063" src="https://user-images.githubusercontent.com/3046552/125719800-be8da7c2-a4aa-45bc-a5be-d88b06f556d2.png">

[2021-07-15 14:37] #224 closed

[2021-07-15 14:43] stemilymill commented on #224
@pixelzoom yes, all makes sense, the main part I thought might actually be a problem is that in the published version, to toggle the pH accordion box you have to actually click the +/- square button,  but in this RC version it is not limited to that area. Thanks for explaining it to me!

[2021-07-15 15:13] pixelzoom commented on #224
The published version is quite old, and did not use AccordionBox.

[2021-07-19 14:57] Nancy-Salpepi opened #225 "Molecule count for hydronium and hydroxide ions different at pH = 7"
**Test device**
iMac

**Operating System**
10.15.7

**Browser**
Safari 14.1.1   (also seen on MacBook Air with M1 chip + chrome)

**Problem description**
https://github.com/phetsims/qa/issues/669

After initially moving OH- slider to maximum quantity of 5.0 mol (pH = 15), the molecule counts for hydroxide and hydronium ions were not equal when pH was returned to 7 using hydroxide slider. This was

[2021-07-19 15:07] pixelzoom commented on #225
Thanks @Nancy-Salpepi. Reproduced in 1.5.0-rc.1 and master.

 I'll investigate, but here's my best guess. Because the slider is continuous, the pH is not exactly 7.00 in the model.  It's probably something like 7.005, but we're only displaying 7.00.

[2021-07-19 15:15] Nancy-Salpepi commented on #225
I thought it might be due to rounding, but since the molecule count was equal in all other instances, I thought it was odd for it to be different here.

[2021-07-19 15:51] pixelzoom commented on #225
Yep, pH is not exactly 7.00 in the model.

For example, in this case pH=6.997477692908731.  And you can see that the H3O+ and OH- sliders have different values.

<img width="1066" alt="screenshot_1064" src="https://user-images.githubusercontent.com/3046552/126187939-d28e0351-6d89-45d5-b021-7cee2accd2be.png">

If I fiddle with the OH- slider a bit, I can make the H30+ and OH- sliders have the same

[2021-07-19 16:39] pixelzoom commented on #225
Notes to self: If we want to constrain the slider coefficients to 2 decimal places, then that can be done in either GraphIndicatorDragListener (in `drag` function) or in `LogarithmicGraphNode` (in `yToValue` function).

[2021-07-19 18:18] pixelzoom commented on #225
I went ahead and implemented this approach in the above commit. @arouinfar if you can think of any problems with this, please jump in asap.

@Nancy-Salpepi please verify this fix in master.  Then assign back to me, so that I can patch the 1.5 branches.

[2021-07-19 18:51] Nancy-Salpepi commented on #225
Still looks the same to me. Mole values are still different at pH = 7 and the "molecule count" values for the ions in the beaker are still not equal.
<img width="1146" alt="Screen Shot 2021-07-19 at 2 45 02 PM" src="https://user-images.githubusercontent.com/87318828/126211714-c2479dff-4215-4c2a-9e2a-3232dba19966.png">

[2021-07-19 19:07] pixelzoom commented on #225
@Nancy-Salpepi  I could easily reproduce the problem before, and I'm unable to now in master.  I see from your screenshot that you're using phettest to test master.  So I suspect that phettest may not have pulled the latest changes, or you're experiencing caching in your browser.  If you think that may be the case and aren't familiar with those issues, ask one of the other QA team to fill you in.

[2021-07-19 19:11] pixelzoom commented on #155
Looks like I need to add @Nancy-Salpepi "Nancy Salpepi" to the QA credits in master and 1.5 branches. Self assigning.

[2021-07-19 19:14] stemilymill commented on #155
@pixelzoom @KatieWoe  Devon Quispe has also worked on pH. I don't know if anyone else is missing

[2021-07-19 19:28] stemilymill opened #226 "Slight visual shift of some UI components"
**Test device**
Dell laptop, Chromebook

**Operating System**
Win10, Chrome OS

**Browser**
Chrome 91.0.4472.124

**Problem description**
For https://github.com/phetsims/qa/issues/669.
In the Micro screen, changing the volume of liquid in the beaker causes some of the numbers in the graph to move slightly up or down, and in the My Solution screen, when the graph is displaying Quantity, setting pH

[2021-07-19 19:28] Nancy-Salpepi commented on #225
Sorry that was my fault. I was not in incognito mode. I couldn't reproduce the problem in master. Do you also want me to try it in 1.6.0-dev.1?

[2021-07-19 19:35] pixelzoom commented on #225
No, master is sufficient, thanks.  I'll assign this back to me for patching in 1.5.

Note to self: While this feature is only used in ph-scale, I think I'll also patch ph-scale-basics, so that they continue to share the same code base.

[2021-07-19 22:49] pixelzoom commented on #226
All of these elements have static positions.  So this is probably a browser problem that I have no control over.   Assigning to @jonathanolson to comment with high priority.

[2021-07-19 22:53] pixelzoom commented on #226
@stemilymill Your test device might be behind a few versions. The latest version of Chrome is Chrome 91.0.4472.124.  Can you please update and re-test, to verify that this is not a bug that has been fixed in the browser?

[2021-07-19 22:54] pixelzoom commented on #226
@stemilymill Your test device is behind a few versions. The latest version of Chrome is 91.0.4472.164. Can you please update and re-test, to verify that this is not a bug that has been fixed in the browser?

[2021-07-20 00:11] pixelzoom commented on #225
Patched in 1.5 branches for ph-scale and ph-scale-basics. Ready for verification in next RC.

[2021-07-20 00:20] pixelzoom commented on #155
Updated QA credits are shown below, added Nancy Salpepi and Devon Quispe in master and 1.5 branches.  Ready for verification in next RC.

<img width="666" alt="screenshot_1074" src="https://user-images.githubusercontent.com/3046552/126243674-557c77b7-0947-4ea9-810d-0263d3a3dfb7.png">

[2021-07-20 14:30] stemilymill commented on #226
@pixelzoom My device is now up-to-date and this all behaves exactly the same.

[2021-07-20 14:43] pixelzoom commented on #226
@stemilymill Got it, thanks for checking.

[2021-07-20 15:36] jonathanolson commented on #226
So far I'm unable to reproduce (Win10, Chrome 91.0.4472.164). It looks potentially size-specific, so I matched the browser size with the reported resolution (1418x656) and still didn't see it.

I did see an interesting pixel ratio in the debug info (`Pixel Ratio: 1.3541666269302368/1`), there definitely could be something going on specific to that setup on the browser-side.

@pixelzoom could we tr

[2021-07-20 15:37] Nancy-Salpepi opened #227 "Studio doesn't move items in list box to index = 0 position"
**Test device**
MacBook Air (M1 chip)

**Operating System**
ios 11.4

**Browser**
safari 14.1.1

**Problem description**
https://github.com/phetsims/qa/issues/669

When an item in the list box is changed to current index = 0 position, the position is not changed once the sim is launched. I took screen shots with drain cleaner but it happens with the other items as well.

**Steps to reproduce**
1.

[2021-07-20 15:39] stemilymill commented on #227
Also happens on win10 Firefox 90.0.1

[2021-07-20 16:17] pixelzoom commented on #226
Please clarify.  Set `layerSplit: true`  for the graph background, or for the elements that are shifting around?

Since the entire beaker and panel below the beaker are also shifting around, would it also be sufficient to set `layerSplit: true` for those entire elements?  That might be easier than trying to separate out parts of the graph.

[2021-07-20 16:27] pixelzoom commented on #227
I've navigated to element `phScale.macroScreen.view.soluteComboBox.listBox`.  But I don't know what this step means:

[2021-07-20 16:28] pixelzoom commented on #227
Are you changing the value of some Property in Studio?  Can you give me the tandem name of that Property?

[2021-07-20 16:31] Nancy-Salpepi commented on #227
Click on any item and then change the value using the move up button.

<img width="1030" alt="Screen Shot 2021-07-20 at 12 29 34 PM" src="https://user-images.githubusercontent.com/87318828/126361441-f1e426e3-ccf8-44c0-9ab7-7f9c89107f74.png">

[2021-07-20 17:00] jonathanolson commented on #226
I'd like the layerSplit to be put on something that:

1. Contains all of the text that is shifting, but should not be shifting. Can contain other things
2. Does NOT include things that are actually moving, like the indicators or things in the play area.

I'm curious if that will prevent the bug from happening. Ideally do this with one layerSplit... one per tick would probably be bad for performanc

[2021-07-20 17:05] pixelzoom commented on #227
Steps to reproduce:
1. Run https://phet-dev.colorado.edu/html/ph-scale/1.5.0-rc.1/phet-io/wrappers/studio/
2. Navigate to `phScale.macroScreen.view.soluteComboBox.listBox.handSoapItem`
3. In the pane below the sim, press the "Move Up" button until "Hand Soap" is at the top of the combo box listbox, and the pane shows "Current Index: 0".
4. Press "Preview Sim" button
5. In the preview sim, open the

[2021-07-20 17:29] pixelzoom commented on #226
Discussed with @jonathanolson on Zoom. The plan is:

* Publish a dev version from master, see if @stemilymill can reproduce it there. If this is reproducible in master, that makes our lives quite a bit easier.
* If reproducible in master, add `layerSplit: true` to the 2 draggable indicators, publish another dev version, and ask @stemilymill to compare behavior.
* Based on the visuals, elements app

[2021-07-20 17:34] pixelzoom commented on #226
@emily-phet two requests:

(1) Please test [1.6.0-dev.2](https://phet-dev.colorado.edu/html/ph-scale/1.6.0-dev.2/phet/ph-scale_en_phet.html) to see if the problem occurs in that version.  (This is a dev version built from master, with no changes/fixes.  If it's reproducible there, then we can troubleshoot in master, rather than in the 1.5 branch.)

(2) Based on the visuals that you provided, UI el

[2021-07-20 17:36] emily-phet commented on #226
I think the comment above was intended for @stemilymill.

[2021-07-20 17:43] pixelzoom commented on #226
Good news -- I can reproduce this in master on macOS 11.3.1 + Chrome 91.0.4472.164.  The key is indeed to move drag the indicator to its maximum.

Steps to reproduce:
1. Run the sim from master
2. Go to the My Solution screen
3. Set the AB switch at the top of the graph to "Quantity".
4. Drag the OH- indicator to its max value (5.00).  Then alternate between 5.00 and just below 5.00.  You'll see s

[2021-07-20 17:44] pixelzoom commented on #226
@stemilymill you can ignore the requests in https://github.com/phetsims/ph-scale/issues/226#issuecomment-883570502, since I've reproduced this on macOS in master.

[2021-07-20 17:48] pixelzoom commented on #226
I tried adding `layerSplit: true` to the default options for `GraphIndicatorNode`.  Running unbuilt from master, this resulted in no change in behavior. Static UI elements continue to shift up and down when following the steps in https://github.com/phetsims/ph-scale/issues/226#issuecomment-883576284.

@jonathanolson thoughts on how to proceed?  And can you also reproduce this now, following the st

[2021-07-20 18:27] Nancy-Salpepi commented on #223
Emily and I just had issue #223 happen using state. I am using MacBook + safari and she is in Windows + firefox.

Dropper showing pour animation

Steps to Reproduce:
1. In state, select macro screen
2. Scroll down to the set state rate slider and set value to zero
3. In the upstream simulation, select battery acid (or any liquid)
4. Wait for the beaker to autofill to .5 L
5. Add either more of the

[2021-07-20 18:42] pixelzoom commented on #223
In [1.5.0-rc.1](https://phet-dev.colorado.edu/html/ph-scale/1.5.0-rc.1/phet-io/wrappers/state/), I've reproduced 2 problem using the steps shown in https://github.com/phetsims/ph-scale/issues/223#issuecomment-883604197.

In the first set of steps (for solution volume > 0.5L), after pressing "Set State Now",  the volume of the beaker is immediately correct in the downstream sim. But the dropper sho

[2021-07-20 18:57] pixelzoom commented on #223
I verified that the 2 problems reported in https://github.com/phetsims/ph-scale/issues/223#issuecomment-883604197 do NOT occur in master or the 1.5 branch.  So no further work is needed, and this issue is still ready for verification in the next RC.

[2021-07-20 20:06] Nancy-Salpepi commented on #223
I just wanted to add that those 2 problems are also seen when the "Launch" button is pressed in State wrapper.

[2021-07-20 20:10] pixelzoom commented on #223
OK.  Self assigning to investigate whether the 1.5 patch that I've applied also addresses the "Launch" button in the State wrapper.

[2021-07-20 20:24] pixelzoom commented on #223
In [1.5.0-rc.1](https://phet-dev.colorado.edu/html/ph-scale/1.5.0-rc.1/phet-io/wrappers/state/), I've reproduced 2 problem with the "Launch" button in the State wrapper.

In master and 1.5 branches, the problems are no longer occur.

So no further work is needed, and this issue is still ready for verification in the next RC.

[2021-07-21 12:54] zepumph commented on #227
I see that the items are correctly in the state, even when index is 0:

[code]

Then when I reproduce the error case and preview sim, I see that the launched sim now has the state you would expect from looking at it:

[code]

[2021-07-21 12:55] zepumph commented on #227
Still investigating

[2021-07-21 13:39] zepumph commented on #227
Alright. I fixed the problem above, and was able to test a couple of usages and all looked good. Basically it was an issue with order of state setting, depending on what index you were setting Nodes to. Take this as an example of the problem (where we were using Node.moveChildToIndex):

[code]

I believe this is what was happening when a later list item was set to the 0th spot.

As a solution. I d

[2021-07-21 13:40] zepumph commented on #227
Note, @samreid is really the author of IndexNodeIO, so it would be nice to leave this open for him to review when he get's back to vacation, but I don't think that that review needs to block the RC of ph-scale.

[2021-07-21 14:25] pixelzoom commented on #227
Does the Migration Guide need to be changed?

[2021-07-21 14:59] pixelzoom commented on #227
I tested the changes in the context of ph-scale 1.5, and I couldn't find any problems.

Patched in ph-scale 1.5 using these commands, and identical commands in ph-scale-basics 1.5.

[code]

Ready for verification in the next RC.

[2021-07-21 15:14] pixelzoom commented on #226
This doesn't appear to be related to resizing the value display. I added this to GraphIndicatorNode, to constrain the size:

[code]

... and there was no change in behavior.

[2021-07-22 16:19] arouinfar commented on #226
This reminds me of https://github.com/phetsims/gravity-force-lab/issues/101, which is currently in the published version of Gravity Force Lab. The underlying cause may be different, but there's certainly precedent for publishing a sim with sort of visual wiggle.

This issue occurs only in a very specific situation and doesn't affect usability. Given that there isn't an obvious solution, I'm fine w

[2021-07-22 16:27] jonathanolson commented on #226
Unable to reproduce, moving the OH indicator here:

![image](https://user-images.githubusercontent.com/480878/126674389-249ac958-3a09-4014-8e0f-6e8fe2552b53.png)

@pixelzoom what if you put the flag `preventFit: true` on the parts that are shifting (with no layerSplit)?

[2021-07-22 20:03] KatieWoe commented on #227
Linking to https://github.com/phetsims/qa/issues/670 as well

[2021-07-22 20:47] pixelzoom commented on #226
You haven't moved it to its maximum, 5.0. Your screenshot shows 4.8.

I'll give it a try.

[2021-07-22 20:50] jonathanolson commented on #226
Understood, I don’t have a good setup for taking videos, so I wanted to make it clear that I was moving it “from” the 5.0 position. I moved it from the top to where the screenshot was repeatedly, and tried other combinations.

[2021-07-22 20:56] pixelzoom commented on #226
@jonathanolson are you on macOS + Chrome Chrome 91.0.4472.164?  Odd that I can reproduce it 100% of the time and you can't.

[2021-07-22 21:01] jonathanolson commented on #226
![image](https://user-images.githubusercontent.com/480878/126708845-3ed5fd55-9c86-4c1c-bb40-1813f4633abb.png)
![image](https://user-images.githubusercontent.com/480878/126708861-2fde933d-5da9-4c55-b2fd-7661380ee936.png)

No shift noticed, screenshots in both conditions. macOS 11.4, Chrome 91.0.4472.114, running from master, steps taken from https://github.com/phetsims/ph-scale/issues/226#issuecomm

[2021-07-22 21:02] jonathanolson commented on #226
Updated to Chrome 92.0.4515.107 (macOS), still no reproduction of the bug, either in the full-screen or with devtools open.

[2021-07-22 21:25] pixelzoom commented on #226
Removing high-priority label, since @arouinfar says that this is non-blocking, and could even be closed as "won't fix".

[2021-07-22 23:42] pixelzoom commented on #226
I upgraded Chrome to 92.0.4515.107 (lastest). With macOS 11.3.1, there was no change.

Then I upgraded macOS to 11.5 (latest). With Chrome to 92.0.4515.107, there was again no change.

So I'll move on to trying `preventFit: true`.

[2021-07-23 00:08] pixelzoom commented on #226
In the My Solution screen, there's a lot more shifting around than I originally notices. Here's the (complete?) list of things that shift up when the steps in https://github.com/phetsims/ph-scale/issues/226#issuecomment-883576284 are followed:

These parts of ph-scale/MySolutionScreenView:
* The entire control panel below the beaker, `beakerControlPanel`
* The entire beaker, `beakerNode`
* The sol

[2021-07-23 00:13] pixelzoom commented on #226
I verified that adding `preventFit: true` to `resetAllButton` in MicroScreenView.js also fixes the problem on that screen.

[2021-07-23 00:25] pixelzoom commented on #226
I'm not familiar with `preventFit`, so here's the doc from Node.js:

[code]

So this sounds like a safe thing to set on a screen's ResetAllButton.  Is that correct?

[2021-07-23 18:17] jonathanolson commented on #226
It's a safe thing in general, mainly could only reduce/increase performance.

On the ResetAllButton sounds good, but placing preventFit on the content that moves might be more appropriate, in case layer splits are added in the future. Currently, it seems everything is going into one layer, so the preventFit flag on any of those nodes will cause the improved behavior.

Presumably the shifting of th

[2021-07-23 20:26] pixelzoom commented on #226
Thanks @jonathanolson.

I'm going to go with the least-cost solution here, and patch it into the 1.5 branch.  I'll  put `preventFit: true` on the ResetAllButton instances, along with a comment referencing this issue, and noting that this should be revisited if layer splits are added in the future.

[2021-07-23 20:42] pixelzoom commented on #226
Patched in master and 1.5 branches.  While this problem doesn't appear in ph-scale-basics, I did patch it in the 1.5 branch to prevent possible merge conflicts with future changes.

Ready for verification in the next RC.

Steps to verify for the My Solution screen:

1. Go to the My Solution screen
2. Set the AB switch at the top of the graph to "Quantity". (Does NOT happen with switch set to "Conc

[2021-07-23 21:13] pixelzoom commented on #209
RC tests (spot-check) published on 7/23/21:
* https://github.com/phetsims/qa/issues/677
* https://github.com/phetsims/qa/issues/678

[2021-07-26 13:52] #226 closed

[2021-07-26 14:00] Nancy-Salpepi commented on #223
I couldn't reproduce these issues in Studio or State. (MacBook 11.4 M1 chip + chrome)

[2021-07-26 14:00] #223 closed

[2021-07-26 14:04] Nancy-Salpepi commented on #227
Issue is fixed.

[2021-07-26 14:42] pixelzoom commented on #204
Closing this issue.  It's a general issue that pertains to any PhET-iO sim that has a combo box, being tracked in phetsims/sun#617.  We've decided for a couple of releases that it's not blocking for this sim, and that's not going to change.

[2021-07-26 14:42] #204 closed

[2021-07-26 16:06] pixelzoom commented on #225
For https://github.com/phetsims/qa/issues/677.

Reproduced in master and 1.5.0-rc.2.

[2021-07-26 16:17] KatieWoe commented on #155
This looks ok in rc.2

[2021-07-26 16:17] #155 closed

[2021-07-26 16:29] pixelzoom commented on #225
@Nancy-Salpepi's screen shot in https://github.com/phetsims/ph-scale/issues/225#issuecomment-886706291 shows OH- concentration of 9.9 x 10<sup>-8</sup>. That's the case that I'm seeing too.

The fix that was applied for this issue was to constrain the coefficient "slider" values to 1 decima place.  In this case, 9.9e-8 instead of 9.87856419106703e-8.    And by running with `?log`, I can see that i

[2021-07-26 17:10] pixelzoom commented on #225
I've implemented option (2) in master. The pH meter used in the Micro and My Solution screens now shows 3 decimal places for pH.  The pH meter in the Macro screen is unchanged, and still shows 2 decimals places.  Screenshots are shown below for the problem cases in the My Solution screen, where concentration of H3O+ or OH- is 9.9e-8.

@arouinfar please test-drive in master.  Is this an acceptable

[2021-07-26 17:14] pixelzoom commented on #225
The wider pH Meter causes the pH probe to move a bit to the right in the My Solutions screen. I verified that this does not cause the probe to overlap the other UI elements that are displayed in the beaker.  See screenshot below.

<img width="529" alt="screenshot_1087" src="https://user-images.githubusercontent.com/3046552/127030859-1e9d222c-cd99-4471-b365-76f61c599b7e.png">

[2021-07-26 18:27] pixelzoom commented on #225
Discussed with @arouinfar on Zoom.  Adding a decimal place to the pH meter trade one precision problem for another.  Changing the pH spinner by 0.001 increments is tedious, and doesn't change the H3O+ and OH- values.  And diluting a solution (e.g. Spit) in Micro screen also is problematic.  So I'll revert that change.

The next thing I'll try is a new option.  This problem occurs only when the val

[2021-07-26 18:31] arouinfar commented on #225
@Nancy-Salpepi this was a really great find and I think the change @pixelzoom made to constrain the values set by the graph indicators was necessary.

Here are some examples that demonstrate the dilution issue on the Micro screen.

* In the latest published version, it's possible to dilute the solution to 7.00 but have unequal H3O+ and OH- concentrations:
![image](https://user-images.githubusercon

[2021-07-26 18:42] pixelzoom commented on #225
Workaround implemented in the above 2 commits, which I'll need to cherry-pick to 1.5 branches.

@arouinfar please review in master, and let me know if this looks OK.

[2021-07-26 18:44] pixelzoom commented on #225
By the way.... This workaround is needed only when the graph is set to Concentration.  For Quantity, neutral pH corresponds to 5.0e-8.  And 4.9e-8 has no similar problem, as it results in a pH of 6.99.

[2021-07-26 19:15] pixelzoom commented on #225
Workaround implemented in the above 3 commits, which I'll need to cherry-pick to 1.5 branches.

This workaround is needed only when the graph is set to Concentration. For Quantity, neutral pH corresponds to H3O+ and OH- quantities of 5.0e-8 mol. And 4.9e-8 has no similar problem, as it results in a pH of 6.99.

@arouinfar please review in master, and let me know if this looks OK.

[2021-07-26 19:24] arouinfar opened #228 "Update Teacher Tips"
The Teacher Tips were last updated in 2015 and would likely benefit from review/revision. Note that this does not block the 1.5 release, as the updated tips cannot be uploaded until *after* publication.

TODOs:
- [x] Add a section for query parameters - `autofill`, `screens`, `supportsPanAndZoom`
  * autofill:  If true, the dropper will autofill the beaker to 0.50 L when switching solutes.
- [x] D

[2021-07-26 19:25] arouinfar commented on #225
Looks good in master @pixelzoom. I've created an issue to update the Teacher Tips (referenced above).

[2021-07-26 19:35] arouinfar opened #229 "Add showRatio query parameter to phet-io-guide"
Related to https://github.com/phetsims/qa/issues/677

Discovered in #228 when looking at the public query parameters in this sim. I was unaware of `showRatio`, but it should be included in  [phet-io-guide.md ](https://github.com/phetsims/phet-io-client-guides/blob/master/ph-scale/phet-io-guide.md) which documents all public-facing query parameters.

[2021-07-26 19:45] arouinfar commented on #229
Done in the above commit. Ready for cherry-picking @pixelzoom.

[2021-07-26 19:48] arouinfar commented on #229
Note that this query parameter is only relevant to ph-scale. No changes are necessary for ph-scale-basics.

[2021-07-26 20:49] pixelzoom commented on #229
Patched for ph-scale 1.5:

[code]

Not necessary to patch for ph-scale-basics 1.5.

Ready for verification in next RC.

[2021-07-26 20:54] pixelzoom commented on #225
Patched in ph-scale 1.5.  Not necessary to patch in ph-scale-basics 1.5, because this feature (and code) does not appear in that sim.

Ready for review in the next RC.

[2021-07-26 21:04] pixelzoom commented on #229
To test in 1.5.0-rc.3:

1. Go to https://phet-dev.colorado.edu/html/ph-scale/1.5.0-rc.3/phet-io/
2. Click on "PhET-iO Guide" link
3. Verify that `showRatio` appears in the table for "Simulation-specific Query Parameters".

[2021-07-26 21:20] pixelzoom commented on #209
RC test (spot-check) published on 7/26/2021:
* https://github.com/phetsims/qa/issues/679

[2021-07-26 21:50] KatieWoe commented on #229
Looks good in rc 3. I will note that the ratio can be hard to see near the extremes of ph

[2021-07-26 21:59] pixelzoom commented on #229
@Katie do you mean the numbers are difficult to see, because the large number of molecules results in (effectively) a blue or red background?  See screenshots below.

If so, that's a problem with the feature, not the query parameter or the PhET-iO Guide, and let's open a new issue.  This was originally a developer-only parameter.  When it was promoted to public-facing, we should have considered pu

[2021-07-26 22:02] KatieWoe commented on #229
Yes, that is what I meant.

[2021-07-26 22:17] KatieWoe opened #230 "showRatio numbers are hard to read against a large number of ions"
For https://github.com/phetsims/qa/issues/679 in relation to https://github.com/phetsims/ph-scale/issues/229.
When testing the query parameter showRatio, I noticed that the number ratio was a black number on the beaker. When the ratio is large, and there are a large number of red or blue ions in the beaker, the black number can be hard to see.
![image](https://user-images.githubusercontent.com/410

[2021-07-26 22:22] pixelzoom opened #231 "Is showRatio public, and should we fix related problems?"
From https://github.com/phetsims/ph-scale/issues/229#issuecomment-887055145...  With the `showRatio` query parameter, the numeric ratio of H3O+ to OH- is shown in the Micro and My Solution screens, like "15 / 169" in this screenshot:

<img width="552" alt="screenshot_1093" src="https://user-images.githubusercontent.com/3046552/127065415-bdf3014e-5183-4a86-ad10-dd84d9728d1d.png">

This was original

[2021-07-26 22:31] pixelzoom commented on #229
Thanks @KatieWoe, good point. I think this points to an error in making `showRatio` a public query parameter, see https://github.com/phetsims/ph-scale/issues/231.  And if that's the case, the commits here will need to be reverted.

[2021-07-26 22:32] pixelzoom commented on #230
Sorry for not coordinating with you on creation of this issue. Closing this as a duplicate, because it's a subset of #231.

[2021-07-26 22:32] #230 closed

[2021-07-26 22:41] arouinfar commented on #231
This is a sim that I inherited, so I was not around for the original design discussions. I discovered `showRatio` when looking at public query parameters for the Teacher Tips, and its comments included "For external use." If it was created as an internal testing tool, let's make it private and revert the commits in #229.

[2021-07-26 22:43] pixelzoom commented on #231
OK, I'm going to make `showRatio` private, and revert #229.  Like I said above, it became public almost certainly due to an error that I committed in https://github.com/phetsims/ph-scale/commit/45b250c5a859c18df5d470c62b273d6fa45a9c50.

[2021-07-26 22:52] pixelzoom commented on #231
`showRatio` is now private in master and 1.5 branches for ph-scale. It's irrelevant in the 1.5 branch for ph-scale-basics.

I also removed it from [2021 PhET Sim: Query Parameter Review](https://docs.google.com/spreadsheets/d/1TddeTtD8zAayJzs02g0fL7dR1iWYczs1CMFdYd3SBNc/edit).

Closing because there's really nothing for QA to verify here. It's an internal documentation change, and the behavior of

[2021-07-26 22:52] #231 closed

[2021-07-26 22:58] pixelzoom commented on #229
In #231, we decide that `showRatio` should be private.  So in the above commits, I removed `showRatio` from the PhET-iO Guide, in master and 1.5 branches.

Ready for verification in the next RC.  Steps to verify:

1. Go to https://phet-dev.colorado.edu/html/ph-scale/1.5.0-rc.4/phet-io/
2. Click on "PhET-iO Guide" link
3. Verify that `showRatio` DOES NOT appear in the table for "Simulation-specific

[2021-07-27 16:54] KatieWoe commented on #225
This looks ok in rc.3

[2021-07-27 16:54] #225 closed

[2021-07-27 17:25] pixelzoom commented on #209
RC test (spot-check) published on 7/27/2021:
* https://github.com/phetsims/qa/issues/681

[2021-07-27 17:28] pixelzoom commented on #228
@arouinfar The `showRatio` query parameter was reverted to private in #225, so you can skip that checklist item above.

[2021-07-27 18:04] pixelzoom opened #232 "Link to non-existent migration-guide.html in Wrapper Index"
For https://github.com/phetsims/qa/issues/681.

While testing #229, @KatieWoe noticed that opening the Wrapper Index prints this error to the console:

pH Scale (and pH Scale: Basics) has no Migration Guide.

So it looks like the changes for Migration Guide that @zepumph made in https://github.com/phetsims/phet-io/issues/1800 were not verified with a sim that does NOT have a Migration Guide.    Th

[2021-07-27 18:30] KatieWoe commented on #229
This has been don in rc4. Leaving open in case the team wants to do this after publication

[2021-07-27 18:40] pixelzoom commented on #229
There's nothing else to be done here after publication, so I'll go ahead and close this.

[2021-07-27 18:40] #229 closed

[2021-07-27 18:44] pixelzoom commented on #232
I will note that we could probably publish 1.5 without this fix, since the Wrapper Index functions OK.  But after all the time that we've put into Migration Guides, it seems wrong that the very first sim that we publish without a Migration Guide should have this problem.

[2021-07-27 19:16] pixelzoom commented on #232
In Slack phet-io channel discussion with @zepumph, he said that this is "working as it was designed and intended", and:

Imo this is not a "minor issue", and this is not a good design. There are straightforward ways to do this without creating console errors.  But I need to move on. So I'm going to close this issue, and publish with this problem.  It may eventually be addressed in https://github.c

[2021-07-27 19:16] #232 closed

[2021-07-27 19:22] pixelzoom commented on #209
https://github.com/phetsims/ph-scale/issues/232 was closed as "won't fix", so another RC is not necessary. Proceeding with production publication.

[2021-07-27 19:38] pixelzoom commented on #209
pH Scale 1.5.0 was published on 7/27/21.  `grunt production --branch=1.5 --brands=phet,phet-io` prints some reminders:

N/A.

https://docs.google.com/spreadsheets/d/18_QNGuVtYtxOEKG9xRBs_PSQpyvzySF1Gk5puR-5Fv4/edit#gid=1881767354
And check that the link in the public-facing document has the correct text and link:
https://docs.google.com/spreadsheets/u/1/d/e/2PACX-1vReSXUUxC63CQCKHIoO6qY4ycWrqgw8ea

[2021-07-27 19:48] #209 closed

[2021-07-27 19:49] pixelzoom commented on #228
@arouinfar pH Scale 1.5.0 and pH Scale: Basics 1.5.0 have been published, so you can proceed with updating the Teacher Tips.

[2021-07-29 07:19] arouinfar commented on #228
Updated tips for both sims have been uploaded to the PhET site, closing.

[2021-07-29 07:19] #228 closed

[2021-08-18 15:45] KatieWoe opened #233 "CT scientific notation is not supported"
[code]

[2021-08-18 18:27] pixelzoom commented on #233
This is due to changes made to `Utils.numberOfDecimalPlaces` in https://github.com/phetsims/dot/issues/109.   I won't be able to investigate until 8/23 at the earliest.

[2021-08-22 14:30] pixelzoom commented on #233
This was resolved by a fix in phetsims/dot#109. Closing.

[2021-08-22 14:30] #233 closed

[2021-09-28 23:09] pixelzoom commented on #226
After a discussion with @jonathanolson and learning more in  phetsims/scenery#1289, I moved the `preventFit: true` workaround to the ScreenView level.  It's now applied to all ScreenViews in this sim via this constant in PHScaleConstants:

[code]

[2022-02-04 17:14] KatieWoe opened #234 "CT designed api changes detected"
In both main and basics
[code]

[2022-02-07 01:03] pixelzoom commented on #234
According to @zepumph, this was caused by https://github.com/phetsims/phet-io/commit/2f55312540f657d5c893a0dc6d163d50907d4e8c#diff-32eb810879d5cf8fc29cbccd53bc20fa8713eea8ef401dd531554850b93b5f6cR179 for https://github.com/phetsims/studio/issues/243, and a failure to regenerate the API file for this sim.  CT currently shows the problem has been corrected. If it comes up again, please report in htt

[2022-02-07 01:03] #234 closed

[2022-07-05 16:32] KatieWoe opened #235 "CT: value should have typeof number, value=null"
The issue in CT is fairly long. Here is a part:
[code]

[2022-07-05 16:47] pixelzoom commented on #235
Reproduced in master with my working copy with
`http://localhost:8080/ph-scale/ph-scale_en.html?brand=phet&ea&debugger&fuzz&screens=3`

This is specific to the My Solution screen. There have been no changes to this sim, so it's likely a regression in common code.

[2022-07-05 17:02] pixelzoom commented on #235
Bisecting commits to ScientificNotationNode reveals that the problem was introduced in https://github.com/phetsims/scenery-phet/commit/5a032253.

[2022-07-05 17:11] pixelzoom commented on #235
Here's a failing unit test for ScientificNotatioNode.js:

[code]
![Uploading screenshot_1741.png…]()

[2022-07-05 17:34] pixelzoom commented on #235
Fixed in the above commit.  I'll leave this open until I've verified that CT is happy.

[2022-07-05 21:17] pixelzoom commented on #235
CT is happy. Closing.

[2022-07-05 21:17] #235 closed

[2022-07-07 05:06] kathy-phet opened #236 "pH Scale - Publish 1.6 with PhET-iO Upgrades"
As part of the "batch release" milestone https://github.com/orgs/phetsims/projects/44, publish _pH Scale_, for brands=phet,phet-io.

Ditto for _pH Scale: Basics_.  The 2 sims will be tested and published together.

[2022-07-13 20:46] pixelzoom opened #237 "Update QA credits for 1.6 release."
Update QA credits for 1.6 release.

Credits are shared with ph-scale-basics via `PHScaleConstants.CREDITS`.

[2022-08-26 21:00] samreid opened #238 "Tandem and class names for the phMeterNodes"
https://github.com/phetsims/tandem/issues/267 revealed that some of the phMeterNodes are actually AccordionBox instances, but they are not named as such.  Based on https://github.com/phetsims/tandem/issues/267, I renamed the tandems, but did not want to rename the implementation classes until we confirm the desired behavior.  @arouinfar can you please check the tandems and recommend:

* is `pHMete

[2022-08-26 21:20] arouinfar commented on #238
@samreid `pHMeterNodeAccordionBox` seems reasonable. I thought about shortening it to `pHMeterAccordionBox`, but the first screen contains a `pHMeterNode`, so I think `pHMeterNodeAccordionBox` is more consistent.

I already see `pHMeterNodeAccordionBox` in master, and it looks good. Not sure if there is anything else for this issue, so back to @samreid.

[2022-08-26 21:25] samreid commented on #238
Thanks, I renamed the file accordingly.  Closing.

[2022-08-26 21:27] pixelzoom commented on #238
`pHMeterNodeAccordionBox` is a little weird. But @arouinfar makes reasonable arguments, so I can certainly live with it.

I could also have lived with both of them being named `pHMeterNode`, because even the one that is an AccordionBox is logically a "pH Meter".   And I think it's fine for there to be exceptions to the tandem suffix conventions when it makes sense.

[2022-08-26 21:29] pixelzoom commented on #238
I will also note that anyone searching for `pHMeterAccordionBox`, which I did initially, is not going to find it.

[2022-08-26 21:48] pixelzoom commented on #238
Since class name `PHMeterNodeAccordionBox` is sufficiently weird/redundant to cause someone (including my future self) to pause... I've added this documentaton to PHMeterNodeAccordionBox.js in the above commit:

[code]

[2022-08-30 01:38] pixelzoom opened #239 "Add support for dynamic locale"
... similar to what was done in https://github.com/phetsims/natural-selection/issues/319.

This also includes ph-scale-basics.

[2022-08-30 01:39] pixelzoom opened #240 "Migration rules for 1.6 release"
#239 (add support for dynamic locale) will certainly result in many API changes. According to the PhET-iO spreadsheet, this sim needs to provide migration support from 1.5 to 1.6. So migration rules will be needed.

Note that this also includes ph-scale-basics.

Previous versions, for generating *-custom-wrapper.html files:

* https://phet-io.colorado.edu/sims/ph-scale/1.5/
* https://phet-io.color

[2022-08-30 01:40] pixelzoom opened #241 "PhET-iO design review for 1.6 release"
#239 (add support for dynamic locale) will certainly result in many API changes, and there have been many common-code API changes and additions.  So this sim will require a full design review of the PhET-iO API.

This includes ph-scale-basics.

[2022-08-30 01:51] pixelzoom commented on #239
Code specific to ph-scale-basics was completed in the above commit.

[2022-09-01 22:36] pixelzoom commented on #239
Next on my list, so raising priority.

[2022-09-01 22:40] pixelzoom commented on #239
Before doing this work, I published [1.6.0-dev.3](https://phet-dev.colorado.edu/html/ph-scale/1.6.0-dev.3) for `brands=phet,phet-io` as a baseline.

[2022-09-01 22:54] pixelzoom commented on #239
In the above commits, I did the low-hanging fruit -- the StringProperties that are passed directly to a Text/RichText constructor.

I can already tell that this sim is going to have significant layout problems.

[2022-09-02 15:28] pixelzoom commented on #241
Related to https://github.com/phetsims/tandem/issues/267 ... Tandem names for all `Text` nodes now have a "Text" suffix, for example "labelText", "titleText".   This is an API change. See above commits.

[2022-09-03 21:44] pixelzoom opened #242 "Convert to TypeScript"
Based on my experiences with adding dynamic-locale support to other sims, it's easier if the sim is in TypeScript.  For natural-selection (JavaScript), I did not convert to TypeScript, and it took ~2x as long as converting geometric-optics (a similar-size TypeScript sim). For molecule-polarity, I waited until I ran into problems to convert it to TypeScript, then the last (and most difficult) 20% w

[2022-09-04 00:45] kathy-phet commented on #242
Sounds good!

Sent from my iPhone

[2022-09-04 22:59] pixelzoom commented on #242
All files are converted to TypeScript.

There are 24 type-related problems that need to be resolved. Search for `TODO https://github.com/phetsims/ph-scale/issues/242` in the code.

[2022-09-06 17:10] pixelzoom commented on #242
There are 9 TODOs remaining. They are all related to the fact that pH (and concentration) can be `number | null`.  They are `null` when the beaker is empty.

[2022-09-06 19:19] pixelzoom commented on #238
As I said above:

This immediately came up in https://github.com/phetsims/ph-scale/issues/242 (convert to TypeScript).  After significant head scratching, and cursing myself for allowing PHMeterNodeAccordionBox to be named as such...

Micro pH Meter does not allow changing pH; My Solutions pH meter does.  To resolve TypeScript errors, I had to refactor PHMeterNodeAccordionBox into subclasses. And

[2022-09-07 17:46] pixelzoom commented on #239
@arouinfar ready for review.

[2022-09-07 18:01] pixelzoom opened #243 "SoluteIO 'name' does not update when locale is changed."
After adding support for dynamic locale in #239, we have a problem with SoluteIO.  It is currently defined like this:

[code]

And the value shown in Studio displays 'phetioID', 'name', and 'pH' fields, for example:

<img width="720" alt="screenshot_1855" src="https://user-images.githubusercontent.com/3046552/188947073-a66779da-f1ef-44bb-8ab3-93d06231fd5c.png">

The problem is that the name field

[2022-09-07 18:59] pixelzoom commented on #243
The easiest thing to do here would be to reimplement SoluteIO like this:

[code]

I'm not really convinced that showing Solute name and pH in Studio has much value.  The instructional designer can always consult the running sim. @arouinfar your thoughts?

[2022-09-07 21:10] samreid commented on #243
I'll self-unassign until we hear from @arouinfar, but I agree if information is in the sim, it does not need to be restated in studio.

[2022-09-07 22:08] pixelzoom commented on #242
Done, closing.

[2022-09-08 14:12] pixelzoom commented on #242
Thanks for the fix. A more complete fix is in the commit above -- the local variable and assertion are no longer needed, because `model.pHMeter` is now `pHMeter: MacroPHMeter` instead of `pHMeter: MacroPHMeter | null`.

No idea why this didn't error in my local lint, or in git hooks.

Closing.

[2022-09-08 16:48] samreid commented on #242
I think ph-scale and basics need to be added to tsconfig/all, I'll self-assign to do that.

[2022-09-08 16:53] pixelzoom commented on #242
This is news to me. What is "tsconfig/all"?  And when do I need to add a repo to it?

[2022-09-08 16:56] pixelzoom commented on #242
Looks like you mean chipper/tsconfig/all/tsconfig.json.   I have not been adding anything to this file, because I didn't know it was a requirement.  Missing are: molecule-polarity, ph-scale, ph-scale-basics, beers-law-lab, concentration.

[2022-09-08 20:14] samreid commented on #242
I added the missing remaining sims.  After changes in https://github.com/phetsims/chipper/issues/1324, the linter will tell us if it trying to lint any files that are not covered by the tsconfig, so that will help.  I think this issue can be closed.

[2022-09-09 20:02] arouinfar commented on #238
I completely agree. I think `pHAccordionBox` is conventional and human-readable, so I don't have any worries about clients interpreting the tandem name. It's also easily discoverable in the tree using the select feature in Studio.

[2022-09-09 20:02] #238 closed

[2022-09-09 20:06] arouinfar commented on #243
Can we drop the name field and instead just include the phetioID and pH? We include the pH so users know the undiluted value.

[2022-09-09 20:57] arouinfar commented on #239
@pixelzoom overall things look good in ph-scale. I didn't review the links to the StringProperties in the view components, since it sounds like that work is still outstanding. Let me know if you need any guidance before you begin.

I found a few issues with dynamic layout:

1.  `pHStringProperty` - the text does not remain centered and escapes the bounds of the pH Meter.
     <img width="154" alt=

[2022-09-09 21:37] pixelzoom commented on #239
1. and 2. above are certainly things that can be addressed. Thanks for identifying.

This is a general problem, not specific to ph-scale-basicis.  A sim's PhET-iO API currently includes every string Property, from every dependency repo, regardless of whether those strings are using in the sim.  Tracking in https://github.com/phetsims/phet-io/issues/1877.

[2022-09-09 23:04] pixelzoom commented on #243
I can certainly do that for SoluteIO.

But what's the plan for when a dynamic string needs to appear in an IOType in Studio. @zepumph @samreid? Should I create a general issue, and in which repo?

[2022-09-09 23:12] pixelzoom commented on #242
👍🏻

[2022-09-09 23:12] #242 closed

[2022-09-09 23:15] zepumph commented on #243
https://github.com/phetsims/ph-scale/issues/243#issuecomment-1239765179 seems fine to me. I see 2 other problems though:

1. It would be ideal if we could go to `phScale.global.model.solutes.soda` and see its `initialState`. It has serialization potential, but since it is `phetioState:false`, we don't get serialization data in the wrapper.
2. It seems like a weird bug in studio that I cannot expla

[2022-09-09 23:27] pixelzoom commented on #243
How/why does it have any serialization potential other than "reference"? It has no Properties that it owns, and `nameProperty` is a references to a localized string Property.

That does seem buggy.

I see the same problem in BLL with static solutes under `beersLawLab.global.model.solutes`.  Static solutions under `beersLawLab.beersLawScreen.model.solutions` look OK.

[2022-09-09 23:40] pixelzoom opened #244 "Horizontal separator in the control panel does not resize when locale is changed."
In https://github.com/phetsims/ph-scale/issues/239#issuecomment-1242464933, @arouinfar reported:

2.  `phScale.microScreen.view.beakerControlPanel.separator` does not change in size when the panel expands to accommodate long strings. Not sure if this is something that can be handled within the scope of dynamic layout, but wanted to point it out in case this behavior is unexpected or can be correct

[2022-09-09 23:41] pixelzoom opened #245 "Title on pH meter in Macro screen does not remain centered."
In https://github.com/phetsims/ph-scale/issues/239#issuecomment-1242464933, @arouinfar reported:

1.  `pHStringProperty` - the text does not remain centered and escapes the bounds of the pH Meter.
     <img width="154" alt="image" src="https://user-images.githubusercontent.com/8419308/189437763-12bf300b-919e-4cff-8f66-2efa2fbd1438.png">

[2022-09-09 23:42] pixelzoom commented on #239
I've created separate issues for each things that @arouinfar reported in https://github.com/phetsims/ph-scale/issues/239#issuecomment-1242464933. Closing.

[2022-09-09 23:42] #239 closed

[2022-09-09 23:49] pixelzoom commented on #244
Resizing of the separator was address in the above commit.

Because of https://github.com/phetsims/scenery/issues/1448, "separator" is now "divider", and that changes the PhET-iO API. This is the 3rd API that I've to change because of this today, and there are more on the way.  I don't think it's an improvement.  @kathy-phet FYI.

@arouinfar please review the behavior and API changes.  The revised

[2022-09-09 23:54] pixelzoom commented on #243
@arouinfar please review. SoluteIO 'name' field was removed in the above commit. Here's how the value of a `soluteProperty` looks in Studio:

<img width="721" alt="screenshot_1860" src="https://user-images.githubusercontent.com/3046552/189459932-848b5d12-ca84-4428-a172-e26776226bfe.png">

[2022-09-10 00:03] pixelzoom commented on #245
@arouinfar ready for review.

[2022-09-10 22:05] samreid commented on #243
It's unclear if I need to comment on any parts of this, I'll self-unassign for now but please reinvite me if necessary.

[2022-09-10 22:20] pixelzoom commented on #243
Yes @samreid -- I would still like you or @zepumph to reply to https://github.com/phetsims/ph-scale/issues/243#issuecomment-1242544779:

[2022-09-10 22:26] samreid commented on #243
Dynamic, localized strings should not appear in IOType documentation or method names.  If we need to link one PhetioObject to a LocalizedString, perhaps that could be done via a linked element?

[2022-09-10 22:31] pixelzoom commented on #243
It's not appearing in IOType documentation or method names. It's in the state object.

[2022-09-10 22:35] pixelzoom commented on #243
That is the problem that resulted in https://github.com/phetsims/axon/issues/414.  LocalizedStrings are `TReadOnlyProperty<string>` in Strings.ts files, which is not linkable.

[2022-09-10 22:42] samreid commented on #243
In https://github.com/phetsims/axon/issues/414 we will make the localized strings linkable.

Copying the current value of one instrumented property so it will show up in the state of another PhetioObject doesn't sound like a good idea to me.

This sounds like a job for linked elements, if I understand correctly.

[2022-09-10 22:44] pixelzoom commented on #243
You understand correctly, and I agree.  So I'll unassign @samreid and @zepumph.

I'll create a new ph-scale issue to link Solute to its `nameProperty` when https://github.com/phetsims/axon/issues/414 has been addressed.

Remaining work here is review by @arouinfar, see https://github.com/phetsims/ph-scale/issues/243#issuecomment-1242563941.

[2022-09-10 22:47] pixelzoom opened #246 "Add Solute link to nameProperty"
Related to https://github.com/phetsims/ph-scale/issues/243 ...

We removed `name` from SoluteIO because name is now dynamic, a Property, and as @samreid said in https://github.com/phetsims/ph-scale/issues/243#issuecomment-1242815159:

So when  https://github.com/phetsims/axon/issues/414 has been addressed, I will link Solute to its `nameProperty`.

[2022-09-12 17:06] arouinfar commented on #244
The dynamic layout issue has been addressed, and I don't see any technical issues with the new phetioIDs. However, we should make a decision about terminology in https://github.com/phetsims/scenery/issues/1448 before closing this out.

<img width="210" alt="image" src="https://user-images.githubusercontent.com/8419308/189713575-b2011f83-f968-4fca-a831-5bf9f8070864.png">

[2022-09-12 17:14] arouinfar commented on #245
Thanks @pixelzoom, looks good.

[2022-09-12 17:14] #245 closed

[2022-09-12 17:16] arouinfar commented on #243
Looks good, thanks @pixelzoom.

[2022-09-12 17:16] #243 closed

[2022-09-12 23:07] zepumph opened #247 "Why are Solute instances of phetioType ObjectIO?"
We are passing `Solute.SoluteIO` in as a phetioType, so I would have thought that would be the phetioType. Discovered while investigating https://github.com/phetsims/ph-scale/issues/243.

SOLUTION:

Ahhh, because all solutes are static instances, and so is the IOType. We need to create the IOType before the other statics. Commit coming soon.

[2022-09-12 23:09] zepumph commented on #247
@pixelzoom, this was my confusion over in (2) of https://github.com/phetsims/ph-scale/issues/243#issuecomment-1242549370. Note now how you can see the ph of the Solute in something like `phScale.global.model.solutes.blood` in studio as an "initial value". Please review.

[2022-09-12 23:19] pixelzoom commented on #247
Thanks. Good to know that TS is just as stupid as JS when it comes to static definitions.  I'll need to apply this to other sims too.

[2022-09-12 23:20] #247 closed

[2022-09-13 15:29] pixelzoom commented on #246
Before I actually do this, since it will be an API change...  In https://github.com/phetsims/ph-scale/issues/243, recall that we removed 'name' for SoluteIO, because it's now dynamic.   Would you like each Solute's `nameProperty` linked back to its corresponding translated string Property?

Here's how the the Studio tree currently looks.  The addition would be a `*nameProperty` link under each Sol

[2022-09-13 16:39] zepumph commented on #247
It is worth tagging @samreid just to make sure that he sees https://github.com/phetsims/ph-scale/commit/734e5ef5dec4f4acfccb298d1829930471a64485

[2022-09-13 20:36] pixelzoom commented on #244
"Separator" terminology was restored in https://github.com/phetsims/scenery/issues/1448, and "separator" tandem names were restored in the above commit.

@arouinfar please review, close if OK.  You can verify for searching for "divider" and "separator" in Studio.

[2022-09-13 20:38] pixelzoom commented on #244
"Separator" terminology was restored in https://github.com/phetsims/scenery/issues/1448, and "separator" tandem names were restored in the above commit.

@arouinfar please review, close if OK.  You can verify for searching for "divider" and "separator" in Studio.

[2022-09-13 20:59] pixelzoom commented on #236
Unassigning until this becomes a priority.

[2022-09-26 17:16] arouinfar commented on #244
Looks good, thanks!

[2022-09-26 17:16] #244 closed

[2022-09-26 17:21] arouinfar commented on #246
Great question @pixelzoom. If I remember correctly, `global.model.solutes` previously contained the `nameProperty` for each solute. Now that solute names are now under `general.model.strings` it seems best to link back to the appropriate `stringProperty`. Please proceed @pixelzoom.

[2022-09-26 20:01] pixelzoom commented on #246
Done in the above commit, for ph-scale and ph-scale-basics.  Screenshot below shows the ph-scale-basics Studio tree.

@arouinfar please review. Feel free to close.

<img width="245" alt="screenshot_1887" src="https://user-images.githubusercontent.com/3046552/192368910-d78800e5-8fa7-48a9-9192-025beea343d9.png">

[2022-10-03 16:58] pixelzoom opened #248 "Support for standard UI sounds"
@kathy-phet requested that I add support for UI sound (the standard common-code sounds) to ph-scale and ph-scale-basics.  There will be no custom sounds or sound design.

[2022-10-03 17:30] pixelzoom commented on #248
Standard UI sounds have been added. @arouinfar please review in master.

[2022-10-03 17:34] pixelzoom opened #249 "Support for alternative input"
@kathy-phet asked me to add alternative input to ph-scale and ph-scale-basics.

This includes:
- [x] add `"supportsInteractiveDescription": true` to package.json
- [x] keyboard traversal order
- [x] KeyboardDragListener for pH probe in the Macro screen
- [x] KeyboardDragListener for water faucets in Macro and Micro screens - common code, see https://github.com/phetsims/scenery-phet/issues/773
- [x

[2022-10-03 18:14] pixelzoom commented on #249
@kathy-phet @arouinfar FYI...

After discussion with @arouinfar, here's the list of things that are not going to be straightforward:

* Momentary button on dropper
* Dragging the dropper while the momentary button is pressed
* Faucet interaction and keyboard help, because it's common code (will require design)
* Which draggable things should have their own keyboard help, vs something like "Move Dr

[2022-10-05 01:19] pixelzoom commented on #249
Alt input for ph-scale is currently blocked by 2 issues:
* https://github.com/phetsims/scenery-phet/issues/773
* https://github.com/phetsims/sun/issues/796

That said, it's at a point where it's ready for @arouinfar to review.

I took my best guess at traveral order and keyboard help.

KeyboardDragListeners (for the draggable things) are configured like this:

* eye dropper: dragVelocity: 300, shi

[2022-10-05 02:11] pixelzoom opened #250 "CT: Assertion failed: Attempted to attach to an already attached pointer"
This is undoubtedly related to #249, where KeyboardDragListeners were added for alt input.

Note that CT is reporting this for ph-scale-basics, but not ph-scale.  But 99.9% of the code lives in ph-scale.

[code]

[2022-10-05 02:14] pixelzoom commented on #250
Reproduced manually in ph-scale-basic _and ph-scale_ by running from phetmarks with:

`?brand=phet&ea&fuzzBoard&supportsInteractiveDescription=true&memoryLimit=1000`

Unfortunately the stack trace is not more specific than what's shown above.  I can't tell which of several KeyboardDragListeners is failing.

[2022-10-05 02:26] pixelzoom commented on #250
Running with `?brand=phet&ea&debugger&fuzzBoard&screens=1`, I isolated this to the _Macro_ screen.  There are 2 KeyboardDragListeners involved in that screen - 1 in MacroPHMeterNode, 1 in PHDropperNode.  I tried commenting out one, then the other. Oddly, they both need to be included.  So it seems that one of them is remaining attached to the pointer, and I'm unclear on how/why that can happen.

[2022-10-05 02:47] pixelzoom commented on #250
The KeyboardDragListeners are very straightforward.

MacroPHMeterNode.ts:

[code]

PHDropperNode.ts:

[code]

The failure occurs at line 271 in KeyboardDragListener.ts:

[code]

`event.pointer.addInputListener` fails because `event.pointer.isAttached()` is true -- the pointer is already attached.

The comments indicate that this bit of code in KeyboardDragListener is related to pan/zoom, and git h

[2022-10-05 19:15] jessegreenberg commented on #250
Sorry you ran into this, but this problem was fixed with https://github.com/phetsims/scenery/issues/1461. I let the sim fuzz for 15 min with `?brand=phet&ea&debugger&fuzzBoard&screens=1` and never saw the problem. Then reverted the change there and hit it right away. @pixelzoom over to you to confirm and close.

[2022-10-06 06:00] arouinfar commented on #249
Thanks @pixelzoom! Overall, looks good. The Keyboard Help content seems fine for now, but we'll likely need to adjust it once the FaucetNode interaction is finalized.

The focus order on the Macro screen is perfect, but Micro and My Solution feels slightly off. The order seems like a natural way to traverse through the interactive objects based on their visual layout. However, the graph area contr

[2022-10-06 16:48] arouinfar commented on #246
Looks good, thanks @pixelzoom!

[2022-10-06 16:48] #246 closed

[2022-10-06 16:57] arouinfar commented on #241
Getting started on this now. Review will focus on:
- [x] Review dynamic layout/strings, #239
- [ ] Verify `stringProperties` are linked appropriately in the view
- [ ] Review `phetioFeatured` elements and update overrides as needed
- [ ] Update examples.md for [ph-scale](https://github.com/phetsims/phet-io-sim-specific/blob/master/repos/ph-scale/client-guide/examples.md) and [ph-scale-basics](http

[2022-10-06 17:21] arouinfar opened #251 "Add links to `stringProperty`"
Related to #241

@pixelzoom there are a few places in the tree that could use a link back to the corresponding `stringProperty`

- [ ] `*.view.graphNode.graphControlPanel.graphUnitsSwitch.concentrationText` - link to both `concentrationStringProperty` and `molesPerLiterStringProperty`)
- [ ] `*.view.graphNode.graphControlPanel.graphUnitsSwitch.quantityText` - link to both `quantityStringProperty`

[2022-10-06 17:53] pixelzoom commented on #250
Confirmed - CT is no longer reporting this problem, and I can no longer reproduce locally. Thanks for the quick fix! Closing.

[2022-10-06 17:53] #250 closed

[2022-10-06 18:40] pixelzoom commented on #251
...

Because these are DerivedProperties, they are not links. It's a matter of instrumenting the DerivedProperties.  So the Studio tree for `graphUnitsSwitch` looks like:

<img width="379" alt="screenshot_1921" src="https://user-images.githubusercontent.com/3046552/194390547-2f108c77-f79b-4514-9b41-a57bfad271db.png">

And `beakerControlPanel.ratioCheckbox` looks like this:

<img width="393" alt="s

[2022-10-06 19:43] pixelzoom commented on #249
Yep, I'm planning on it.

Done, ready for review.

[2022-10-06 19:47] pixelzoom commented on #248
I very much agree. In general, I haven't had a good feeling about adding UI sound to sims where the majority of interaction is with non-standard UI components that have no sound.  It's a very odd user experience.

[2022-10-06 19:48] pixelzoom commented on #248
I very much agree. And I feel the same way about the first screen of pH Scale, not just Basics.

In general, I haven't had a good feeling about adding UI sound to sims where the majority of interaction is with non-standard UI components that have no sound.  It's a very odd user experience.

[2022-10-07 14:59] arouinfar commented on #251
Thanks for the clarification @pixelzoom. Everything looks good in master, closing.

[2022-10-07 14:59] #251 closed

[2022-10-07 15:15] arouinfar commented on #249
@pixelzoom focus order all looks good, but I discovered the OH- graph indicator isn't working as it should.

Steps to reproduce:
1. Open My Solution
2. Tab to the OH- graph indicator
3. Use either up or down arrow, and you'll see this:

https://user-images.githubusercontent.com/8419308/194587028-a1823d65-e297-4236-b874-e76981acb57b.mov

This happens in macOS 12.4 in Chrome 106 and Safari 15.5.

[2022-10-07 15:25] pixelzoom commented on #249
Reproduced.  And the H3O+ indicator does not have this problem.

[2022-10-07 15:29] pixelzoom commented on #249
The KeyboardDragListener for the OH- indicator was incorrrectly wired up to the same arguments as the H3O+ indicator --- a copy-paste error.  Fixed in the above commit.  Good catch @arouinfar, please verify in master.

[2022-10-07 16:00] arouinfar commented on #249
Looks great, thanks @pixelzoom!

[2022-10-07 18:43] pixelzoom commented on #249
Yes, let's leave this open and "on-hold".

@kathy-phet @arouinfar reminder that further work is blocked by:
* https://github.com/phetsims/sun/issues/796
* https://github.com/phetsims/scenery-phet/issues/773

I don't know what the timeframe is for getting pH Scale into QA, but it's unlikely to happen any sooner than 1 week after those issues are addressed.

[2022-10-07 19:53] pixelzoom opened #252 "Dropper does not need to be movable for alt input."
Related to #249 (support for alt input)...

@arouinfar and I discussed potential problems with the dropper.

Being able to move the dropper is not significant to learning goals, but (during Java version design) was kept to make the sim more "fun".  That immediately caused problems with how to press the button and drag the dropper at the same time, which we did figure out how to do for mouse/touch.

[2022-10-07 20:07] pixelzoom commented on #252
Before making changes, I published [1.6.0-dev.4](https://phet-dev.colorado.edu/html/ph-scale/1.6.0-dev.4/phet/ph-scale_en_phet.html) with the original alt-input behavior of the dropper, where the dropper is movable via the keyboard.

After making changes, I published [1.6.0-dev.5](https://phet-dev.colorado.edu/html/ph-scale/1.6.0-dev.5/phet/ph-scale_en_phet.html) with the revisions described above

[2022-10-07 21:46] arouinfar commented on #252
Thanks @pixelzoom, looks good in dev.5, closing.

[2022-10-07 21:46] #252 closed

[2022-10-08 15:23] kathy-phet commented on #248
Noted. Sounds like a good thing to discuss re UI sounds. Let's connect with @Ashton-Morris and @jbphet. Could adding some sounds to these kinds of UI elements be part of the upcoming sprint week along with the alt-input work? Momentary button seems reusable?

[2022-10-10 17:09] jbphet commented on #248
No problem for me doing so if that's the priority.

[2022-10-12 22:25] samreid commented on #240
I'll reassign this when we get closer to that stage. Self-unassigning for now.

[2022-10-28 21:48] pixelzoom commented on #249
@kathy-phet @arouinfar what is the the status of the work that is blocking this issue? Has it been started? Is it scheduled? Who is doing it?

[2022-10-28 22:33] arouinfar commented on #249
I've provided feedback for both of the blocking issues, and it's my understanding that it's up to the a11y team to get things working. I hoped that these issues came up during this week's sprint, but I suppose there was more fundamental work to be done.

* Momentary buttons: we already have an alt input pattern for standard toggle buttons, so I think we could try treating momentary buttons like st

[2022-11-13 02:58] pixelzoom opened #253 "Implement dispose for keyboard-help content"
Related to https://github.com/phetsims/scenery-phet/issues/769 ...

This sim currently does not dispose of keyboard-help content, and currently has `dispose` implemented like this:

[code]

The sim will therefore fail in the PhET-iO State Wrapper, because it creates and then immediately disposes PhetioCapsules on startup.

Implement `dispose` for these classes:

- [x] MacroKeyboardHelpContent
- [x

[2022-11-13 03:04] pixelzoom commented on #253
There are plans for a PhET-iO release of this sim, so self assigning.

[2022-11-17 21:51] pixelzoom commented on #248
In Slack, @kathy-phet wrote:

I chatted with Amy and we will move forward with pH Scale / pH Scale Basics phet-io.
Disable the sounds
and make a call on whether to leave the existing keyboard navigation in, but not label it as supported, or just disable it entirely. Amy said it is helpful, even if it isn't perfect.
Amy will prioritize her review of the current tree. She has reviewed it previously,

[2022-11-17 22:02] pixelzoom commented on #249
@kathy-phet wrote me on Slack:

Slack discussion with @arouinfar:

@pixelzoom

@arouinfar

@pixelzoom

[2022-11-17 22:13] pixelzoom opened #254 "Add support for color profiles"
ph-scale currently does not support color profile, or the phetmarks Color Editor.

[2022-11-17 22:34] pixelzoom commented on #254
Bailing on this. Too much work for close to zero gain.  Closing.

[2022-11-17 23:36] pixelzoom commented on #249
Alternative input was disabled in the above commits, by removing `"supportsInteractiveDescription": true` from package.json for ph-scale and ph-scale-basics.

Unassigning and labeling this issue as deferred, to be addressed sometime after publication of 1.6 PhET-iO.

[2022-11-17 23:47] pixelzoom commented on #249
In the above commits, I also commented out `createKeyboardHelpNode` in a Screens. Otherwise the keyboard help is created and disposed by the State wrapper, and we'll have the memory leak.  These lines of code (noted with a TODO referencing this issue) should be restored when work on this is resumed.

[2022-11-17 23:48] pixelzoom commented on #253
Note that we decided to punt on alt input and keyboard help for the 1.6 release. See https://github.com/phetsims/ph-scale/issues/249.

Also note that `createKeyboardHelpNode` options will need to restored before working on this issue, see https://github.com/phetsims/ph-scale/issues/249#issuecomment-1319357824.

[2022-11-18 00:10] pixelzoom commented on #249
In the above commits, I also commented out `createKeyboardHelpNode` in a Screens. Otherwise the keyboard help is created and disposed by the State wrapper, and we'll have the memory leak.  These lines of code (noted with a TODO referencing this issue) should be restored when work on this is resumed.

[2022-11-22 20:30] samreid commented on #240
@pixelzoom said on slack:

[2022-11-29 22:11] pixelzoom commented on #254
Reopening. This is apparently something that a client asked for.

[2022-11-29 22:15] pixelzoom commented on #254
This includes colors in PHSColors.ts and Solute.ts.   Only the Solute colors should be instrumented.

[2022-11-30 00:10] pixelzoom commented on #254
@arouinfar and I investigated this.

We discovered that each Solute has 3 associated colors, and they are interrelated. `stockColor` is the color of the undiluted solute. `dilutedColor` is the color when the solute is barely present in the solution.  `colorStopColor` is used to smooth out transitions between `stockColor` and `dilutedColor`, so that we don't encounter weird colors during interpolat

[2022-11-30 00:10] #254 closed